<style>
    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }

    .list-group-item:hover {
        cursor: pointer;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">新增启动图</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('welcomeimg');">启动图列表</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="span10 tongzhiheight">
                <div class="col-md-9">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">启动图标题<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-model="param.title"
                                       placeholder="启动图标题">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">启动图开始时间<span
                                    class="form_label_dangus">*</span></label>

                            <div class="">
                                <hjm_date_time ng-model="param.date_min" showtip="1"></hjm_date_time>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">启动图结束时间<span
                                    class="form_label_dangus">*</span></label>

                            <div class="">
                                <hjm_date_time ng-model="param.date_max"></hjm_date_time>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">启动图上传<span
                                    class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <show-upload images="update.pics" max="1" hasimages=""></show-upload>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <a class=" btn btn-success" ng-click="preview_img(640,960)">640*960</a>
                                <a class=" btn btn-success" ng-click="preview_img(640,1136)">640*1136</a>
                                <a class=" btn btn-success" ng-click="preview_img(750,1334)">750*1334</a>
                                <a class=" btn btn-success" ng-click="preview_img(1242,2208)">1242*2208</a>
                                <a class=" btn btn-success" ng-click="preview_img(1125,2001)">1125*2001</a>
                                <a class=" btn btn-success" ng-click="preview_img(720,1280)">720*1280</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">页面跳转<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <div class="list-group">
                                    <label class="list-group-item" ng-class="{active:update.target_type == '0'}">
                                        <input type="radio" name="target_type"
                                               ng-model="update.target_type" ng-value="0">
                                        不跳转</label>
                                    <label class="list-group-item" ng-class="{active:update.target_type == '1'}">
                                        <input type="radio" name="target_type"
                                               ng-model="update.target_type" ng-value="1">
                                        跳转 【小区】频道</label>
                                    <label class="list-group-item" ng-class="{active:update.target_type == '2'}">
                                        <input type="radio" name="target_type"
                                               ng-model="update.target_type" ng-value="2">
                                        跳转 【邻居】频道</label>
                                    <label class="list-group-item" ng-class="{active:update.target_type == '3'}">
                                        <input type="radio" name="target_type"
                                               ng-model="update.target_type" ng-value="3">
                                        跳转 【活动】频道</label>
                                    <label class="list-group-item" ng-class="{active:update.target_type == '4'}">
                                        <input type="radio" name="target_type"
                                               ng-model="update.target_type" ng-value="4">
                                        跳转 【团购】频道</label>
                                    <label class="list-group-item" ng-class="{active:update.target_type == '5'}">
                                        <input type="radio" name="target_type"
                                               ng-model="update.target_type" ng-value="5">
                                        跳转 至 链接</label>
                                    <label class="list-group-item" ng-class="{active:update.target_type == '6'}">
                                        <input type="radio" name="target_type"
                                               ng-model="update.target_type" ng-value="6">
                                        跳转 【话题】详情页</label>
                                    <label class="list-group-item" ng-class="{active:update.target_type == '7'}">
                                        <input type="radio" name="target_type"
                                               ng-model="update.target_type" ng-value="7">
                                        跳转 【达人】详情页</label>
                                    <label class="list-group-item" ng-class="{active:update.target_type == '8'}">
                                        <input type="radio" name="target_type"
                                               ng-model="update.target_type" ng-value="8">
                                        跳转 【活动】详情页</label>
                                    <label class="list-group-item" ng-class="{active:update.target_type == '9'}">
                                        <input type="radio" name="target_type"
                                               ng-model="update.target_type" ng-value="9">
                                        跳转 【团购】详情页</label>
                                    <a class="list-group-item">
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label" ng-show="update.label!=''">{{update.label}}</label>

                                            <div class="col-sm-11">
                                                <input type="text" class="form-control" ng-model="update.param"
                                                       ng-disabled="update.target_type_input_disabled">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">url<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" disabled="disabled"
                                       ng-model="param.url"></input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-success" ng-click="save()">保存</a>
        </div>
    </div>
</div>