<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }

    .img_a {
        display: inline-block;
        width: 50px;
        max-height: 50px;
        max-width: 30%;
        cursor: pointer;
        margin-right: 3px;
    }

    .img_a > img {
        width: 50px;
        height: 50px;
    }

    .big_pic {
        width: 500px;
        max-width: 100%;
        max-height: 100%;
    }

    .img_a.big_pic > img {
        width: auto;
        height: auto;
    }
</style>
<script type="text/ng-template" id="update_status.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">更新状态</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">启动图</div>
        <div class="panel-body ">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('welcomeimgadd');">新增启动图</a>
                </div>
                <br/>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                <th style="width: 50px;">ID</th>
                <th style="width: 50px;">标题</th>
                <th style="width: 250px;">图片</th>
                <th style="width: 50px;">更新时间</th>
                <th style="width: 150px;">在线时间</th>
                <th style="width: 50px;">状态</th>
                <th style="width: 50px;">操作</th>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="item in list">
                    <td><span class="msg_title" bo-text="item.welcome_id"></span></td>
                    <td><span style="width: 200px;word-wrap: break-word;" class="msg_title"
                              bo-text="item.title"></span></td>
                    <td>
                        <div class="img_a" ng-class="{big_pic:item.toggleclass}">
                            <img class="img-responsive" bo-src="item.image"
                                 ng-click="item.toggleclass = !item.toggleclass">
                        </div>
                    </td>
                    <td><span class="msg_title" bo-text="item.updated_at"></span></td>
                    <td><span class="msg_title" bo-text="item.date_min +'~' +item.date_max"></span></td>
                    <td><span class="msg_title" ng-bind="item.status | welcome_status"></span></td>
                    <td>
                        <a class="btn btn-primary"
                           ng-click="update_all(item)">编辑</a>
                        <a class="btn btn-success" ng-show="item.status != 1"
                           ng-click="update(item.welcome_id,1,$index)">启用</a>
                        <a class="btn btn-danger" ng-show="item.status == 1"
                           ng-click="update(item.welcome_id,2,$index)">下线</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" id="pagination">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            max-size="maxSize" class="pagination"
                            boundary-links="true" ng-change="getapi(currentPage)"
                            rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>