<div class="dashboard-page ">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title" ng-if="!param.id">新增</h3>
      <h3 class="panel-title" ng-if="param.id">更新</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" name="FormBody" novalidate>
        <div class="panel panel-primary">
          <div class="panel-body">
            <div form-input text="ID" ng-model="param.id" placeholder="id" ng-show="$stateParams.id"
                 ng-disabled="true"></div>
            <div form-input text="名称" ng-model="param.name" placeholder="名称" required="true"></div>
            <div form-input text="code" ng-model="param.code" placeholder="code" required="true"></div>
            <div form-textarea text="SQL" ng-model="param.sql" placeholder="sql" required="true"></div>
            <div form-textarea text="备注" ng-model="param.remark" placeholder="remark" required="true"></div>
          </div>
        </div>
        <div form-error-block></div>
        <a class="btn btn-success btn-rounded pull-right" ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
      </form>
    </div>
  </div>
</div>