<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }
</style>
<script type="text/ng-template" id="activity_del_user.html">
    <div class="modal-header">
        <h3 class="modal-title">结束活动</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">结束原因<span class="form_label_dangus">*</span></label>

                <div class="col-sm-6">
                    <textarea class="form-control" rows="3" id="reason" ng-model="reason" placeholder="结束原因">
                    </textarea>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="update_accomplish_status.html">
    <div class="modal-header">
        <h3 class="modal-title">更新成团状态</h3>
    </div>
    <div class="modal-body">
        <div class="text-left">确定后会给报名此小区用户发送推送消息</div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">更新原因<span class="form_label_dangus">*</span></label>

                <div class="col-sm-6">
                    <textarea class="form-control" rows="3" id="reason" ng-model="reason" placeholder="结束原因">
                    </textarea>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="user_list.html">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="activityTitle"></h3>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered">
            <thead>
            <th>订单号</th>
            <th>用户姓名</th>
            <th>手机号码</th>
            <th>所在小区</th>
            <th>详细地址</th>
            <th>报名品类</th>
            <th>价格</th>
            <th>当前状态</th>
            <th>操作</th>
            </thead>
            <tbody>

            <tr bindonce ng-repeat="user in user_list">
                <td><span class="msg_title" bo-text="user.order_id"></span></td>
                <td><span class="msg_title" bo-text="user.name"></span></td>
                <td><span class="msg_title" bo-text="user.mobile"></span></td>
                <td><span class="msg_title" bo-text="user.community_name"></span></td>
                <td>
                    <span class="msg_title" bo-text="'联系人：'+user.contact_name"></span><br>
                    <span class="msg_title" bo-text="'联系人电话：'+user.contact_mobile"></span><br>
                    <span class="msg_title" bo-text="'联系地址：'+user.contact_address"></span>
                </td>
                <td><span class="msg_title" bo-text="user.order_body"></span></td>
                <td><span class="msg_title" bo-text="user.order_price"></span></td>
                <td><span class="msg_title" ng-bind="user.order_status | order_status"></span></td>
                <td>
                    <a class="btn btn-danger"
                       ng-if="user.order_status == 0||user.order_status == 1||user.order_status == 3"
                       ng-click="activity_del_user(user.user_id,user.order_id,$index,sup_index)">取消报名</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">活动申请小区列表</div>
        <div class="panel-body">
            <ol class="breadcrumb">
                <li class="active">活动名称:</li>
                <li><a ng-bind="activityTitle" ui-sref="activity21"></a></li>
                <li class="active">活动小区</li>
            </ol>
        </div>
        <div class="panel-body">
            <div class="panel" ng-bind="tuan_type|tuan_type"></div>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                <th>报名小区</th>
                <th ng-if="tuan_type!=1">活动人数</th>
                <th>报名人数</th>
                <th>已支付</th>
                <th>状态</th>
                <th>操作</th>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="item in community_list">
                    <td><span class="msg_title" bo-text="item.community_name"></span></td>
                    <td ng-if="tuan_type!=1"><span class="msg_title"
                                                   bo-text="item.people_min_num+'-'+item.people_num"></span></td>
                    <td>
                        <!--<a class="btn btn-success"-->
                        <!--ng-click="user_list(item.community_name,item.users,$index);">-->
                        <span class="msg_title" bo-text="item.apply_count"></span>
                        <!--<a>-->
                    </td>
                    <td>
                        <a class="btn btn-success"
                           ng-click="user_list(item.community_id,$index);">
                            <span class="msg_title" ng-bind="item.payment_count"></span>
                            <a>
                    </td>
                    <td><span class="msg_title" ng-bind="item.accomplish_status | accomplish_status"></span></td>
                    <td>
                        <a class="btn btn-success" ng-if="item.accomplish_status == 0"
                           ng-click="update_accomplish_status(item.community_id,1,$index)">成团</a>
                        <a class="btn btn-danger" ng-if="item.accomplish_status == 0 || item.accomplish_status == 1"
                           ng-click="update_accomplish_status(item.community_id,2,$index)">取消</a>
                        <!--<a class="btn btn-danger" ng-if="item.accomplish_status == 0"-->
                        <!--ng-click="update(item.community_id,0,$index)">不成团</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" id="pagination">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            max-size="maxSize" class="pagination"
                            boundary-links="true" ng-change="getapi(currentPage)" items-per-page="10"
                            rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>