<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }

    .activitynewadd_time_div {
        padding-left: 0;
        padding-right: 0;
    }

    .activitynewadd_time {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .community_name {
        width: 48% !important;
    }

    .search_community_list {
        position: absolute;
        top: 100%;
        left: 100%;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

    .search_community_list > li {
        width: 100%;
    }

    .search_community_list > li > a.divider {
        height: 1px;
        margin: 1px 0;
        overflow: hidden;
        background-color: #e5e5e5;
        padding: 0;
    }

    .search_community_list > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }

    .search_community_list > li > a:hover {
        background-color: #13c4a5;
        color: #fff;
    }

    .select_name {
        width: 200px;
        height: 34px;
        margin-right: 15px;
    }

    .community_title {
        height: 20px;
    }

    .add_community {
        padding-right: 18px;
    }

    .community_li_div {
        width: 100%;
    }

    .community_li_div > .input-group-btn {
        width: 50%;
    }

    .community_li_div > .input-group-btn > input {
        width: 100%;
    }

    .tongzhiheight {
        height: 600px;
    }

    .tongzhieditor {
        width: 100%;
        height: 546px;
    }
</style>
<script type="text/ng-template" id="cancel_status.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">取消活动</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">取消原因<span class="form_label_dangus">*</span></label>

                <div class="col-sm-6">
                    <textarea class="form-control" rows="3" id="reason" ng-model="reason" placeholder="取消原因">
                    </textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="update_status.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">更新活动状态</h3>
    </div>
    <!--<div class="modal-body">-->
    <!--</div>-->
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="activity_del_user.html">
    <div class="modal-header">
        <h3 class="modal-title">结束活动</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">结束原因<span class="form_label_dangus">*</span></label>

                <div class="col-sm-6">
                    <textarea class="form-control" rows="3" id="reason" ng-model="reason" placeholder="结束原因">
                    </textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="user_list.html">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="activityTitle"></h3>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered">
            <thead>
            <th>订单号</th>
            <th>用户姓名</th>
            <th>手机号码</th>
            <th>所在小区</th>
            <th>详细地址</th>
            <th>报名品类</th>
            <th>价格</th>
            <th>当前状态</th>
            <th>操作</th>
            </thead>
            <tbody>

            <tr bindonce ng-repeat="user in user_list">
                <td><span class="msg_title" bo-text="user.order_id"></span></td>
                <td><span class="msg_title" bo-text="user.name"></span></td>
                <td><span class="msg_title" bo-text="user.mobile"></span></td>
                <td><span class="msg_title" bo-text="user.community_name"></span></td>
                <td>
                    <span class="msg_title" bo-text="'联系人：'+user.contact_name"></span><br>
                    <span class="msg_title" bo-text="'联系人电话：'+user.contact_mobile"></span><br>
                    <span class="msg_title" bo-text="'联系地址：'+user.contact_address"></span>
                </td>
                <td><span class="msg_title" bo-text="user.order_body"></span></td>
                <td><span class="msg_title" bo-text="user.order_price"></span></td>
                <td><span class="msg_title" ng-bind="user.order_status | order_status"></span></td>
                <td>
                    <a class="btn btn-danger"
                       ng-if="user.order_status == 0||user.order_status == 1||user.order_status == 3"
                       ng-click="activity_del_user(user.user_id,user.order_id,$index,sup_index)">取消报名</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="close_activenew.html">
    <div class="modal-header">
        <h3 class="modal-title">结束活动</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">结束原因<span class="form_label_dangus">*</span></label>

                <div class="col-sm-6">
                    <textarea class="form-control" rows="3" id="reason" ng-model="reason" placeholder="结束原因">
                    </textarea>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">立即结束</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">V2.1活动</div>
        <div class="panel-body ">
            <div class="panel">
                <ul class="nav nav-pills">
                    <li role="presentation">
                        <a class="btn">结伴模式:</a>
                    </li>
                    <li role="presentation" ng-class="{active:list_param.tuan_type ==0}">
                        <a class="btn btn-link" ng-click="list_param.tuan_type=0;getapi(1);">全部</a>
                    </li>
                    <li role="presentation" ng-class="{active:list_param.tuan_type ==1}">
                        <a class="btn btn-link" ng-click="list_param.tuan_type=1;getapi(1);">独立团</a>
                    </li>
                    <li role="presentation" ng-class="{active:list_param.tuan_type ==2}">
                        <a class="btn btn-link" ng-click="list_param.tuan_type=2;getapi(1);">一起团</a>
                    </li>
                </ul>
                <ul class="nav nav-pills">
                    <li role="presentation">
                        <a class="btn">活动类型:</a>
                    </li>
                    <li role="presentation" ng-class="{active:list_param.category ==0}">
                        <a class="btn btn-link" ng-click="list_param.category=0;getapi(1);">全部</a>
                    </li>
                    <li role="presentation" ng-class="{active:list_param.category ==1}">
                        <a class="btn btn-link" ng-click="list_param.category=1;getapi(1);">活动</a>
                    </li>
                    <li role="presentation" ng-class="{active:list_param.category ==2}">
                        <a class="btn btn-link" ng-click="list_param.category=2;getapi(1);">团购</a>
                    </li>
                </ul>
                <ul class="nav nav-pills">
                    <li role="presentation">
                        <a class="btn">报名状态:</a>
                    </li>
                    <li role="presentation" ng-class="{active:list_param.activity_status ==0}">
                        <a class="btn btn-link" ng-click="list_param.activity_status=0;getapi(1);">全部</a>
                    </li>
                    <li role="presentation" ng-class="{active:list_param.activity_status ==1}">
                        <a class="btn btn-link" ng-click="list_param.activity_status=1;getapi(1);">报名中</a>
                    </li>
                    <li role="presentation" ng-class="{active:list_param.activity_status ==2}">
                        <a class="btn btn-link" ng-click="list_param.activity_status=2;getapi(1);">报名截止</a>
                    </li>
                    <li role="presentation" ng-class="{active:list_param.activity_status ==3}">
                        <a class="btn btn-link" ng-click="list_param.activity_status=3;getapi(1);">精彩回顾</a>
                    </li>
                </ul>
                <ul class="nav nav-pills">
                    <li role="presentation">
                        <a class="btn">活动状态:</a>
                    </li>
                    <li role="presentation" ng-class="{active:list_param.status ==0}">
                        <a class="btn btn-link" ng-click="list_param.status=0;getapi(1);">草稿箱</a>
                    </li>
                    <li role="presentation" ng-class="{active:list_param.status ==1}">
                        <a class="btn btn-link" ng-click="list_param.status=1;getapi(1);">发布的活动</a>
                    </li>
                    <li role="presentation" ng-class="{active:list_param.status ==2}">
                        <a class="btn btn-link" ng-click="list_param.status=2;getapi(1);">下线的活动</a>
                    </li>
                    <li role="presentation" ng-class="{active:list_param.status ==3}">
                        <a class="btn btn-link" ng-click="list_param.status=3;getapi(1);">取消的活动</a>
                    </li>
                </ul>
                <div class="col-sm-3">
                    <select class="form-control"
                            ng-change="getapi(1);"
                            ng-model="list_param.account_id"
                            ng-options="account.account_id as account.username for account in account_list">
                        <option value="" disabled="true">请选择联系人账户</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('activity21add');">新增活动</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                <th>ID</th>
                <th style="width: 100px;">活动名称</th>
                <th style="width: 100px;">发布时间</th>
                <th style="width: 100px;">活动时间</th>
                <th>截止报名</th>
                <th>覆盖小区</th>
                <th>报名人数</th>
                <th style="width: 100px;">结伴模式</th>
                <th style="width: 90px;">活动类型</th>
                <th>已报名小区</th>
                <th>已报名用户</th>
                <th>精彩回顾</th>
                <th>咨询回复</th>
                <th>发布者</th>
                <th style="width: 100px;" ng-if="list_param.status!=0;">状态</th>
                <th>操作</th>
                <th ng-if="list_param.status!=0;">活动通知</th>
                <th ng-if="list_param.status==0;">草稿上线</th>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="activity in activity_list">
                    <td><span class="msg_title" bo-text="activity.activity_id"></span></td>
                    <td><span class="msg_title" bo-text="activity.activity_title"></span></td>
                    <td><span class="msg_title" bo-text="activity.created_at"></span></td>
                    <td><span class="msg_title" bo-text="activity.activity_date_range"></span></td>
                    <td><span class="msg_title" bo-text="activity.activity_apply_end_time"></span></td>
                    <td><span class="msg_title" bo-text="activity.target_type | target_type"></span></td>
                    <td><span class="msg_title" bo-text="activity.people_min_num + '-' +activity.people_num "></span>
                    </td>
                    <td><span class="msg_title" bo-text="activity.tuan_type | tuan_type"></span></td>
                    <td><span class="msg_title" bo-text="activity.category | activity_category"></span></td>
                    <td>
                        <a class="btn btn-success" ng-click="$state.go('activity21_apply_list',
                        {activityId:activity.activity_id,activityTitle:activity.activity_title});">
                            <span class="msg_title" bo-text="activity.apply_community_count"></span>
                            <a>
                    </td>
                    <td>
                        <a class="btn btn-success"
                           ng-click="user_list(activity.activity_id,activity.activity_title,$index);">
                            <span class="msg_title" bo-text="activity.apply_list.length"></span>
                            <a>
                    </td>
                    <td>
                        <a class="btn btn-success" ng-click="$state.go('activity21Feeds',
                        {activityId:activity.activity_id,activityTitle:activity.activity_title});">
                            <span class="msg_title" bo-text="activity.feed_total"></span>
                            <a>
                    </td>
                    <td>
                        <a class="btn btn-success" ng-click="$state.go('activity21Comments',
                    {activityId:activity.activity_id,activityTitle:activity.activity_title});">
                            <span class="msg_title" bo-text="activity.comment_total"></span>
                        </a>
                    </td>
                    <td><span class="msg_title" bo-text="activity.account_info.username"></span></td>
                    <td ng-if="list_param.status!=0;">
                        <progressbar ng-if="activity.activity_status==1" class="progress-striped active" max="200"
                                     value="200"
                                     type="success">
                            报名中
                        </progressbar>
                        <progressbar ng-if="activity.activity_status==2" class="dynamic" max="200" value="200"
                                     type="danger">
                            报名截止
                        </progressbar>
                        <progressbar ng-if="activity.activity_status==3" class="progress-striped active" max="200"
                                     value="200"
                                     type="info">
                            回顾中
                        </progressbar>
                        <progressbar ng-if="activity.activity_status==4" class="dynamic" max="200" value="200"
                                     type="warning">
                            已下线
                        </progressbar>
                        <progressbar ng-if="activity.activity_status==5" class="dynamic" max="200" value="200"
                                     type="warning">
                            已取消
                        </progressbar>
                    </td>
                    <td>
                        <a class="btn btn-success"
                           ng-click="$state.go('activity21update', {activityId:activity.activity_id});">编辑</a>
                        <a class="btn btn-warning" ng-if="activity.activity_status==1"
                           ng-click="cancel_status(activity,$index)">取消</a>
                        <a class="btn btn-danger"
                           ng-click="update_status(activity,2,$index)">下架</a>
                    </td>
                    <td ng-if="list_param.status!=0;">
                        <a class="btn btn-success"
                           ng-click="$state.go('activityNotice',{id:activity.activity_id,count:activity.notification_count});">
                            <span class="msg_title"
                                  bo-text="activity.notification_count==0?'发布':activity.notification_count"></span>
                            <a>
                    </td>
                    <td ng-if="list_param.status==0;">
                        <a class="btn btn-success" ng-click="update_status(activity,1,$index)">上线活动</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" id="pagination">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            max-size="maxSize" class="pagination"
                            boundary-links="true" ng-change="getapi(currentPage)"
                            rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>