<div class="dashboard-page ">
    <!--<style type="text/css">-->
        <!--input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid {-->
            <!--border: 1px solid red;-->
        <!--}-->
    <!--</style>-->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" ng-if="!$stateParams.product_id">新增活动</h3>
            <!--<h3 class="panel-title" ng-if="$stateParams.product_id">修改活动</h3>-->
            <h3 class="panel-title" show-role="'admin,op'" ng-if="$stateParams.product_id">修改活动</h3>
            <h3 class="panel-title" show-role="'!admin,op'" ng-if="$stateParams.product_id">活动详情</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate
                  disabled-role="{{$stateParams.product_id?'admin,op':''}}">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h4>活动信息</h4>
                        <div form-input text="活动ID" ng-model="param.product_id"
                             ng-show="$stateParams.product_id"
                             placeholder="活动ID" ng-disabled="$stateParams.product_id"></div>
                        <div form-input text="活动标题" ng-model="param.title" placeholder="活动标题,不超过30个字" required="true"
                             minlength="1" maxlength="30"></div>
                        <div form-input text="活动简介" ng-model="param.brief" placeholder="不超过30个字" minlength="1"
                             maxlength="30"></div>
                        <div form-radio text="活动品类" ng-model="param.act_type" required="true" default="亲子"
                             source="[{text:'亲子',value:'亲子'},{text:'DIY',value:'DIY'},{text:'展览',value:'展览'},
                             {text:'运动',value:'运动'},{text:'周边／户外',value:'周边／户外'},{text:'演出／赛事',value:'演出／赛事'},
                             {text:'多人聚会',value:'多人聚会'},{text:'沙龙讲座',value:'沙龙讲座'},{text:'主题节／市集',value:'主题节／市集'}]"
                             source-api=""></div>
                        <div form-input text="单次限购份数" ng-model="param.order_count_max" type="number"
                             min="1" required="true"></div>
                        <div form-input text="单人限购份数" ng-model="param.per_buy_count" type="number"
                             min="0"></div>
                        <!--<div form-input text="已售份数基数" ng-model="param.base_sale_count" type="number"-->
                        <!--min="0"></div>-->
                        <div form-date-time text="上架时间" ng-model="param.start_time" required="true"></div>
                        <div form-date-time text="下架时间" ng-model="param.end_time" required="true"></div>
                        <div form-image text="运营大图" ng-model="param.pics" max="100" required="true"></div>
                        <!--<div form-image text="缩略小图" ng-model="param.thumbnail_pics" max="100"></div>-->
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h4>活动规则</h4>
                        <div form-radio text="活动类型" type="radio" ng-model="param.category" required="true" default="3"
                             source="[{text:'众筹',value:'3'},{text:'一起玩',value:'4'}]" source-api=""></div>

                        <div form-table text="活动类目" ng-model="param.options" required="true" max="1"
                             columns="[{'name': 'ID', 'field': 'option_id',disabled:'true'},
                             {'name': '类目', 'field': 'option_name'},
                             {'name': '价格', 'field': 'option_price',type:'number',min:'0',minLength:'2'},
                             {'name': '库存', 'field': 'option_inventory'}]"></div>
                        <div form-input text="目标金额" ng-model="param.act_goal_price" required="true" min="0"
                             max="options_goal_price"
                             type="number" ng-show="param.category==3"></div>

                        <div form-checkbox text="配送城市" ng-model="param.visible_cities" required="true"
                             source="[{text:'上海市',value:'上海市'},{text:'南京市',value:'南京市'},
                             {text:'厦门市',value:'厦门市'},{text:'北京市',value:'北京市'}]" source-api=""></div>

                        <div form-radio text="物流" ng-model="param.delivery_type" required="true"
                             ng-change="delivery_type()" ng-disabled="$stateParams.product_id"
                             source="[{text:'顺丰配送',value:'1'},{text:'无需配送',value:'3'}]"
                             default="3"></div>
                        <div form-radio text="送达时间类型" ng-model="param.arrive_type" default="2"
                             ng-show="param.delivery_type!=3" ng-disabled="$stateParams.product_id"
                             source="[{text:'无需指定',value:'2'}]" source-api=""></div>

                        <div form-input text="活动地点" ng-model="param.act_address" placeholder="例如:永达国际大厦"></div>
                        <div form-input text="详细地址" ng-model="param.act_detailed_address"
                             placeholder="例如:上海市浦东新区龙阳路2277号"></div>
                        <div form-date-time text="活动开始时间" ng-model="param.act_start_time" required="true"></div>
                        <div form-date-time text="活动结束时间" ng-model="param.act_end_time" required="true"></div>
                        <div form-date-time text="报名开始时间" ng-model="param.act_apply_start_time" required="true"></div>
                        <div form-date-time text="报名截止时间" ng-model="param.act_apply_end_time" required="true"></div>
                        <div form-radio text="是否可选优惠券" ng-model="param.act_coupon" required="true" default="2"
                             source="[{text:'可选',value:1},{text:'不可选',value:2}]" source-api=""></div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h4>活动详情</h4>
                        <div form-input text="图文详情视频地址" ng-model="param.video_url"></div>
                        <div form-radio text="详情类型" ng-model="param.content_type" default="2"
                             source="[{text:'图文',value:1},{text:'富文本',value:2}]" source-api=""></div>
                        <div form-image-content text="图文详情" ng-model="param.contents"
                             ng-show="param.content_type==1"></div>
                        <div form-rich-content text="富文本" ng-model="param.rich_text"
                             ng-show="param.content_type==2"></div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h4>注意事项</h4>
                        <div form-textarea text="注意事项" ng-model="param.act_attention" required="true"></div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h4>管理</h4>
                        <div form-textarea text="管理备注" ng-model="param.admin_remark" required="true"></div>
                        <div form-input text="排序" ng-model="param.order_by" required="true" type="number" min="0"></div>
                        <div form-radio text="显示" ng-model="param.visible" required="true" default="1"
                             source="[{text:'是',value:'1'},{text:'否',value:'2'}]" source-api=""></div>
                    </div>
                </div>
                <div form-error-block></div>
                <a class="btn btn-success btn-rounded" show-role="'{{$stateParams.product_id?'admin,op':''}}'"
                   ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
                <!--<a class="btn btn-warning btn-rounded" ng-click="aaa()">查看提交数据</a>-->
                <!--ng-if="'admin,op'.indexOf(hjm.role)>-1"-->
            </form>
        </div>
    </div>
</div>