<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title ng-bind="'Ahaschool '"></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" href="../favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
    <!--<link href="styles/bootstrap/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="../styles/animate/animate.min.css"/>
    <link rel="stylesheet" href="../styles/bootstrap/index.css">
    <link rel="stylesheet" href="../styles/bootstrap/vendor.css">
    <style>
        html, body {
            overflow: auto
        }
    </style>
</head>
<body ng-app="wap.demo">
<div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo container-fluid">
    <script type="text/ng-template" id="bindMobile.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">绑定手机账户信息</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">手机号码</div>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="手机号码"
                                       ng-model="$ctrl.param.mobile" maxlength="11">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">&nbsp;&nbsp;&nbsp;验证码</div>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="验证码"
                                       ng-model="$ctrl.param.code" maxlength="6">
                                <div class="input-group-addon btn" ng-click="$ctrl.getCaptcha()">获取验证码</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--Selected: <b>{{ $ctrl.selected.item }}</b>-->
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">绑定账户</button>
            <!--<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>-->
        </div>
    </script>
    <!--<script type="text/ng-template" id="stackedModal.html">-->
    <!--<div class="modal-header">-->
    <!--<h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>-->
    <!--</div>-->
    <!--<div class="modal-body" id="modal-body-{{name}}">-->
    <!--Having multiple modals open at once is probably bad UX but it's technically possible.-->
    <!--</div>-->
    <!--</script>-->
    <script type="text/ng-template" id="getUser.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">个人信息</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group" ng-repeat="(key, val) in user">
                            <label>{{key}}</label> :{{val}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--<div class="modal-footer">-->
        <!--<button class="btn btn-primary" type="button" ng-click="ok()">确认支付</button>-->
        <!--</div>-->
    </script>
    <div class="container-fluid">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-bind="$root.env.env_name+'支付DEMO'"></div>
                <div class="panel-body">
                    <div class="btn-toolbar">
                        <a class="btn btn-primary" ng-click="$ctrl.open('lg', '.modal-parent')">
                            手机绑定账户
                        </a>
                        <hr>
                    </div>
                    <div class="btn-toolbar">
                        <a class="btn btn-danger" ng-click="$ctrl.removeCookie('lg', '.modal-parent')">
                            解绑账户
                        </a>
                        <hr>
                    </div>
                    <div class="btn-toolbar">
                        <a class="btn btn-primary" ng-click="$ctrl.getUser('', '.modal-parent')">
                            查看个人信息
                        </a>
                        <hr>
                    </div>
                    <!--<div class="btn-toolbar">-->
                    <!--</div>-->
                    <!--<div class="btn-toolbar">-->
                    <!--&lt;!&ndash;<button type="button" class="btn btn-primary" ng-click="$ctrl.openComponentModal()">Open a component&ndash;&gt;-->
                    <!--<a class="btn btn-default" ng-click="alipay()">确认支付</a>-->
                    <!--<hr>-->
                    <!--</div>-->
                    <!--<div ng-show="$ctrl.selected" ng-cloak>Selection from a modal: {{ $ctrl.selected }}</div>-->
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">确认支付</div>
                <div class="panel-body">
                    <div id="form_str"></div>
                    <form class="form-horizontal" ng-init="order.order_id = '';order.return_url='https://www.baidu.com'">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">未支付订单ID</div>
                                <input type="text" class="form-control" placeholder="订单ID" ng-model="order.order_id">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">支付成功后跳转</div>
                                <input type="text" class="form-control" placeholder="return_url" ng-model="order.return_url">
                            </div>
                        </div>
                    </form>
                    <form name="myForm">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="item in order_ids">
                                <label>
                                    <input type="radio" ng-model="order.order_id" value="{{item.order_id}}">
                                    <span ng-bind="'订单ID'+item.order_id+' / 订单状态:'+item.order_status"></span>
                                </label>
                            </li>
                        </ul>
                        <!--<div class="radio" ng-repeat="item in order_ids">-->
                        <!--<label>-->
                        <!--<input type="radio" ng-model="order.order_id" value="{{item.order_id}}">-->
                        <!--<span>&nbsp;&nbsp;&nbsp;订单ID:-->
                        <!--<span ng-bind="item.order_id"></span>-->
                        <!--</span>-->
                        <!--<span>-->
                        <!--&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;订单状态:<span-->
                        <!--ng-bind="item.order_status"></span></span>-->
                        <!--</label>-->
                        <!--</div>-->
                        <h4>
                            <span class="text-success">点击<span class="text-danger">获取订单信息</span>
                                按钮,选择一个未支付订单的ID,然后
                                <span class="text-danger">马上支付</span></span>
                        </h4>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="getorders()">获取订单信息</button>
                    <button class="btn btn-primary" type="button" ng-click="getpayForm()">马上支付</button>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-4">-->
        <!--<div class="panel panel-primary">-->
        <!--<div class="panel-heading">订单信息填写</div>-->
        <!--<div class="panel-body">-->
        <!--<form class="form-horizontal">-->
        <!--<div class="form-group">-->
        <!--<div class="input-group">-->
        <!--<div class="input-group-addon">商品ID</div>-->
        <!--<input type="text" class="form-control" placeholder="商品ID"-->
        <!--ng-model="order.product_id">-->
        <!--</div>-->
        <!--</div>-->
        <!--</form>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
        <!--<button class="btn btn-primary" type="button" ng-click="getorders()">获取订单信息</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="modal-parent" title="不能删,弹出框的父级菜单">
        </div>
    </div>
</div>
<script type="text/javascript" src="../vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="../vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="../vendor/angular-utf8-base64/angular-utf8-base64.js"></script>
<script type="text/javascript" src="../vendor/angular-cookie/angular-cookie.js"></script>
<!--<script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.js"></script>-->
<script type="text/javascript" src="../vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="ap.js"></script>
<script type="text/javascript" src="ctrl/widget.js"></script>
<script type="text/javascript" src="ctrl/env.js"></script>
<div name="importjs"></div>
<script>
    function include(objPaths) {
        angular.forEach(objPaths, function (val, key) {
            angular.forEach(val.paths, function (v, k) {
                var a = document.createElement("script");
                a.type = "text/javascript";
                a.src = val.baseUrl + v;
                var head = document.getElementsByName("importjs")[0];
                head.appendChild(a);
            });
        });
    }
</script>
<!--<script type="text/javascript" src="ctrl/demo.js"></script>-->
<script type="text/javascript" src="ctrl/ModalDemoCtrl.js"></script>
<script type="text/javascript" src="ctrl/bindMobileCtrl.js"></script>
<script type="text/javascript" src="ctrl/getUserCtrl.js"></script>
<!--<script type="text/javascript" src="ctrl/main.js"></script>-->

</html>