<div class="side-widgets">
    <div class="widgets-content">
        <div class="text-center"><a ui-sref="profile" href="#/dashboard/profile"><img
                src="styles/images/flat-avatar.png" class="user-avatar"></a>
            <div class="text-center avatar-name">Ani Pascal</div>
        </div>
        <div class="news-feed">
            <div class="feed-header ng-binding">NEWS FEED</div>
            <div class="feed-content">
                <ul class="feed">
                    <li><a class="ng-binding">Anna liked StrapUI .</a>
                        <span class="feed-date">25/4/2015</span></li>
                    <li><a class="ng-binding">Henna birthday.</a> <span
                            class="feed-date">25/4/2015</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>