<div class="dashboard-page ">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">更新小程序配置</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" name="FormBody" novalidate>
        <div class="panel panel-primary">
          <div class="panel-body">
            <div class="form-group">
              <h1 class="text-danger col-sm-offset-2">分享配置</h1>
            </div>
            <div class="form-group">
              <div form-input ng-model="param.weapp_share_title" text="分享标题" required="true"></div>
              <div form-image-single ng-model="param.weapp_share_image" text="分享图片" required="true"></div>
            </div>
          </div>
        </div>
        <a class="btn btn-success btn-rounded" ng-disabled="FormBody.$invalid" ng-click="submit()">更新版本</a>
      </form>
    </div>
  </div>
</div>