<div class="dashboard-page ">
    <style type="text/css">
        .inlineBlock {
            display: inline-block;
        }
    </style>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title inlineBlock">test</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div form-image text="图片" ng-model="param.pics" hide-bar="[0,0,1,1]" max="8" required="true"></div>
                        <div live-point text="看点" ng-model="param.points"></div>
                    </div>
                    <div form-error-block></div>
                    <a class="btn btn-success btn-rounded" ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
                </div>
            </form>
        </div>
    </div>
</div>