<div class="dashboard-page ">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title" ng-if="!param.id">新增 >> skuno关联视频组</h3>
      <h3 class="panel-title" ng-if="param.id">更新 >> skuno关联视频组</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" name="FormBody" novalidate>
        <div class="panel panel-primary">
          <div class="panel-body">
            <div form-input text="ID" ng-model="param.id" placeholder="id" ng-show="$stateParams.id"
                 ng-disabled="true"></div>
            <div form-input text="视频组ID" ng-model="param.video_group_id" placeholder="视频组ID"
                 required="true"></div>
            <div form-input text="skuno" ng-model="param.skuno" placeholder="skuno" required="true"></div>
          </div>
        </div>
        <div form-error-block></div>
        <a class="btn btn-success btn-rounded pull-right" ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
      </form>
    </div>
  </div>
</div>