<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">更新运营位->{{categoryname}}</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info"
                       ng-click="$state.go('banner',{category:bannerUpdate_param.category});">运营位列表</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="span10 tongzhiheight">
                <div class="col-md-9">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">运营位标题<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" id="title" ng-class="{'form_dangus':bannerUpdate.title}"
                                       ng-change="bannerUpdate.title = 0" ng-model="bannerUpdate_param.title"
                                       placeholder="运营位标题">
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">类型<span class="form_label_dangus">*</span></label>-->

                        <!--<div class="col-sm-9">-->
                        <!--<div class="radio-inline">-->
                        <!--<label>-->
                        <!--<input type="radio" name="order_by" ng-model="bannerUpdate_param.category"-->
                        <!--ng-value="1">活动</label>-->
                        <!--</div>-->
                        <!--<div class="radio-inline">-->
                        <!--<label>-->
                        <!--<input type="radio" name="order_by" ng-model="bannerUpdate_param.category"-->
                        <!--ng-value="2">邻里圈-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--<div class="radio-inline">-->
                        <!--<label>-->
                        <!--<input type="radio" name="order_by" ng-model="bannerUpdate_param.category"-->
                        <!--ng-value="3">邻邻帮-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">运营位图片<span
                                    class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <show-upload images="bannerUpdate.pics_info" max="1" hasimages=""></show-upload>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">覆盖小区<span class="form_label_dangus">*</span></label>-->

                        <!--<div class="col-sm-9">-->
                        <!--<div class="radio-inline">-->
                        <!--<label>-->
                        <!--<input type="radio" name="target_type"-->
                        <!--ng-model="bannerUpdate.target_type" ng-value="0">-->
                        <!--全部小区-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--<div class="radio-inline">-->
                        <!--<label>-->
                        <!--<input type="radio" name="target_type"-->
                        <!--ng-model="bannerUpdate.target_type" ng-value="1">-->
                        <!--包括小区-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--<div class="radio-inline">-->
                        <!--<label>-->
                        <!--<input type="radio" name="target_type"-->
                        <!--ng-model="bannerUpdate.target_type" ng-value="2">-->
                        <!--不包括小区-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-sm-9" ng-if="bannerUpdate.target_type!=0">-->
                        <!--<select-community ng-model="bannerUpdate.ids"></select-community>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">跳转类型<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="param" ng-value="1" ng-model="bannerUpdate.param_type"
                                               ng-click="default_param_change('');"
                                               ng-checked="true">不跳转任何页面</label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="param" ng-value="2" ng-model="bannerUpdate.param_type"
                                               ng-click="default_param_change('url');"
                                        >跳转至网页</label>
                                </div>
                                <!--<div class="radio-inline">-->
                                    <!--<label>-->
                                        <!--<input type="radio" name="param" ng-value="3" ng-model="bannerUpdate.param_type"-->
                                               <!--ng-click="default_param_change('activity_id');"-->
                                        <!--&gt;跳转至活动详情</label>-->
                                <!--</div>-->
                                <!--<div class="radio-inline">-->
                                    <!--<label>-->
                                        <!--<input type="radio" name="param" ng-value="4" ng-model="bannerUpdate.param_type"-->
                                               <!--ng-click="default_param_change('topic_id');"-->
                                        <!--&gt;跳转至话题详情</label>-->
                                <!--</div>-->
                                <!--<div class="radio-inline">-->
                                <!--<label>-->
                                <!--<input type="radio" name="param" ng-value="5" ng-model="bannerUpdate.param_type"-->
                                <!--ng-click="default_param_change('url');">-->
                                <!--跳转至积分商城-->
                                <!--</label>-->
                                <!--</div>-->

                            </div>
                            <div class="col-sm-9 col-sm-offset-3">
                                <input class="form-control" ng-class="{'form_dangus':bannerUpdate.param_hasval}"
                                       ng-model="bannerUpdate.param.url" ng-if="default_param.url=='1'"
                                       ng-change="bannerUpdate.param_hasval=0"
                                       placeholder="输入网页链接地址url">
                            </div>
                            <div class="col-sm-9 col-sm-offset-3">
                                <input class="form-control" ng-class="{'form_dangus':bannerUpdate.param_hasval}"
                                       ng-model="bannerUpdate.param.activity_id" ng-if="default_param.activity_id==1"
                                       ng-change="bannerUpdate.param_hasval=0"
                                       placeholder="输入活动ID">
                            </div>
                            <div class="col-sm-9 col-sm-offset-3">
                                <input class="form-control" ng-class="{'form_dangus':bannerUpdate.param_hasval}"
                                       ng-model="bannerUpdate.param.topic_id" ng-if="default_param.topic_id==1"
                                       ng-change="bannerUpdate.param_hasval=0"
                                       placeholder="输入话题ID">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序数字<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" type="number" id="sort_num"
                                       ng-class="{'form_dangus':bannerUpdate.sort_num}"
                                       ng-change="bannerUpdate.sort_num = 0" ng-model="bannerUpdate_param.sort_num"
                                       placeholder="一个数字">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-success" ng-click="save()">保存</a>
        </div>
    </div>
</div>