<div class="">
    <style type="text/css">
        .bot_margin_20 {
            margin-bottom: 0 !important;
        }
    </style>
    <script type="text/ng-template" id="form_data.html">
        <div class="panel panel-primary bot_margin_20">
            <div class="panel-heading">
                <button type="button" class="close" ng-click="cancel()">×</button>
                <!--<span class="badge pointer pull-right" ng-click="cancel()">X</span>-->
                <h3 class="panel-title" ng-bind="form_title"></h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group" ng-repeat="item in form_data">
                        <label class="col-sm-3 control-label">{{item.name}}
                            <span class="form_label_danger" ng-bind="(item.allownull|| item.isprimary)?'':'*'"></span>
                        </label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="item.val" ng-disabled="item.isprimary==1" ng-if="!item.type">
                            <!--<div ng-bind-html="item.fieldDirective|to_trusted" ng-show="item.fieldDirective"></div>-->
                            <select class="form-control" ng-model="item.val" ng-options="source.text as source.value for source in item.source" ng-if="item.type">
                                <option value="">--  请选择  --</option>
                            </select>
                        </div>
                    </div>
                </form>
                <a class="btn btn-success pull-right" ng-click="submit()">提交</a>
            </div>
        </div>
    </script>
    <a class="btn btn-default {{btnClass}}" ng-click="open()" ng-bind="form_title"></a>
    <!--<a class="btn btn-default pull-right" ng-click="refresh()">1111111</a>-->
</div>
