<div class="datepicker_class">
    <p class="input-group appendTimepicker">
        <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="isopen" min-date="minDate"
               date-disabled="disabled(date, mode)" ng-change="changed();" close-text="关闭" clear-text="清空"
               ng-disabled="disabled" current-text="今天" style="width: 160px;"/>
        <span class="input-group-btn" style="width: 40px;">
            <button type="button" class="btn btn-default" ng-click="open($event)" ng-disabled="disabled"
                    style="margin-left: -1px;"><i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
    </p>
</div>