<div>
    <script type="text/ng-template" id="tuan_del_user.html">
        <div class="modal-header">
            <h3 class="modal-title text-center">取消报名</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">取消原因<span class="form_label_danger">*</span></label>

                    <div class="col-sm-6">
                    <textarea class="form-control" rows="3" id="reason" ng-model="reason" placeholder="结束原因">
                    </textarea>
                    </div>
                </div>
                <!--<div class="form-group">-->
                <!--<label class="col-sm-3 control-label">取消类型<span class="form_label_danger">*</span></label>-->

                <!--<div class="col-sm-6">-->
                <!--<div class="radio-inline">-->
                <!--<label>-->
                <!--<input type="radio" name="cancel_from"-->
                <!--ng-model="cancel_from" ng-value="1">-->
                <!--后台取消-->
                <!--</label>-->
                <!--</div>-->
                <!--<div class="radio-inline">-->
                <!--<label>-->
                <!--<input type="radio" name="cancel_from"-->
                <!--ng-model="cancel_from" ng-value="0">-->
                <!--用户取消-->
                <!--</label>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">确定</button>
            <button class="btn btn-warning" ng-click="cancel()">关闭</button>
        </div>
    </script>
    <script type="text/ng-template" id="user_list.html">
        <div>
            <div class="modal-header">
                <h3 class="modal-title" ng-bind="list_param.activity_title"></h3>
            </div>
            <div class="modal-header">
                <button type="button" class="btn btn-success" ng-click="export_excel()">
                    导出Excel(推荐Windows系统)
                </button>
                <button type="button" class="btn btn-success" ng-csv="csv_data" csv-header="csvHeader"
                        filename="orderlist.csv">
                    导出CSV(推荐Mac系统)
                </button>
                <select class="form-control" ng-model="order_status" ng-change="select_status()"
                        style="width: 120px; display: inline-block;">
                    <option value="100">全部状态</option>
                    <option value="3,5">订单成功</option>
                    <option value="0">等待支付</option>
                    <option value="1">支付中</option>
                    <option value="2">已取消</option>
                    <!--<option value="3">支付成功</option>-->
                    <option value="4">支付失败
                    </option
                            <!--<option value="5">已完成</option>-->
                </select>
                <div class="pull-right">
                    <span ng-bind="'此状态下有'+(idx-1)+'个订单'"></span>
                </div>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-bordered">
                    <thead>
                    <th>编号</th>
                    <th>订单号</th>
                    <th>所在小区</th>
                    <th>配送备注</th>
                    <th>详细地址</th>
                    <th>报名品类</th>
                    <th>价格</th>
                    <th>份数</th>
                    <th>支付金额</th>
                    <th>当前状态</th>
                    <th>
                        <div class="btn-group"
                             ng-class="{'dropup':list_param.sort_field == 'order_time' && list_param.sort_desc ==0}">
                            <a class="btn"
                               ng-class="{'btn-primary':list_param.sort_field == 'order_time'}"
                               ng-click="sort_order('order_time')">订单时间
                                <span ng-class="{'caret':list_param.sort_field == 'order_time'}"></span>
                            </a>
                    </th>
                    <th>操作</th>
                    </thead>
                    <tbody>
                    <tr bindonce ng-repeat="user in user_list" ng-show="user.show">
                        <td><span class="msg_title" ng-bind="user.idx"></span></td>
                        <td><span class="msg_title" bo-text="user.order_id"></span></td>
                        <!--<td><span class="msg_title" bo-text="user.name"></span></td> -->
                        <!--<td><span class="msg_title" bo-text="user.mobile"></span></td> -->
                        <td><span class="msg_title" bo-text="user.community_name"></span></td>
                        <td>
                            <span class="msg_title" bo-text="'配送时间：'+user.send_day"></span><br>
                            <span class="msg_title" bo-text="'备注：'+user.remark"></span><br>
                        </td>
                        <td>
                            <span class="msg_title" bo-text="'城市：'+user.city_name"></span><br>
                            <span class="msg_title" bo-text="'联系人：'+user.contact_name"></span><br>
                            <span class="msg_title" bo-text="'联系人电话：'+user.contact_mobile"></span><br>
                            <span class="msg_title" bo-text="'联系地址：'+user.contact_address"></span>
                        </td>
                        <td><span class="msg_title" bo-text="user.option.name"></span></td>
                        <td><span class="msg_title" bo-text="user.option.origin_price"></span></td>
                        <td><span class="msg_title" bo-text="user.order_count"></span></td>
                        <td><span class="msg_title" bo-text="user.order_price"></span></td>
                        <td>
                            <span class="msg_title" ng-if="user.refund_status!=1"
                                  ng-bind="user.order_status | order_status"></span>
                            <span class="msg_title"
                                  ng-if="(user.order_status == 3||user.order_status == 5)&&user.refund_status==1"
                                  ng-bind="'退款待审核'"></span>
                            <span class="msg_title"
                                  ng-if="(user.order_status == 2)&&user.refund_status==1"
                                  ng-bind="'已取消'"></span>
                            <span class="msg_title"
                                  ng-if="(user.order_status == 0||user.order_status == 1||user.order_status == 4)&&user.refund_status==1"
                                  ng-bind="'未知状态'"></span>
                        </td>
                        <td><span class="msg_title" bo-text="user.order_time | limitTo:16"></span></td>
                        <td>
                            <a class="btn btn-danger"
                               ng-if="(user.order_status == 0||user.order_status == 3||user.order_status == 5)&&user.refund_status==0"
                               ng-click="activity_del_user(user.user_id,user.order_id,$index)">取消报名</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">关闭</button>
            </div>
        </div>
    </script>
    <a class="btn btn-info" ng-if="ordercount ||option.order.count"
       ng-click="order_user_list(option.activity_id,option.activity_title);">
        <span class="msg_title" bo-text="ordercount||option.order.count"></span>
    </a>
</div>