<div>
    <ul class="nav nav-pills" role="tablist" ng-if="!isradio">
        <li role="presentation" ng-repeat="item in all_citys" style="margin-right: 15px;">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-checked="item.checked"
                           ng-click="toggle(item);">
                    {{item.name}}
                </label>
            </div>
        </li>
    </ul>
    <ul class="nav nav-pills" role="tablist" ng-if="isradio">
        <li role="presentation" ng-repeat="item in all_citys" style="margin-right: 15px;">
            <div class="checkbox">
                <label>
                    <input type="radio" ng-checked="item.checked" name="current_city_name"
                           ng-click="toggle(item);">
                    {{item.name}}
                </label>
            </div>
        </li>
    </ul>
</div>