<script type="text/ng-template" id="accomplish.html">
    <progressbar
            ng-if="accomplish && (accomplish.accomplish_status==1 || accomplish.accomplish_status==5)"
            class="progress-striped" max="180" value="200" type="success">
            <span class="msg_title"
                  ng-bind="accomplish.accomplish_status | accomplish_status"></span>
    </progressbar>
    <progressbar
            ng-if="accomplish && (accomplish.accomplish_status==2 || accomplish.accomplish_status==3)"
            class="dynamic" max="200" value="200" type="danger">
            <span class="msg_title"
                  ng-bind="accomplish.accomplish_status | accomplish_status"></span>
    </progressbar>
    <progressbar ng-if="accomplish && accomplish.accomplish_status==4" class="dynamic"
                 max="200" value="200" type="warning">
            <span class="msg_title"
                  ng-bind="accomplish.accomplish_status | accomplish_status"></span>
    </progressbar>
    <progressbar ng-if="accomplish && accomplish.accomplish_status==0"
                 class="progress-striped active"
                 max="200" value="200" type="primary">
            <span class="msg_title"
                  ng-bind="accomplish.accomplish_status | accomplish_status"></span>
    </progressbar>
</script>
<script type="text/ng-template" id="tuan_header_info.html">
    <p class="msg_title" ng-if="tuan_header_info.order.contact_name"
       bo-text="'团长：'+tuan_header_info.order.contact_name"></p>

    <p class="msg_title" ng-if="tuan_header_info.order.contact_mobile"
       bo-text="'手机：'+tuan_header_info.order.contact_mobile"></p>

    <p class="msg_title" ng-if="tuan_header_info.order.contact_address"
       bo-text="'地址：'+tuan_header_info.order.contact_address"></p>
</script>
<script type="text/ng-template" id="product_info.html">
    <p class="msg_title" ng-if="product">
        <span bo-text="'商品ID：'"></span>
        <a class="btn btn-link" ui-sref="goods.update({activity_id: product.activity_id})"
           bo-text="product.activity_id"></a>
    </p>
    <p class="msg_title" ng-if="product"
       bo-text="'商品标题：'+product.activity_title"></p>

    <p class="msg_title" ng-if="product"
       bo-text="'抢购期限：'+product.group_days+'天'"></p>

    <p class="msg_title p100" ng-if="product"
       bo-text="'备注：'+product.admin_remark"></p>
</script>
<script type="text/ng-template" id="update_group_buy_status_btn.html">
    <a class="btn btn-info" ng-click="obj_on('update_group_buy_status');">修改状态</a>
</script>
<script type="text/ng-template" id="update_group_buy_status.html">
    <div class="modal-header">
        <h3 class="modal-title">更新成团状态</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">截团时间<span class="form_label_dangus">*</span></label>

                <div class="">
                    <hjm_date_time ng-model="group_end_time"></hjm_date_time>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-3 control-label">
                    修改状态
                    <span class="form_label_dangus">*</span>
                </label>

                <div class="col-sm-4">
                    <select class="form-control" ng-model="group_buy_status">
                        <option value="0">进行中</option>
                        <option value="1">已成团</option>
                        <option value="2">拼团失败</option>
                        <option value="3">未开团</option>
                        <option value="5">已完成</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">手动拼团</div>
        <div class="panel-body ">
            <div class="panel">
                <ul class="nav nav-pills">
                    <li role="presentation">
                        <a class="btn">取消订单状态:</a>
                    </li>
                    <li role="presentation" ng-class="{active:extra === 1}">
                        <a class="btn btn-link"
                           ng-click="extra = 1;getapi();">订单5-9未成团</a>
                    </li>
                    <li role="presentation" ng-class="{active:extra === 2}">
                        <a class="btn btn-link"
                           ng-click="extra = 2;getapi();">订单≦4未成团</a>
                    </li>
                    <li role="presentation" ng-class="{active:extra === 3}">
                        <a class="btn btn-link"
                           ng-click="extra = 3;getapi();">手动拼团成功</a>
                    </li>
                    <li role="presentation" ng-class="{active:extra === 4}">
                        <a class="btn btn-link"
                           ng-click="extra = 4;getapi();">手动拼团失败</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <common_list res_head="res_head" res_data="res_data"></common_list>
            <div class="text-center" id="pagination">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            max-size="maxSize" class="pagination"
                            boundary-links="true" ng-change="getapi(currentPage)"
                            rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>