<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }
</style>
<script type="text/ng-template" id="majiasadd.html">
    <div class="modal-header">
        <h3 class="modal-title">新增马甲</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">手机号码<span class="form_label_dangus">*</span></label>

                <div class="col-sm-9">
                    <input class="form-control" ng-model="majiasadd.mobile"
                           placeholder="手机号码">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">用户特征<span class="form_label_dangus">*</span></label>

                <div class="col-sm-9">
                    <textarea class="form-control" rows="5" ng-model="majiasadd.remark" placeholder="用户特征"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">负责人<span class="form_label_dangus">*</span></label>

                <div class="col-sm-9">
                    <select class="form-control" ng-model="majiasadd.account_id"
                            ng-options="account.account_id as account.username for account in account_list |filter:{type:'majia'}">
                        <option value="" disabled="true">请选择负责人</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">马甲管理</div>
        <div class="panel-body ">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="majiasadd();">新增马甲</a>
                    <!--<a class="btn btn-info" ng-click="$state.go('majiasadd');">新增马甲</a>-->
                </div>
                <br/>
            </div>
            <!--<div class="panel">-->
            <!--<ul class="nav nav-pills">-->
            <!--<li role="presentation">-->
            <!--<a class="btn">联系人账户:</a>-->
            <!--</li>-->
            <!--<li role="presentation">-->
            <!--<select class="form-control"-->
            <!--ng-change="getapi();"-->
            <!--ng-model="list_param.user_id"-->
            <!--ng-options="account.account_id as account.username for account in account_list">-->
            <!--<option value="" disabled="true">请选择联系人账户</option>-->
            <!--</select>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                <th style="width: 50px;">用户ID</th>
                <th style="width: 50px;">姓名</th>
                <th style="width: 100px;">性别</th>
                <th style="width: 50px;">年龄</th>
                <th style="width: 50px;">手机号码</th>
                <th style="width: 50px;">城市</th>
                <th style="width: 100px;">小区名称</th>
                <th style="width: 200px;">用户特征</th>
                <th style="width: 50px;">负责人</th>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="item in majias_list">
                    <td><span class="msg_title" bo-text="item.user_id"></span></td>
                    <td><span class="msg_title" bo-text="item.name"></span></td>
                    <td><span class="msg_title" bo-text="item.gender | gender"></span></td>
                    <td><span class="msg_title" bo-text="item.birthday | brithday2age"></span></td>
                    <td><span class="msg_title" bo-text="item.mobile"></span></td>
                    <td><span class="msg_title" bo-text="item.city"></span></td>
                    <td><span class="msg_title" bo-text="item.community_name"></span></td>
                    <td><span class="msg_title" bo-text="item.remark"></span></td>
                    <td><span class="msg_title" bo-text="item.account_name"></span></td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" id="pagination">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            max-size="maxSize" class="pagination"
                            boundary-links="true" ng-change="getapi(currentPage)"
                            rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>