html {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255) !important;
}

body {
    height: 100%;
    width: 100%;
    cursor: default;
    position: relative;
    text-align: center;
    z-index: 0;
}

.b-img {
    width: 100%;
    position: fixed;
    z-index: -1000;
}

.b-img > img {
    width: 100%;
}

.c-content {
    padding-top: 170px !important;
}

header {
    width: 100%;
    position: relative;
}

.h-img {
    display: inline-block;
}

.h-tite {
    display: inline-block;
    width: 100%;
    font-size: 48px;
    color: #fff;
}

.h-tite:first-child {
    margin-top: 30px;
}

