<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }

    .img_a {
        display: inline-block;
        width: 50px;
        max-height: 50px;
        max-width: 30%;
        cursor: pointer;
        margin-right: 3px;
    }

    .img_a > img {
        width: 50px;
        height: 50px;
    }

    .big_pic {
        width: 500px;
        max-width: 100%;
        max-height: 100%;
    }

    .img_a.big_pic > img {
        width: auto;
        height: auto;
    }
</style>
<script type="text/ng-template" id="add_header.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">添加、修改团长</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" ng-init="ref_activity_id_disable = true;reward_show = true;">
            <!--<div class="form-group">-->
            <!--&lt;!&ndash;<label class="col-sm-3 control-label">团长<span class="form_label_dangus"></span></label>&ndash;&gt;-->

            <!--<div class="col-sm-9">-->
            <!--<div class="radio-inline">-->
            <!--<label>-->
            <!--<input type="radio" name="user_type" ng-model="user_type"-->
            <!--ng-value="0">-->
            <!--普通用户当团长-->
            <!--</label>-->
            <!--</div>-->
            <!--<div class="radio-inline">-->
            <!--<label>-->
            <!--<input type="radio" name="user_type" ng-model="user_type"-->
            <!--ng-value="1">-->
            <!--回家么团长-->
            <!--</label>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <th>ID</th>
                        <th>用户姓名</th>
                        <th>手机号码</th>
                        <th>选中当团长</th>
                        </thead>
                        <tbody>
                        <tr bindonce ng-repeat="item in tuan_applicants">
                            <td>
                                <span class="msg_title" bo-text="item.user_id"></span>
                            </td>
                            <td><span class="msg_title" bo-text="item.name"></span></td>
                            <td><span class="msg_title" bo-text="item.mobile"></span></td>
                            <td>
                                <label>
                                    <input type="radio" name="checked" ng-click="changeTuanoption(item,$index)"
                                           value="1" ng-model="item.checked">
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<div class="form-group">-->
            <!--&lt;!&ndash;<label class="col-sm-3 control-label">团长<span class="form_label_dangus">*</span></label>&ndash;&gt;-->

            <!--<div class="col-sm-9">-->
            <!--<tuan_zhang ng-model="user_id" tuanoption="tuanoption"></tuan_zhang>-->
            <!--</div>-->
            <!--</div>-->
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="update_group_end_time.html">
    <div class="modal-header">
        <h3 class="modal-title">更新结束时间</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">结束时间<span class="form_label_dangus">*</span></label>

                <div class="">
                    <hjm_date_time ng-model="group_end_time"></hjm_date_time>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="update_group_buy_status.html">
    <div class="modal-header">
        <h3 class="modal-title">更新成团状态</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">截团时间<span class="form_label_dangus">*</span></label>

                <div class="">
                    <hjm_date_time ng-model="group_end_time"></hjm_date_time>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-3 control-label">
                    修改状态
                    <span class="form_label_dangus">*</span>
                </label>

                <div class="col-sm-4">
                    <select class="form-control" ng-model="group_buy_status">
                        <option value="0">进行中</option>
                        <option value="1">已成团</option>
                        <option value="2">拼团失败</option>
                        <option value="3">未开团</option>
                        <option value="5">已完成</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="activity_del_user.html">
    <div class="modal-header">
        <h3 class="modal-title">取消订单</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">取消原因<span class="form_label_dangus">*</span></label>

                <div class="col-sm-6">
                    <textarea class="form-control" rows="3" id="reason" ng-model="reason" placeholder="结束原因">
                    </textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="user_list.html">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="activityTitle"></h3>
    </div>
    <div class="modal-header">
        <button type="button" class="btn btn-info" ng-csv="export" csv-header="csvHeader" filename="orderlist.csv">导出数据
        </button>
    </div>
    <div class="modal-body">
        <div class="panel">
            <select class="form-control col-3" ng-model="order_status" ng-change="select_status()"
                    style="width: 120px;">
                <option value="100">全部状态</option>
                <option value="3,5">订单成功</option
                <option value="0">待支付</option>
                <option value="1">支付中</option>
                <option value="2">已取消</option>
                <!--<option value="3">支付成功</option>-->
                <option value="4">支付失败
                </option
                        <!--<option value="5">已完成</option>-->
            </select>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
            <th>排序</th>
            <th>订单号</th>
            <th>用户姓名</th>
            <th>手机号码</th>
            <th>所在小区</th>
            <th>详细地址</th>
            <th>备注</th>
            <!--<th>-->
            <!--<div class="btn-group"-->
            <!--ng-class="{'dropup':prev_sort_field == 'order_body' && list_param.sort_desc ==0}">-->
            <!--<a class="btn"-->
            <!--ng-class="{'btn-info':prev_sort_field == 'order_body','btn-link':prev_sort_field !== 'order_body'}"-->
            <!--ng-click="sort_order('order_body')">报名品类-->
            <!--<span ng-class="{'caret':prev_sort_field == 'order_body'}"></span>-->
            <!--</a>-->
            <!--</div>-->
            <!--</th>-->
            <th style="width: 100px;">价格</th>
            <th>份数</th>
            <th>支付金额</th>
            <th>订单状态</th>
            <th>
                <div class="btn-group"
                     ng-class="{'dropup':prev_sort_field == 'order_time' && list_param.sort_desc ==0}">
                    <a class="btn"
                       ng-class="{'btn-info':prev_sort_field == 'order_time','btn-link':prev_sort_field !== 'order_time'}"
                       ng-click="sort_order('order_time')">订单时间
                        <span ng-class="{'caret':prev_sort_field == 'order_time'}"></span></a>
            </th>
            <th>操作</th>
            </thead>
            <tbody>

            <tr bindonce ng-repeat="user in user_list" ng-show="user.show">
                <td><span class="msg_title" bo-text="$index+1"></span></td>
                <td><span class="msg_title" bo-text="user.order_id"></span></td>
                <td><span class="msg_title" bo-text="user.name"></span></td>
                <td><span class="msg_title" bo-text="user.mobile"></span></td>
                <td><span class="msg_title" bo-text="user.community_name"></span></td>
                <td>
                    <span class="msg_title" bo-text="'联系人：'+user.contact_name"></span><br>
                    <span class="msg_title" bo-text="'联系人电话：'+user.contact_mobile"></span><br>
                    <span class="msg_title" bo-text="'联系地址：'+user.contact_address"></span>
                </td>
                <td><span class="msg_title" bo-text="user.remark"></span></td>
                <!--<td><span class="msg_title" bo-text="user.order_body"></span></td>-->
                <td><span class="msg_title" bo-text="user.price"></span></td>
                <td><span class="msg_title" bo-text="user.order_count"></span></td>
                <td><span class="msg_title" bo-text="user.order_price"></span></td>
                <td><span class="msg_title" ng-bind="user.order_status | order_status"></span></td>
                <td><span class="msg_title" ng-bind="user.order_time"></span></td>
                <td>
                    <a class="btn btn-danger"
                       ng-if="user.order_status == 0||user.order_status == 1||user.order_status == 3"
                       ng-click="activity_del_user(user.user_id,user.order_id,$index,sup_index)">取消订单</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="update_admin_remark.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">更新信息</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">管理备注<span class="form_label_dangus">*</span></label>

                <div class="col-sm-6">
                    <textarea class="form-control" rows="3" id="admin_remark" ng-model="admin_remark"
                              placeholder="管理备注">
                    </textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">拼团列表</div>
        <div class="panel-body ">
            <div class="panel">
                <ul class="nav nav-pills">
                    <li role="presentation">
                        <a class="btn">联系人账户:</a>
                    </li>
                    <li role="presentation">
                        <select class="form-control"
                                ng-change="getapi();"
                                ng-model="selected.account_id"
                                ng-options="account.account_id as account.username for account in account_list">
                            <option value="" disabled="true">请选择联系人账户</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="panel">
                <ul class="nav nav-pills">
                    <li role="presentation">
                        <a class="btn">有效状态:</a>
                    </li>
                    <li role="presentation" ng-class="{active:init_param.invalid==0}">
                        <a class="btn btn-link"
                           ng-click="init_param.invalid=0;getapi();">不限</a>
                    </li>
                    <li role="presentation" ng-class="{active:init_param.invalid==1}">
                        <a class="btn btn-link"
                           ng-click="init_param.invalid=1;getapi();">无效</a>
                    </li>
                </ul>
            </div>
            <div class="panel">
                <ul class="nav nav-pills">
                    <li role="presentation">
                        <a class="btn">拼团状态:</a>
                    </li>
                    <li role="presentation" ng-class="{active:init_param.accomplish_status[0] == undefined}">
                        <a class="btn btn-link"
                           ng-click="init_param.accomplish_status=[];getapi();">全部</a>
                    </li>
                    <li role="presentation" ng-class="{active:init_param.accomplish_status[0] == 0}">
                        <a class="btn btn-link"
                           ng-click="init_param.accomplish_status=[0];getapi();">进行中</a>
                    </li>
                    <li role="presentation" ng-class="{active:init_param.accomplish_status[0] == 1}">
                        <a class="btn btn-link"
                           ng-click="init_param.accomplish_status=[1];getapi();">已成团</a>
                    </li>
                    <li role="presentation" ng-class="{active:init_param.accomplish_status[0] == 5}">
                        <a class="btn btn-link"
                           ng-click="init_param.accomplish_status=[5];getapi();">拼团完成</a>
                    </li>
                    <li role="presentation" ng-class="{active:init_param.accomplish_status[0]==2}">
                        <a class="btn btn-link"
                           ng-click="init_param.accomplish_status=[2];getapi();">拼团失败</a>
                    </li>
                    <li role="presentation" ng-class="{active:init_param.accomplish_status[0]==3}">
                        <a class="btn btn-link"
                           ng-click="init_param.accomplish_status=[3];getapi();">未开团</a>
                    </li>
                    <!--<li role="presentation" ng-class="{active:list_param.activity_status ==2}">-->
                    <!--<a class="btn btn-link"-->
                    <!--ng-click="list_param.activity_status=2;list_param.show_all=0;getapi();">已结束</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" ng-class="{active:list_param.activity_status ==3}">-->
                    <!--<a class="btn btn-link"-->
                    <!--ng-click="list_param.activity_status=3;list_param.show_all=0;getapi();">已删除</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                <th style="width: 50px;">ID</th>
                <th style="width: 100px;">标题</th>
                <th style="width: 100px;">管理备注</th>
                <th style="width: 140px;">拼团小区</th>
                <th style="width: 120px;">拼团状态</th>
                <th style="width: 80px;">开团时间</th>
                <th style="width: 60px;">开团用户</th>
                <th style="width: 50px;">成团进度</th>
                <th style="width: 50px;">订单数量</th>
                <th style="width: 50px;">已支付金额</th>
                <th style="width: 50px;">已支付人数</th>
                <th style="width: 80px;">剩余时间</th>
                <th style="width: 100px;">团长信息</th>
                <th style="width: 150px;">商品信息</th>
                <th>操作</th>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="item in list">
                    <td><span class="msg_title" bo-text="item.activity_id"></span></td>
                    <td>
                        <span class="msg_title span100" ng-bind="item.activity_title"></span>
                    </td>
                    <td>
                        <span class="msg_title span100" ng-bind="item.admin_remark"></span>
                    </td>
                    <td>
                        <p class="msg_title" ng-if="item.community"
                           bo-text="item.community.community_name"></p>

                        <p class="msg_title" ng-if="item.community"
                           bo-text="'地址：'+item.community.community_address"></p>
                    </td>
                    <td>
                        <!--<span class="msg_title span100" ng-if="item.accomplish"-->
                        <!--ng-bind="item.accomplish.accomplish_status | accomplish_status"></span>-->
                        <progressbar
                                ng-if="item.accomplish && (item.accomplish.accomplish_status==1 || item.accomplish.accomplish_status==5)"
                                class="progress-striped" max="180" value="200" type="success">
                            <span class="msg_title"
                                  ng-bind="item.accomplish.accomplish_status | accomplish_status"></span>
                        </progressbar>
                        <progressbar
                                ng-if="item.accomplish && (item.accomplish.accomplish_status==2 || item.accomplish.accomplish_status==3)"
                                class="dynamic" max="200" value="200" type="danger">
                            <span class="msg_title"
                                  ng-bind="item.accomplish.accomplish_status | accomplish_status"></span>
                        </progressbar>
                        <progressbar ng-if="item.accomplish && item.accomplish.accomplish_status==4" class="dynamic"
                                     max="200" value="200" type="warning">
                            <span class="msg_title"
                                  ng-bind="item.accomplish.accomplish_status | accomplish_status"></span>
                        </progressbar>
                        <progressbar ng-if="item.accomplish && item.accomplish.accomplish_status==0"
                                     class="progress-striped active"
                                     max="200" value="200" type="primary">
                            <span class="msg_title"
                                  ng-bind="item.accomplish.accomplish_status | accomplish_status"></span>
                        </progressbar>
                    </td>
                    <td><span class="msg_title" ng-bind="item.activity_time"></span></td>
                    <td><span class="msg_title" bo-text="item.post_user_info.name"></span></td>
                    <td><span class="msg_title" ng-if="item.order"
                              bo-text="(item.order.paied?item.order.paied.copies:0)+'/'+item.group_min_num"></span>
                    </td>
                    <td>
                        <pintuan_order_list option="item"></pintuan_order_list>
                    </td>
                    <td><span class="msg_title" ng-if="item.order.paied"
                              bo-text="item.order.paied.amounts"></span>
                    </td>
                    <td><span class="msg_title" ng-if="item.order.paied"
                              bo-text="item.order.paied.user_count"></span>
                    </td>
                    <td>
                        <span class="msg_title" ng-if="item.accomplish"
                              ng-bind="item.accomplish.group_end_time | remaining_time"></span>
                        <span class="msg_title" ng-if="!item.accomplish">未开始</span>
                    </td>
                    <td>
                        <p class="msg_title" ng-if="item.tuan_header_info.order"
                           bo-text="'团长：'+item.tuan_header_info.order.contact_name"></p>

                        <p class="msg_title" ng-if="item.tuan_header_info.order"
                           bo-text="'手机：'+item.tuan_header_info.order.contact_mobile"></p>

                        <p class="msg_title" ng-if="item.tuan_header_info.order"
                           bo-text="'地址：'+item.tuan_header_info.order.contact_address"></p>
                    </td>
                    <td>
                        <p class="msg_title" ng-if="item.product">
                            <span bo-text="'商品ID：'"></span>
                            <a class="btn btn-link" ui-sref="goods.update({activity_id: item.product.activity_id})"
                               bo-text="item.product.activity_id"></a>
                        </p>

                        <p class="msg_title" ng-if="item.product"
                           bo-text="'商品标题：'+item.product.activity_title"></p>

                        <p class="msg_title" ng-if="item.product"
                           bo-text="'抢购期限：'+item.product.group_days+'天'"></p>

                        <p class="msg_title p100" ng-if="item.product"
                           bo-text="'备注：'+item.product.admin_remark"></p>
                        <a class="btn btn-success" ng-if="!item.product"
                           ng-click="$state.go('opening_community_list',{id:item.activity_id,title:item.activity_title});">
                            <span class="msg_title" bo-text="'查看开团小区'"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary"
                           ng-click="$state.go('goods.update',{activity_id:item.activity_id,type:'pintuan'})">编辑</a>
                        <a class="btn btn-primary" ng-if="!item.tuan_header_info"
                           ng-click="add_header(item,$index)">添加团长</a>
                        <a class="btn btn-primary" ng-if="item.tuan_header_info"
                           ng-click="add_header(item,$index)">修改团长</a>
                        <a class="btn btn-primary"
                           ng-click="update_admin_remark(item,$index)">修改管理备注</a>
                        <!--<a class="btn btn-warning" ng-if="item.accomplish"-->
                        <!--ng-click="update_group_end_time(item,$index)">修改结束时间</a>-->
                        <a class="btn btn-warning" ng-if="item.accomplish"
                           ng-click="update_group_buy_status(item,$index)">修改成团状态</a>
                        <!--<a class="btn btn-success" ng-if="item.status == 2"-->
                        <!--ng-click="update_status(item,1,$index)">上线商品</a>-->
                        <!--<a class="btn btn-danger" ng-if="item.status == 1"-->
                        <!--ng-click="update_status(item,2,$index)">下线商品</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" id="pagination">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            max-size="maxSize" class="pagination"
                            boundary-links="true" ng-change="getapi(currentPage)"
                            rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>