<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }

    .img_a {
        display: inline-block;
        width: 50px;
        max-height: 50px;
        max-width: 30%;
        cursor: pointer;
        margin-right: 3px;
    }

    .img_a > img {
        width: 50px;
        height: 50px;
    }

    .big_pic {
        width: 500px;
        max-width: 100%;
        max-height: 100%;
    }

    .img_a.big_pic > img {
        width: auto;
        height: auto;
    }
</style>
<script type="text/ng-template" id="activity_del_user.html">
    <div class="modal-header">
        <h3 class="modal-title">结束活动</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">结束原因<span class="form_label_dangus">*</span></label>

                <div class="col-sm-6">
                    <textarea class="form-control" rows="3" id="reason" ng-model="reason" placeholder="结束原因">
                    </textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="user_list.html">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="activityTitle"></h3>
    </div>
    <div class="modal-header">
        <button type="button" class="btn btn-info" ng-csv="export" csv-header="csvHeader" filename="orderlist.csv">导出数据
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered">
            <thead>
            <th>排序</th>
            <th>订单号</th>
            <th>用户姓名</th>
            <th>手机号码</th>
            <th>所在小区</th>
            <th>详细地址</th>
            <th>备注</th>
            <th>
                <div class="btn-group"
                     ng-class="{'dropup':prev_sort_field == 'order_body' && list_param.sort_desc ==0}">
                    <a class="btn"
                       ng-class="{'btn-info':prev_sort_field == 'order_body','btn-link':prev_sort_field !== 'order_body'}"
                       ng-click="sort_order('order_body')">报名品类
                        <span ng-class="{'caret':prev_sort_field == 'order_body'}"></span>
                    </a>
                </div>
            </th>
            <th style="width: 100px;">价格</th>
            <th>份数</th>
            <th>支付金额</th>
            <th>当前状态</th>
            <th>
                <div class="btn-group"
                     ng-class="{'dropup':prev_sort_field == 'order_time' && list_param.sort_desc ==0}">
                    <a class="btn"
                       ng-class="{'btn-info':prev_sort_field == 'order_time','btn-link':prev_sort_field !== 'order_time'}"
                       ng-click="sort_order('order_time')">订单时间
                        <span ng-class="{'caret':prev_sort_field == 'order_time'}"></span></a>
            </th>
            <th>操作</th>
            </thead>
            <tbody>

            <tr bindonce ng-repeat="user in user_list">
                <td><span class="msg_title" bo-text="$index+1"></span></td>
                <td><span class="msg_title" bo-text="user.order_id"></span></td>
                <td><span class="msg_title" bo-text="user.name"></span></td>
                <td><span class="msg_title" bo-text="user.mobile"></span></td>
                <td><span class="msg_title" bo-text="user.community_name"></span></td>
                <td>
                    <span class="msg_title" bo-text="'联系人：'+user.contact_name"></span><br>
                    <span class="msg_title" bo-text="'联系人电话：'+user.contact_mobile"></span><br>
                    <span class="msg_title" bo-text="'联系地址：'+user.contact_address"></span>
                </td>
                <td><span class="msg_title span50" bo-text="user.remark"></span></td>
                <td><span class="msg_title" bo-text="user.order_body"></span></td>
                <td><span class="msg_title" bo-text="user.price"></span></td>
                <td><span class="msg_title" bo-text="user.order_count"></span></td>
                <td><span class="msg_title" bo-text="user.order_price"></span></td>
                <td><span class="msg_title" ng-bind="user.order_status | order_status"></span></td>
                <td><span class="msg_title" ng-bind="user.order_time"></span></td>
                <td>
                    <a class="btn btn-danger"
                       ng-if="user.order_status == 0||user.order_status == 1||user.order_status == 3"
                       ng-click="activity_del_user(user.user_id,user.order_id,$index,sup_index)">取消报名</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="update_status.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">更新状态</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">商品列表</div>
        <div class="panel-body ">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('goods.add');">新增商品</a>
                </div>
                <br/>
            </div>
            <div class="panel">
                <ul class="nav nav-pills">
                    <li role="presentation">
                        <a class="btn">联系人账户:</a>
                    </li>
                    <li role="presentation">
                        <select class="form-control"
                                ng-change="getapi();"
                                ng-model="selected.account_id"
                                ng-options="account.account_id as account.username for account in account_list">
                            <option value="" disabled="true">请选择联系人账户</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="panel">
                <ul class="nav nav-pills">
                    <li role="presentation">
                        <a class="btn">状态:</a>
                    </li>
                    <li role="presentation" ng-class="{active:init_param.status===''}">
                        <a class="btn btn-link"
                           ng-click="init_param.status='';getapi();">全部</a>
                    </li>
                    <li role="presentation" ng-class="{active:init_param.status === 1}">
                        <a class="btn btn-link"
                           ng-click="init_param.status=1;getapi();">在线</a>
                    </li>
                    <li role="presentation" ng-class="{active:init_param.status === 2}">
                        <a class="btn btn-link"
                           ng-click="init_param.status=2;getapi();">下线</a>
                    </li>
                    <li role="presentation" ng-class="{active:init_param.status === 0}">
                        <a class="btn btn-link"
                           ng-click="init_param.status=0;getapi();">草稿</a>
                    </li>
                    <!--<li role="presentation" ng-class="{active:list_param.activity_status ==2}">-->
                    <!--<a class="btn btn-link"-->
                    <!--ng-click="list_param.activity_status=2;list_param.show_all=0;getapi();">已结束</a>-->
                    <!--</li>-->
                    <!--<li role="presentation" ng-class="{active:list_param.activity_status ==3}">-->
                    <!--<a class="btn btn-link"-->
                    <!--ng-click="list_param.activity_status=3;list_param.show_all=0;getapi();">已删除</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                <th style="width: 50px;">商品ID</th>
                <th style="width: 50px;">城市</th>
                <th style="width: 100px;">管理备注</th>
                <th style="width: 200px;">商品标题</th>
                <th style="width: 50px;">抢购期限</th>
                <th style="width: 50px;">成团份数</th>
                <th style="width: 50px;">库存上限</th>
                <th style="width: 70px;">开团小区/覆盖小区</th>
                <th style="width: 50px;">开团团数</th>
                <th style="width: 50px;">成团团数</th>
                <th style="width: 50px;">支付人数</th>
                <th style="width: 50px;">商品状态</th>
                <th style="width: 100px;">发布时间</th>
                <th>操作</th>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="item in list">
                    <td><span class="msg_title" bo-text="item.activity_id"></span></td>
                    <td><span class="msg_title" bo-text="item.city_name"></span></td>
                    <td><span class="msg_title" bo-text="item.admin_remark"></span></td>
                    <td><span class="msg_title span150"  bo-text="item.activity_title"></span></td>
                    <td><span class="msg_title" bo-text="item.group_days+'天'"></span></td>
                    <td><span class="msg_title" bo-text="item.group_min_num"></span></td>
                    <td>
                        <span class="msg_title" bo-text="'不限制'" ng-if="item.restricted_inventory==0"></span>
                        <span class="msg_title" bo-text="item.option.origin_inventory" ng-if="item.restricted_inventory==1"></span>
                    </td>
                    <td>
                        <span class="msg_title" ng-if="item.accomplish_stat"
                              bo-text="item.accomplish_stat.block+'/'+item.white_list.length"></span>
                    </td>
                    <td>
                        <a class="btn btn-info" ng-if="item.accomplish_stat"
                           ng-click="$state.go('goods.openingCommunityList',{id:item.activity_id,title:item.activity_title});">
                            <span class="msg_title" bo-text="item.accomplish_stat.count"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-info" ng-if="item.accomplish_stat"
                           ng-click="$state.go('goods.successCommunityList',{id:item.activity_id,title:item.activity_title});">
                            <span class="msg_title" bo-text="item.accomplish_stat.finish"></span>
                        </a>
                    </td>
                    <td>
                        <span class="msg_title" bo-text="item.paied_stat.count"></span>
                        <!--<a class="btn btn-info" ng-if="item.paied_stat"-->
                           <!--ng-click="user_list(item.activity_id,item.activity_title,$index);">-->
                            <!--<span class="msg_title" bo-text="item.paied_stat.count"></span>-->
                        <!--</a>-->
                    </td>
                    <td>
                        <progressbar ng-if="item.status==1" class="progress-striped active" max="180" value="200"
                                     type="success">
                            <span class="msg_title" bo-text="item.status | goods_status"></span>
                        </progressbar>
                        <progressbar ng-if="item.status==2" class="dynamic" max="200" value="200"
                                     type="danger">
                            <span class="msg_title" bo-text="item.status | goods_status"></span>
                        </progressbar>
                        <progressbar ng-if="item.status==0" class="dynamic" max="200" value="200"
                                     type="info">
                            <span class="msg_title" bo-text="item.status | goods_status"></span>
                        </progressbar>

                    </td>
                    <td><span class="msg_title" bo-text="item.activity_time"></span></td>
                    <td>
                        <a class="btn btn-primary"
                           ng-click="$state.go('goods.update',{activity_id:item.activity_id})">编辑</a>
                        <a class="btn btn-success" ng-if="item.status == 2"
                           ng-click="update_status(item,1,$index)">上线商品</a>
                        <a class="btn btn-danger" ng-if="item.status == 1"
                           ng-click="update_status(item,2,$index)">下线商品</a>
                        <a class="btn btn-success" ng-if="item.status == 1"
                           ng-click="tuan_new(item)">我要开团</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" id="pagination">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            max-size="maxSize" class="pagination"
                            boundary-links="true" ng-change="getapi(currentPage)"
                            rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>