<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">我要开团</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('goods.list');">商品列表</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="span10 tongzhiheight">
                <div class="col-md-9">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">选择负责人<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <select class="form-control" ng-model="param.account_id"
                                        ng-options="account.account_id as account.username for account in account_list">
                                    <option value="" disabled="true">请选择联系人账户</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品覆盖小区列表</label>

                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="target_type"
                                               ng-model="tmp_param.target_type" ng-value="0" ng-disabled="true">
                                        全部小区
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="target_type"
                                               ng-model="tmp_param.target_type" ng-value="1" ng-disabled="true">
                                        包括小区
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="target_type"
                                               ng-model="tmp_param.target_type" ng-value="2" ng-disabled="true">
                                        不包括小区
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-9 col-sm-offset-3">
                                <table bindonce class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="width: 40%; text-align: center;">小区ID</th>
                                        <th style="width: 40%; text-align: center;">小区名称</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="obj in tmp_param.show_communitys">
                                        <td>
                                            <span class="" bo-text="obj.community_id"></span>
                                        </td>
                                        <td>
                                            <span class="" bo-text="obj.community_name"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">选择开团小区<span class="form_label_dangus">*</span></label>

                            <!--<div class="col-sm-9">-->
                            <!--<div class="radio-inline">-->
                            <!--<label>-->
                            <!--<input type="radio" name="target_type"-->
                            <!--ng-model="tuanupdate.target_type" ng-value="0" ng-click="init_ids()">-->
                            <!--全部小区-->
                            <!--</label>-->
                            <!--</div>-->
                            <!--<div class="radio-inline">-->
                            <!--<label>-->
                            <!--<input type="radio" name="target_type"-->
                            <!--ng-model="tuanupdate.target_type" ng-value="1">-->
                            <!--包括小区-->
                            <!--</label>-->
                            <!--</div>-->
                            <!--<div class="radio-inline">-->
                            <!--<label>-->
                            <!--<input type="radio" name="target_type"-->
                            <!--ng-model="tuanupdate.target_type" ng-value="2">-->
                            <!--不包括小区-->
                            <!--</label>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="col-sm-9" ng-if="tuanadd.target_type!=0">
                                <community communitys="tmp_param.communitys" communityerr="communityerr" count="1"
                                           includes="tmp_param.includes" excludes="tmp_param.excludes"></community>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">输入开团用户账号<span
                                    class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" type="text" ng-model="param.post_user_mobile">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <!--<a class="btn btn-success" ng-click="save(0)">保存为草稿</a>-->
            <a class="btn btn-success" ng-click="save()">开团</a>
        </div>
    </div>
</div>