<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">更新商品</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('goods.list');">商品列表</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="span10 tongzhiheight">
                <div class="col-md-9">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">联系人账号<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <select class="form-control" ng-model="tuanupdate_param.account_id"
                                        ng-options="account.account_id as account.username for account in account_list">
                                    <option value="" disabled="true">请选择联系人账户</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">管理备注</label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-model="tuanupdate_param.admin_remark"
                                       placeholder="管理备注">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品标题<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-model="tuanupdate_param.activity_title"
                                       placeholder="商品标题">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品简介<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <textarea class="form-control" ng-model="tuanupdate_param.extra_data.commodity_remark"
                                          placeholder="商品简介" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品品类<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="sku"
                                               ng-model="tuanupdate_param.extra_data.sku" ng-value="1">
                                        鲜花
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="sku"
                                               ng-model="tuanupdate_param.extra_data.sku" ng-value="0">
                                        其他
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品类型(频率)<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="commodity_type"
                                               ng-model="tuanupdate_param.extra_data.commodity_type" ng-value="1">
                                        单次
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="commodity_type"
                                               ng-model="tuanupdate_param.extra_data.commodity_type" ng-value="2">
                                        包月
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品单位<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-6">
                                <input class="form-control" ng-model="tuanupdate_param.extra_data.unit"
                                       placeholder="商品单位">
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">团购类型<span class="form_label_dangus">*</span></label>-->

                        <!--<div class="col-sm-9">-->
                        <!--<div class="radio-inline">-->
                        <!--<label>-->
                        <!--<input type="radio" name="category"-->
                        <!--ng-model="tuanupdate_param.category" ng-value="3">-->
                        <!--团购-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--<div class="radio-inline">-->
                        <!--<label>-->
                        <!--<input type="radio" name="category"-->
                        <!--ng-model="tuanupdate_param.category" ng-value="2">-->
                        <!--直接买-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group " ng-show="tuanupdate_param.category == 2">-->
                        <!--<label class="col-sm-3 control-label">开始时间<span-->
                        <!--class="form_label_dangus">*</span></label>-->

                        <!--<div class="">-->
                        <!--<hjm_date_time ng-model="tuanupdate.activity_time" showtip="1"></hjm_date_time>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">结束时间<span-->
                        <!--class="form_label_dangus">*</span></label>-->

                        <!--<div class="">-->
                        <!--<hjm_date_time ng-model="tuanupdate.activity_end_time"></hjm_date_time>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group " ng-show="tuanupdate_param.category == 2">-->
                        <!--<label class="col-sm-3 control-label">报名／抢购截止时间<span-->
                        <!--class="form_label_dangus">*</span></label>-->

                        <!--<div class="">-->
                        <!--<hjm_date_time ng-model="tuanupdate.activity_apply_end_time"></hjm_date_time>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品抢购期限<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-6">
                                <input class="form-control" ng-model="tuanupdate_param.group_buy_days" type="number"
                                       placeholder="商品抢购期限">
                            </div>
                            <div class="col-sm-3">天</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">成团份数<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-6">
                                <input class="form-control" ng-model="tuanupdate_param.group_buy_min_num" type="number"
                                       s
                                       placeholder="成团份数">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">每人限购份数<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-6">
                                <input class="form-control" ng-model="tuanupdate_param.order_count_max" type="number"
                                       s
                                       placeholder="成团份数">
                            </div>
                        </div>
                        <div class="form-group" ng-if="$stateParams.type !== 'pintuan'">
                            <label class="col-sm-3 control-label">覆盖小区<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="target_type"
                                               ng-model="tuanupdate.target_type" ng-value="0" ng-click="init_ids()">
                                        全部小区
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="target_type"
                                               ng-model="tuanupdate.target_type" ng-value="1">
                                        包括小区
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="target_type"
                                               ng-model="tuanupdate.target_type" ng-value="2">
                                        不包括小区
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-9" ng-if="tuanupdate.target_type!=0">
                                <select-community ng-model="tuanupdate.ids"></select-community>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">本期团长奖励<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-model="tuanupdate_param.reward"
                                       placeholder="字数少于30个">
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">备用团长<span class="form_label_dangus">*</span></label>-->

                        <!--<div class="col-sm-9">-->
                        <!--<tuan_zhang ng-model="tuanupdate_param.group_buy_header_user_id"-->
                        <!--tuanoption="tuanoption"></tuan_zhang>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">限制库存<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="restrict_inventory"
                                               ng-model="tuanupdate_param.restrict_inventory" ng-value="1">
                                        限制库存
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="restrict_inventory"
                                               ng-model="tuanupdate_param.restrict_inventory" ng-value="0">
                                        不限制库存
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品规格<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <option_info ng-model="tuanupdate.activity_options"
                                             tuantype="tuanupdate.tuan_type"
                                             category="tuanupdate.category"
                                             inventory="tuanupdate_param.restrict_inventory"
                                             count="1"
                                             iscompleted="iscompleted"></option_info>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">封面图片<span
                                    class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <show-upload images="tuanupdate.activity_pics" max="8"
                                             hasimages="!iscompleted"></show-upload>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">封面缩略图片<span
                                    class="form_label_dangus">&nbsp;</span></label>

                            <div class="col-sm-9">
                                <show-upload images="tuanupdate.activity_small_pics" max="8"
                                             hasimages="!iscompleted"></show-upload>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">图文详情<span
                                    class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <content_or_img ng-model="tuanupdate.activity_contents[0]"
                                                iscompleted="iscompleted"></content_or_img>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">置顶<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="order_by" ng-model="tuanupdate_param.is_pinned"
                                               ng-value="1">
                                        是
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="order_by" ng-model="tuanupdate_param.is_pinned"
                                               ng-value="0">
                                        否
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-success" ng-click="save(0)">保存为草稿</a>
            <a class="btn btn-success" ng-click="save()">更新</a>
        </div>
    </div>
</div>