<div class="dashboard-page ">
    <style type="text/css">
        .inlineBlock {
            display: inline-block;
        }
    </style>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title inlineBlock" ng-if="!$stateParams.mission_id">新增课程任务</h3>
            <h3 class="panel-title inlineBlock" show-role="'admin,op'" ng-if="$stateParams.mission_id">修改课程任务</h3>
            <h3 class="panel-title inlineBlock" show-role="'!admin,op'" ng-if="$stateParams.mission_id">课程任务详情</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate
                  disabled-role="{{$stateParams.mission_id?'admin,op':''}}">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div form-input text="任务ID" ng-model="param.mission_id"
                             ng-show="$stateParams.mission_id"
                             placeholder="任务ID" ng-disabled="$stateParams.mission_id"></div>

                        <div form-input text="排序数字" ng-model="param.order_by" placeholder="排序数字" required="true"></div>

                        <div form-input text="任务名称" ng-model="param.title" placeholder="不超过25个字" required="true"
                             minlength="1" maxlength="25"></div>

                        <div form-textarea text="任务描述" ng-model="param.description" required="true"></div>

                        <div form-sources text="任务图片" ng-model="param.sources" max="100" type="1"
                             token="taskstudy"></div>

                        <div form-textarea text="任务备注" ng-model="param.remark" placeholder="不超过100个字"></div>

                        <div form-input text="URL" ng-model="param.url" placeholder="URL"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">题目&nbsp;&nbsp;</label>
                            <div class="col-sm-8">
                                <div ng-repeat="item in param.questions"
                                     style="border: 1px #ccc dashed;padding: 25px 0;">
                                    <div form-input text="文字题干" ng-model="item.name" placeholder="不超过25个字"
                                         minlength="1" maxlength="25"></div>

                                    <div form-image-single text="题干图片" ng-model="item.image"></div>

                                    <div form-table text="选项" ng-model="item.options" max="6"
                                         columns="[{'name': 'ID', 'field': 'id',hide:'true'},
                                    {'name': '名称', 'field': 'name','max':10,'placeholder':'不超过10个字',required:'true'},
                                    {'name': '该选项得分', 'field': 'score',required:'true',type:'number'}]">
                                    </div>
                                    <div class="col-sm-12">
                                        <a class="btn btn-danger btn-rounded pull-right"
                                           ng-click="param.questions&&param.questions.splice($index,1);">删除题目</a>
                                    </div>

                                    <div form-textarea text="答案解析" ng-model="item.explain"></div>

                                </div>
                                <div class="col-sm-12" style="margin-top: 15px;"
                                     ng-show="(!param.questions||param.questions&&param.questions.length<1)">
                                    <a class="btn btn-success btn-rounded"
                                       ng-click="(!param.questions||param.questions&&param.questions.length<1)&&(param.questions=[{}]);">新增题目</a>
                                </div>

                            </div>


                        </div>
                    </div>
                    <a class="btn btn-success btn-rounded" show-role="'{{$stateParams.mission_id?'admin,op':''}}'"
                       ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
            </form>
        </div>
    </div>
</div>