<div class="dashboard-page ">
    <style type="text/css">
        .dndsimpleSubject .dndDragging {
            opacity: 0.7;
        }

        .dndsimpleSubject .dndDraggingSource {
            display: none;
        }

        .dndsimpleSubject .dndPlaceholder {
            background-color: #ddd;
            height: 70px;
            border: 1px solid #ddd;
            padding-left: 5px;
            padding-right: 5px;
        }

        .dndsimpleSubject .selected {
            background-color: #dff0d8;
            color: #3c763d;
            width: 100%;
        }
    </style>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" ng-bind="title"></h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate>

                <div form-input ng-model="param.name" text="专题组名称" maxlength="5" placeholder="专题组名称最多5个字" required="true"></div>

                <div form-input ng-model="param.order_by" text="排序" required="true" type="number" min="0" max="100000"></div>

                <div form-radio text="类型" ng-model="param.type" default="" source="[{text:'专题组',value:'1'}]"></div>

                <div form-image-single ng-model="param.small_pic_url" text="小图标" required="true"></div>

                <h4 class="text-danger col-sm-offset-2 col-sm-10">头图尺寸 690*160 </h4>
                <div form-image-single ng-model="param.head_pic_url" text="头图" required="true"></div>


                <div form-search text="查询专题ID" verify="verify_activity_detail(id)" btn-text="添加"
                     ajax-config="{method:'get',url:$root.common.live_domain+'/live/special/activity/details/?id='+id}"
                     ng-model="id" callback="add_activity_detail(json)"></div>

                <div class="row">
                    <label class="col-sm-2 control-label">专题列表&nbsp;&nbsp;</label>
                    <div class="col-sm-8">
                        <ul class="list-group dndsimpleSubject" dnd-list="param.details">

                            <li class="list-group-item" ng-repeat="(key,item) in param.details"
                                dnd-draggable="item" dnd-moved="param.details.splice(key, 1);" dnd-effect-allowed="move">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label class="label label-success" ng-bind="'第 '+($index+1)"></label>
                                    </div>
                                    <div class="col-sm-10" dnd-nodrag>
                                        <div class="col-sm-2">
                                            <input class="form-control" ng-model="item.id" ng-disabled="true">
                                        </div>
                                        <div class="col-sm-8">
                                            <input class="form-control" ng-model="item.title" ng-disabled="true">
                                        </div>
                                        <div class="col-sm-2">
                                            <a class="btn btn-danger btn-bordered btn-xs pull-right" ng-click="param.details.splice($index, 1);">
                                                <span class="glyphicon glyphicon-trash"></span>删除
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item dndPlaceholder">
                                <div class="text-center"><h3 class="red">拖拽到这里</h3></div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div form-radio text="状态" ng-model="param.status" default="" source="[{text:'上线',value:'1'},{text:'下线',value:'2'}]"></div>

                <a class="btn btn-primary btn-rounded pull-right " ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
            </form>
        </div>
    </div>
</div>