<div>
    <style type="text/css">
        .dndsimpleSubject .dndDragging {
            opacity: 0.7;
        }

        .dndsimpleSubject .dndDraggingSource {
            display: none;
        }

        .dndsimpleSubject .dndPlaceholder {
            background-color: #ddd;
            height: 70px;
            border: 1px solid #ddd;
            padding-left: 5px;
            padding-right: 5px;
        }

        .dndsimpleSubject .selected {
            background-color: #dff0d8;
            color: #3c763d;
            width: 100%;
        }
    </style>
    <div class="form-group">
        <a class="btn btn-rounded btn-xs" ng-class="{'btn-success':read,'btn-warning':!read}"
           ng-click="read=!read;"><span class="glyphicon fa fa-refresh"></span> <span ng-bind="read?'拖拽排序模式':'编辑模式'"></span> </a>
    </div>
    <div class="form-group" ng-show="!read" ng-repeat="item in ngModel" style="margin-bottom: 0;border: 1px solid #ccc;">
        <br>
        <div class="col-sm-2">
            <label class="label label-success" ng-bind="'第 '+($index+1)"></label>
        </div>
        <div class="col-sm-10">
            <a class="btn btn-danger btn-bordered btn-xs" ng-click="item.padding = 0" ng-show="item.padding ==1">
                <span class="glyphicon glyphicon-trash"></span>取消上边距
            </a>
            <a class="btn btn-primary btn-bordered btn-xs" ng-click="item.padding = 1" ng-show="item.padding !=1">
                <span class="glyphicon glyphicon-plus"></span>添加上边距
            </a>
            <label class="label ">
                <span ng-class="{'text-primary':item.padding == 1,'text-danger':item.padding == 0}"
                      ng-bind="item.padding == 1 ? '&nbsp;&nbsp;&nbsp;有上边距' : '&nbsp;&nbsp;&nbsp;无上边距' "></span>
            </label>
            <a class="btn btn-danger btn-bordered btn-xs pull-right" ng-click="del($index);">
                <span class="glyphicon glyphicon-trash"></span>删除这条专题内容
            </a>
        </div>

        <!--1文字,2图片,3视频,4视频组id-->
        <div form-radio text="类型" name="item.type[{{$index}}]" ng-model="item.type" default="1" required="true"
             source="[{text:'文字',value:1},{text:'图片',value:2},{text:'视频',value:3},{text:'视频组ID',value:4}]" source-api=""></div>

        <div class="col-sm-12" style="margin-top: 5px;" ng-if="item.type == 1">
            <show-rich-content ng-model="item.content_value" placeholder="填写你要说的"></show-rich-content>
        </div>

        <div class="col-sm-12" style="margin-top: 5px;" ng-if="item.type == 2">
            <div form-image-single ng-model="item.content_value" text="图片" required="true"></div>
        </div>

        <div form-input text="视频URL" ng-model="item.content_value" placeholder="填写视频URL" required="true" ng-if="item.type == 3"></div>
        <div form-image-single ng-model="item.video_pic_url" text="视频图片" required="true" ng-if="item.type == 3"></div>

        <div class="col-sm-12" ng-if="item.type == 4">
            <div form-input text="视频组ID" ng-model="item.content_value" placeholder="填写视频组ID" required="true"></div>
        </div>
    </div>
    <div ng-show="read">
        <ul class="list-group dndsimpleSubject" dnd-list="ngModel">

            <li class="list-group-item" ng-repeat="(key,item) in ngModel"
                dnd-draggable="item" dnd-moved="ngModel.splice(key, 1);" dnd-effect-allowed="move">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="label label-success" ng-bind="'第 '+($index+1)"></label>
                    </div>
                    <div class="col-sm-1" dnd-nodrag>
                        <label class="label" ng-class="{'label-primary':item.padding == 1,'label-danger':item.padding == 0}"
                               ng-bind="item.padding==1?'有上边距':'无上边距'"></label>
                    </div>
                    <div class="col-sm-9" dnd-nodrag>
                        <div class="row" ng-if="item.type == 1">
                            <span> 文本内容 </span>
                        </div>
                        <div class="row" ng-if="item.type == 2">
                            <div show-image url="item.content_value" width="50"></div>
                        </div>
                        <div class="row" ng-if="item.type == 3">
                            <span ng-bind="'视频URL:'+item.content_value"></span>
                        </div>
                        <div class="row" ng-if="item.type == 4">
                            <span ng-bind="'视频组ID:'+item.content_value"></span>
                        </div>
                    </div>
                </div>
            </li>

            <li class="list-group-item dndPlaceholder">
                <div class="text-center"><h3 class="red">拖拽到这里</h3></div>
            </li>
        </ul>
    </div>
    <br>
    <div class="form-group">
        <a class="btn btn-success btn-rounded btn-xs" ng-click="add();"><span class="glyphicon glyphicon-plus"></span> 新增专题内容</a>
    </div>
</div>