<div class="panel panel-primary" ng-show="FormBody.$invalid">
    <div class="panel-body">
        <h5>表单验证提示</h5>
        <!--<textarea class="form-control" rows="200" ng-bind="FormBody|json"></textarea>-->
        <!--<div ng-repeat="(key,val) in FormBody" >-->
        <!--ng-if="val.$invalid && val.$name"-->
        <!--<span ng-bind="val|json"></span><br/>-->
        <!--</div>-->
        <ul class="list-group col-sm-8 col-sm-offset-2">
            <li class="list-group-item list-group-item-danger">
                <div class="row">
                    <span class="col-sm-2">提示项</span>
                    <span class="col-sm-3">提交字段名(name)</span>
                    <span class="col-sm-3">详情</span>
                    <div class="col-sm-2">
                        <a class="btn btn-xs btn-warning btn-rounded" ng-click="mock_dev=!mock_dev">展示详细信息</a>
                    </div>
                </div>
            </li>
            <!--<li class="list-group-item" ng-repeat="(key,val) in FormBody.$error">-->
            <!--<div class="row" ng-repeat="(k,v) in val">-->
            <!--<span class="col-sm-2" ng-bind="v.text"></span>-->
            <!--<span class="col-sm-3" ng-bind="v.$name"></span>-->
            <!--<div class="col-sm-3">-->
            <!--&lt;!&ndash;<span ng-bind="v.$error|form_err"></span>&ndash;&gt;-->
            <!--<span ng-repeat="(kk,vv) in v.$error"-->
            <!--ng-bind="(($index>0)?'; ':'')+(kk|form_err)"></span>-->
            <!--</div>-->
            <!--&lt;!&ndash;<span class="col-sm-2" ng-bind="val|json" show-env="dev,test"></span>&ndash;&gt;-->
            <!--</div>-->

            <!--</li>-->
            <li class="list-group-item" ng-repeat-start="(key,val) in FormBody"
                ng-if="val.$invalid&&val.$name">
                <div class="row">
                    <span class="col-sm-2" ng-bind="val.text"></span>
                    <span class="col-sm-3" ng-bind="val.$name"></span>
                    <div class="col-sm-3">
                        <span ng-repeat="(k,v) in val.$error"
                              ng-bind="(($index>0)?'; ':'')+(k|form_err)"></span>
                    </div>
                    <!--<span class="col-sm-2" ng-bind="val|json" show-env="dev,test"></span>-->
                </div>
            </li>
            <li class="list-group-item" ng-repeat-end ng-show="val.$invalid&&val.$name&&mock_dev">
                <div class="row">
                    <span class="col-sm-8" ng-bind="val|json"></span>
                </div>
            </li>
        </ul>
    </div>
</div>