<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="btn-group" role="group">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary">Primary</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">Info</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">Warning</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">Danger</button>
                    </div>
                </div>
                <button class="btn btn-default" ladda="loading" ng-click="clickBtn()" data-spinner-size="30">
                    Button
                </button>
            </div>
        </div>
    </div>
</div>