<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Regular Table
                <!--<div class="panel-control pull-right">-->
                    <!--<a class="panelButton"><i class="fa fa-refresh"></i> </a>-->
                    <!--<a class="panelButton"><i class="fa fa-minus"></i> </a>-->
                    <!--<a class="panelButton"><i class="fa fa-remove"></i> </a>-->
                <!--</div>-->
            </h3>
        </div>
        <div class="panel-body">
            <div hjm-search-bar="biz.search"></div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>john@gmail.com</td>
                    <td>London, UK</td>
                </tr>
                <tr>
                    <td>Andy</td>
                    <td>andygmail.com</td>
                    <td>Merseyside, UK</td>
                </tr>
                <tr>
                    <td>Frank</td>
                    <td>frank@gmail.com</td>
                    <td>Southampton, UK</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>