<style>
    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">修改开通城市</div>
        <div class="panel-body">
            <div class="col-md-8">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">开通城市<span
                                class="form_label_dangus">*</span></label>

                        <div class="col-sm-9">
                            <textarea class="form-control" rows="5" ng-model="conf_param.open_citys"
                                      placeholder="开通城市，小写逗号隔开">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-success" ng-click="getapi()">修改设置</a>
        </div>
    </div>
</div>