<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">个人信息</div>
        <div class="panel-body">
            <div class="span10 tongzhiheight">
                <div class="col-md-9">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">负责人账号<span
                                    class="form_label_dangus">&nbsp;</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-model="param.username" ng-disabled="true"
                                       placeholder="负责人账号" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">角色<span
                                    class="form_label_dangus">&nbsp;</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-model="tmp_param.type" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">权限城市<span
                                    class="form_label_dangus">&nbsp;</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-model="tmp_param.current_city_list" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">当前城市<span
                                    class="form_label_dangus">&nbsp;</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-model="tmp_param.current_city_name" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">手机号码<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-model="param.mobile"
                                       placeholder="手机号码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">微信二维码<span class="form_label_dangus">&nbsp;</span></label>

                            <div class="col-sm-9">
                                <show-upload images="tmp_param.weixin_qrcode" max="1"
                                             hasimages="!iscompleted"></show-upload>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">微信昵称<span
                                    class="form_label_dangus">&nbsp;</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-model="param.weixin_nickname"
                                       placeholder="微信昵称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注<span
                                    class="form_label_dangus">&nbsp;</span></label>

                            <div class="col-sm-9">
                                <textarea class="form-control" ng-model="param.remark"
                                          placeholder="备注" cols="10" rows="3"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-success" ng-click="save()">更新</a>
        </div>
    </div>
</div>