<div class="dashboard-page ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title inlineBlock" ng-if="!$stateParams.product_id">新增题库</h3>
            <h3 class="panel-title inlineBlock" show-role="'admin,op'" ng-if="$stateParams.product_id">修改题库</h3>
            <h3 class="panel-title inlineBlock" show-role="'!admin,op'" ng-if="$stateParams.product_id">题库详情</h3>
        </div>
        <div class="panel-body">
            <!--<simditor ng-model="content" config="simditorConfig"></simditor>-->
            <form class="form-horizontal" name="FormBody" novalidate
                  disabled-role="{{$stateParams.product_id?'admin,op':''}}">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div form-radio text="题型" type="radio" ng-model="param.type" required="true" default="1"
                             source="[{text:'单选',value:'1'},{text:'多选',value:'2'}]" source-api=""></div>
                        <div form-select text="维度" ng-model="param.category_id" required="true"
                             source="category_ids" source-api=""></div>
                        <div form-textarea text="文字描述" ng-model="param.title" placeholder="文字描述"
                             ng-disabled="$stateParams.product_id"></div>
                        <div form-image text="题图" ng-model="param.image" max="100"></div>
                        <div form-table text="选项" ng-model="param.options" required="true"
                             columns="[{'name': 'ID', 'field': 'id',hide:'true'},
                             {'name': '名称', 'field': 'name',required:'true'},
                             {'name': '正确选项(之一)', 'field': 'selected',required:'true',radioBox:'true',default:'0',source:'[{text:\'是\',value:\'1\'},{text:\'否\',value:\'0\'}]'}]"></div>

                        <div form-radio text="年龄" type="radio" ng-model="age" required="true" default="1"
                             source="[{text:'0-3',value:'1'},{text:'4-6',value:'2'},{text:'7-9',value:'3'},{text:'10岁以上',value:'4'}]"
                             source-api=""></div>
                    </div>
                </div>
                <div form-error-block></div>
                <a class="btn btn-success btn-rounded" show-role="'{{$stateParams.product_id?'admin,op':''}}'"
                   ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
            </form>
        </div>
    </div>
</div>