<div class="dashboard-page ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" ng-bind="title"></h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate>
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <div video-work="param" ext="param.tasks" handle="add" ng-if="handle" title="添加" class="pull-right"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><h3 class="text-primary text-center">点击题目ID标记拖拽可调整顺序，需要保存草稿或发布任务才能生效</h3></td>
                    </tr>
                </table>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div video-task-view param="param" handle="handle"></div>
                    </div>
                </div>
                <a class="btn btn-primary btn-rounded pull-right " ng-if="handle" ng-disabled="FormBody.$invalid" ng-click="submit()">保存草稿</a>
                <a class="btn btn-success btn-rounded pull-right " ng-if="handle" ng-disabled="FormBody.$invalid" ng-click="submit(1)">发布任务</a>
            </form>
        </div>
    </div>
</div>