<ul class="nav navbar-nav">
    <li class="dropdown" dropdown="" on-toggle="toggled(open)">
        <a class="dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-envelope"></span>
            <span class="badge badge-green">5</span>
        </a>
        <ul class="dropdown-menu animated fadeIn">
            <li class="messages-top text-center ng-binding"> You have 4 unread messages.</li>
            <li class="dropdown-messages"><a href="#">
                <div class="message-sender ng-binding"> Lucy Chandler</div>
                <div class="message-header ng-binding"> Sent you a friend request.</div>
            </a></li>
            <li class="dropdown-messages"><a href="#">
                <div class="message-sender ng-binding"> Diptesh Mishra</div>
                <div class="message-header ng-binding"> Asked you to join StrapUI.</div>
            </a></li>
            <li class="dropdown-messages"><a href="#">
                <div class="message-sender ng-binding"> Wang Xiao</div>
                <div class="message-header ng-binding"> Congratulations! your account is activated.</div>
            </a></li>
            <li class="dropdown-messages"><a href="#">
                <div class="message-sender ng-binding"> Jade Mullick</div>
                <div class="message-header ng-binding"> Let's have a meeting at 5:00pm.</div>
            </a></li>
        </ul>
    </li>
</ul>