<div class="dashboard-page ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" ng-if="!$stateParams.account_id">新增账户</h3>
            <h3 class="panel-title" ng-if="$stateParams.account_id">修改账户</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h4>账户信息</h4>
                        <div form-input text="账户ID" ng-model="param.account_id"
                             ng-show="$stateParams.account_id"
                             placeholder="账户ID" ng-disabled="$stateParams.account_id"></div>
                        <div form-input text="负责人账号" ng-model="param.username" placeholder="负责人账号"
                             required="true"></div>
                        <div form-input text="初始化密码" ng-model="userpass" placeholder="初始化密码"
                             ng-show="!$stateParams.account_id"></div>
                        <div form-input text="手机号码" ng-model="param.mobile" min="11" max="11" placeholder="11位数字"
                             required="true"></div>
                        <div form-radio text="角色" ng-model="param.role" required="true" default="param.role"
                             source="roles"></div>
                             <!--source="[{text:'op',value:'op'},{text:'pm',value:'pm'},{text:'admin',value:'admin'},{text:'cw',value:'cw'}]"-->
                        <div form-checkbox text="所属城市列表" ng-model="param.city_list" required="true"
                             source="openCitys"></div>
                        <!--<div form-radio text="定位城市" ng-model="param.city_name" required="true"-->
                        <!--source="[{text:'上海市',value:'上海市'},{text:'南京市',value:'南京市'},{text:'厦门市',value:'厦门市'}]"-->
                        <!--source-api=""></div>-->
                        <div form-textarea="" text="备注" ng-model="param.remark"></div>
                    </div>
                </div>
                <a class="btn btn-success btn-rounded" ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
                <!--<a class="btn btn-warning btn-rounded" ng-click="aaa()">查看提交的数据</a>-->
            </form>
        </div>
    </div>
</div>