<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }
</style>
<script type="text/ng-template" id="export_review.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">导出数据</h3>
        <button type="button" class="btn btn-success" ng-click="open()">导出Excel数据</button>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered">
            <thead>
            <th>编号</th>
            <th bindonce ng-repeat="header in data.headers" bo-text="header"></th>
            </thead>
            <tbody>
            <tr bindonce ng-repeat="result in data.results">
                <td>
                    <span class="msg_title" bo-text="$index+1"></span>
                </td>
                <td bindonce ng-repeat="item in result">
                    <span class="msg_title" bo-text="item"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="export_run.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">导出数据</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group" ng-repeat="obj in tmp_param">
                <!--<input class="col-sm-1" ng-model="obj.value" placeholder="输入框">-->
                <label class="col-sm-3 control-label">{{obj.des}}<span
                        class="form_label_dangus">*</span></label>

                <div class="col-sm-6" ng-if="obj.type==1">
                    <input class="form-control" ng-model="obj.value" placeholder="输入框">
                </div>
                <div class="col-sm-9" ng-if="obj.type==2">
                    <label class="radio-inline" ng-repeat="item in obj.tmp_value">
                        <input type="radio" name="'val'+{{obj.name}}" ng-model="obj.val" ng-value="item.value">
                        {{item.des}}
                    </label>
                </div>
                <div class="col-sm-9" ng-if="obj.type==3">
                    <label class="checkbox-inline" ng-repeat="item in obj.val">
                        <input type="checkbox" name="'val'+{{obj.name}}" ng-model="item.checked"
                               ng-true-value="true" ng-false-value="false">{{item.des}}
                    </label>
                </div>
                <div class="" ng-if="obj.type==4">
                    <hjm_date_time ng-model="obj.value"></hjm_date_time>
                </div>
                <div class="" ng-if="obj.type==5">
                    <hjm_date ng-model="obj.value"></hjm_date>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">导出数据</div>
        <div class="panel-body ">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('export.post');" ng-if="hjm.type=='admin'">新增导出</a>
                </div>
                <br/>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                <th style="width: 30px;">ID</th>
                <!--<th style="width: 70px;">所属人</th>-->
                <th style="width: 70px;">描述</th>
                <th style="width: 75px;">导出次数</th>
                <th style="width: 100px;">SQL参数</th>
                <th style="width: 75px;">SQL语句</th>
                <th style="width: 100px;">操作</th>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="item in list">
                    <td><span class="msg_title" bo-text="item.id"></span></td>
                    <!--<td><span class="msg_title" bo-text="item.account_id"></span></td>-->
                    <td><span class="msg_title" bo-text="item.name"></span></td>
                    <td><span class="msg_title" bo-text="item.run_count"></span></td>
                    <td>
                        <show_str str="item.sql_param|stringify" split="" title="'SQL参数'" btn_str="'参数'"></show_str>
                    </td>
                    <td>
                        <show_str str="item.sql_statement" split="" title="'SQL语句'" btn_str="'SQL语句'"></show_str>
                    </td>
                    <td>
                        <a class="btn btn-primary" ng-click="update(item);" ng-if="hjm.type=='admin'">编辑</a>
                        <a class="btn btn-success" ng-click="run(item)">运行</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" id="pagination">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            max-size="maxSize" class="pagination"
                            boundary-links="true" ng-change="getapi(currentPage)"
                            rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>