<style>
    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">新增导出</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('export.list');">导出数据</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="span10 tongzhiheight">
                <div class="col-md-9">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">描述<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-model="param.name"
                                       placeholder="描述">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">SQL语句<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <textarea class="form-control" rows="5" ng-model="param.sql_statement"
                                          placeholder="SQL语句"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">SQL参数<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <table class="table table-bordered">
                                    <thead>
                                    <th style="width: 15%;text-align: center;">参数名称</th>
                                    <th style="width: 30%;text-align: center;">描述</th>
                                    <th style="width: 10%;text-align: center;">类型</th>
                                    <th style="width: 30%;text-align: center;">默认值</th>
                                    <th style="width: 10%;text-align: center;">
                                        <a class="btn btn-default" ng-click="add_param()">添加</a>
                                    </th>
                                    </thead>
                                    <tr ng-repeat="item in tmp_param.sql_param">
                                        <td><input class="form-control" ng-model="item.name"></td>
                                        <td><input class="form-control" ng-model="item.des"></td>
                                        <td>
                                            <select class="form-control" ng-model="item.type">
                                                <option value="1">输入框</option>
                                                <option value="2">单选</option>
                                                <option value="3">多选</option>
                                                <option value="4">时间</option>
                                                <option value="5">日期</option>
                                            </select>
                                        </td>
                                        <td><input class="form-control" ng-model="item.value"></td>
                                        <td>
                                            <a class="btn btn-danger" ng-click="del_param($index)">删除</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">SQL字段<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <table class="table table-bordered">
                                    <thead>
                                    <th style="width: 40%;text-align: center;">字段</th>
                                    <th style="width: 40%;text-align: center;">描述</th>
                                    <th style="width: 20%;text-align: center;">
                                        <a class="btn btn-default text-center" ng-click="add_field()">添加</a>
                                    </th>
                                    </thead>
                                    <tr ng-repeat="item in tmp_param.sql_field">
                                        <td><input class="form-control" ng-model="item.field_key"></td>
                                        <td><input class="form-control" ng-model="item.field_value"></td>
                                        <td style="text-align: center;">
                                            <a class="btn btn-danger" ng-click="del_field($index)">删除</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-success" ng-click="save()">保存</a>
        </div>
    </div>
</div>