<div class="dashboard-page ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" ng-if="!$stateParams.banner_id">新增运营位</h3>
            <h3 class="panel-title" ng-if="$stateParams.banner_id">修改运营位</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h4>供应商信息</h4>
                        <div form-input text="ID" ng-model="param.id"
                             ng-show="$stateParams.id"
                             placeholder="ID" ng-disabled="$stateParams.id == param.id"></div>
                        <div form-input text="供应商全名" ng-model="param.company_name" placeholder="供应商全名" required="true"></div>
                        <div form-input text="供应商联系方式" ng-model="param.contact_mobile" placeholder="供应商联系方式" required="true"></div>
                        <div form-input text="供应商联系人" ng-model="param.contact_name" placeholder="供应商联系人" required="true"></div>
                        <div form-image text="营业执照" ng-model="param.business_license" max="10" required="true"></div>
                        <h4>登录账号信息</h4>
                        <div form-input text="登录账号" ng-model="param.account.username" placeholder="登录账号" required="true"></div>
                        <div form-input text="登录密码" ng-model="param.account.password" placeholder="登录密码" required="true"></div>

                        <div form-input text="对接负责人" ng-model="param.charge_bd" placeholder="对接负责人" required="true"></div>
                        <div form-textarea text="备注" ng-model="param.remark"></div>

                    </div>
                </div>
                <a class="btn btn-success btn-rounded" ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
            </form>
        </div>
    </div>
</div>