<div class="dashboard-page ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" ng-if="!$stateParams.exchangecode_id">新增兑换码</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h4>兑换码</h4>
                        <div form-input text="兑换码名称" ng-model="param.title" placeholder="兑换码名称" required="true"></div>

                        <div form-input text="活动ID" ng-model="param.product_id" placeholder="不限制活动ID可不填写"></div>

                        <div form-radio text="适用范围" ng-model="param.category" required="true" default="0"
                             source="[{text:'不限',value:'0'},{text:'人数团',value:'2'},{text:'直接买',value:'3'}]"
                             source-api=""></div>

                        <div form-radio text="活动品类" ng-model="param.sku" required="true" ng-show="false"
                             source="[{text:'不限',value:'0'}]" source-api=""></div>

                        <div form-radio text="商品类型(频率)" ng-model="param.frequency_type" required="true"
                             source="[{text:'单次',value:'1'},{text:'包月',value:'2'},{text:'不限',value:'0'}]"
                             source-api=""></div>

                        <!--<div form-input text="满(金额)" ng-model="param.over_price" type="number" min="0" max="param.price"-->
                             <!--placeholder="不是满减优惠券的不填写"></div>-->

                        <div form-input text="减(金额)" ng-model="param.price" required="true" type="number" min="0"></div>

                        <div form-input text="优惠券总量" ng-model="param.total" required="true" type="number"></div>

                        <div form-input text="优惠券有效天数" ng-model="param.valid_days" required="true" type="number"
                             placeholder="自兑换成功后的有效时间"></div>

                        <div form-date-time text="兑换开始时间" ng-model="param.start_time" required="true"></div>

                        <div form-date-time text="兑换结束时间" ng-model="param.expire_time" required="true"></div>
                    </div>
                </div>
                <a class="btn btn-success btn-rounded" ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
            </form>
        </div>
    </div>
</div>