<div class="dashboard-page ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" ng-if="!$stateParams.exchangecode_id">新增兑换码</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h4>兑换码</h4>
                        <div form-input text="兑换码名称" ng-model="param.title" placeholder="兑换码名称" required="true"></div>

                        <div form-radio text="适用范围" ng-model="param.category" required="true"
                             source="[{text:'不限',value:'0'},{text:'拼团',value:'1'}]" source-api=""></div>

                        <div form-radio text="商品品类" ng-model="param.sku" required="true"
                             source="[{text:'鲜花',value:'1'},{text:'不限',value:'0'}]" source-api=""></div>

                        <div form-radio text="商品类型(频率)" ng-model="param.frequency_type" required="true"
                             source="[{text:'包月',value:'1'},{text:'单次',value:'2'},{text:'不限',value:'0'}]"
                             source-api=""></div>

                        <div form-input text="优惠劵金额" ng-model="param.price" required="true" type="number"></div>

                        <div form-input text="优惠券总量" ng-model="param.total" required="true" type="number"></div>

                        <div form-date-time text="上线时间" ng-model="param.start_time" required="true"></div>

                        <div form-date-time text="过期时间" ng-model="param.expire_time" required="true"></div>
                    </div>
                </div>
                <a class="btn btn-success btn-rounded" ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
            </form>
        </div>
    </div>
</div>