<div class="dashboard-page ">
    <style type="text/css">
        .inlineBlock {
            display: inline-block;
        }
    </style>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title inlineBlock">直播计划</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate
                  disabled-role="{{$stateParams.product_id?'admin,op':''}}">
                <div class="panel panel-primary">
                    <div class="panel-body">

                        <div form-input text="直播ID" ng-model="param.id" ng-show="$stateParams.id"
                             placeholder="直播ID" ng-disabled="$stateParams.id"></div>

                        <div form-table text="直播预告" ng-model="param.plans"
                             columns="[{'name': '序列', 'field': 'room_no'},
                             {'name': '开始时间', 'field': 'start_time',type:'datetime',required:'true'},
                             {'name': '结束时间', 'field': 'end_time',type:'datetime',min:'0',required:'true'},
                             {'name': '计划情况', 'field': 'plan_status'}]"></div>
                    </div>
                </div>

                <div form-error-block></div>
                <a class="btn btn-success btn-rounded" show-role="'{{$stateParams.product_id?'admin,op':''}}'"
                   ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
            </form>
        </div>
    </div>
</div>