<div class="dashboard-page ">
    <style type="text/css">
        .inlineBlock {
            display: inline-block;
        }
    </style>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title inlineBlock" ng-if="!$stateParams.id">新增直播</h3>
            <h3 class="panel-title inlineBlock" ng-if="$stateParams.id">修改直播</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate
                  disabled-role="{{$stateParams.product_id?'admin,op':''}}">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h5 style="margin: 0; padding: 10px 0;">直播信息</h5>
                    </div>
                    <div class="panel-body">

                        <div form-input text="直播ID" ng-model="param.id" ng-show="$stateParams.id"
                             placeholder="直播ID" ng-disabled="$stateParams.id"></div>

                        <div form-input text="直播标题" ng-model="param.title" placeholder="直播标题,不超过30个字" required="true"
                             minlength="1" maxlength="30"></div>

                        <div form-input text="播放次数基数" ng-model="param.base_play_count" type="number" required="true"
                             min="0"></div>
                        <div form-input text="点赞次数基数" ng-model="param.base_thumbup_count" type="number" min="0"
                             required="true"></div>

                        <div form-image-single text="直播图片" ng-model="param.pic_url" required="true"></div>

                        <div form-image-single text="上传二维码" ng-model="param.qrcode_url"></div>

                        <div form-radio text="订单类型" type="radio" ng-model="param.sku" required="true" default="10"
                             source="[{text:'博物馆直播',value:'10'},{text:'名校直播',value:'11'},{text:'成人演讲',value:'12'}
                             ,{text:'少年好声音',value:'13'},{text:'免费',value:'0'}]" source-api=""></div>

                        <div form-input text="分享URL" ng-model="param.share_url" placeholder="分享URL"></div>

                        <div form-input text="排序" ng-model="param.order_by" placeholder="排序" type="number" min="0"
                             required="true"></div>
                        <hr>
                        <h5>播放地址</h5>
                        <div form-radio text="云服务器类型" type="radio" ng-model="param.cloud.cloud_type" required="true"
                             default="1"
                             source="[{text:'阿里',value:'1'},{text:'七牛',value:'2'}]" source-api=""></div>

                        <div form-radio text="是否需要签权" type="radio" ng-model="param.cloud.cloud_auth" required="true"
                             default="1"
                             source="[{text:'是',value:'1'},{text:'否',value:'2'}]" source-api=""></div>

                        <div form-input text="聊天房间ID" ng-model="param.cloud.chat_room_id" placeholder="聊天房间ID"
                             required="true"></div>
                        <div form-input text="直播域名" ng-model="param.cloud.domain" placeholder="直播域名"
                             required="true"></div>
                        <div form-input text="应用名称" ng-model="param.cloud.app_name" placeholder="应用名称"
                             required="true"></div>
                        <div form-input text="流名称" ng-model="param.cloud.stream_name" placeholder="流名称"
                             required="true"></div>

                        <div form-input text="RTMP" ng-model="param.cloud.rtmp_url" placeholder="RTMP"
                             required="true"></div>
                        <div form-input text="HLS" ng-model="param.cloud.mu_url" placeholder="HLS(m3u8)"
                             required="true"></div>
                        <div form-input text="FLV" ng-model="param.cloud.flv_url" placeholder="FLV"
                             required="true"></div>

                        <div form-input text="高清RTMP" ng-model="param.cloud.high_rtmp_url" placeholder="RTMP"
                             required="true"></div>
                        <div form-input text="高清HLS" ng-model="param.cloud.high_mu_url" placeholder="HLS(m3u8)"
                             required="true"></div>
                        <div form-input text="高清FLV" ng-model="param.cloud.high_flv_url" placeholder="FLV"
                             required="true"></div>

                        <div form-input text="流畅RTMP" ng-model="param.cloud.fluency_rtmp_url" placeholder="RTMP"
                             required="true"></div>
                        <div form-input text="流畅HLS" ng-model="param.cloud.fluency_mu_url" placeholder="HLS(m3u8)"
                             required="true"></div>
                        <div form-input text="流畅FLV" ng-model="param.cloud.fluency_flv_url" placeholder="FLV"
                             required="true"></div>

                        <div form-radio text="苹果审核标志" type="radio" ng-model="param.ios_audit" required="true"
                             default="2"
                             source="[{text:'是',value:'1'},{text:'否',value:'2'}]" source-api=""></div>

                        <div form-rich-text text="看点" ng-model="param.watch_point" placeholder="看点"></div>

                    </div>
                </div>

                <div form-error-block></div>
                <a class="btn btn-success btn-rounded" show-role="'{{$stateParams.product_id?'admin,op':''}}'"
                   ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
            </form>
        </div>
    </div>
</div>