<div class="dashboard-page ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">新增</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate>
                <div class="panel panel-primary">
                    <div class="panel-body">

                        <div form-radio text="类型" ng-model="param.in_out" default="1"
                             source="[{text:'发放',value:1},{text:'扣除',value:2}]"></div>

                        <div form-radio text="扣除" ng-model="param.type" default="1" ng-show="param.in_out===2"
                             source="[{text:'分享奖学金',value:1},{text:'其他',value:2}]"></div>


                        <div form-table text="直接买课程类目" ng-model="param.users" max="100"
                             columns="[
                             {'name': '用户手机号', 'field': 'mobile',required:'true'},
                             {'name': '金额', 'field': 'coin',type:'number',min:'0',required:'true'},
                             {'name':'是否成功','class':'text-center', fieldDirective:'
                             <label class=\'text-danger\' ng-show=\'$parent.$parent.$parent.failureStr.indexOf(item.mobile)>-1\'>失败</label>'}]"></div>

                        <div form-textarea text="备注" ng-model="param.remark" required="true" placeholder="标记一下操作原因"></div>

                    </div>
                </div>
                <div form-error-block></div>
                <a class="btn btn-success btn-rounded pull-right" ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
            </form>
        </div>
    </div>
</div>