<style type="text/css">
    .panel-group .panel {
        width: 48%;
        display: inline-table;
        margin-left: 0.5%;
        /*margin-right: 0.5%;*/
    }

    .panel > .panel-body > uib-accordion {
        display: inline-block;
    }
</style>
<div class="panel panel-primary menu-panel">
    <div class="panel-heading">菜单管理</div>
    <div class="panel-body ">
        <div class="row">
            <div class="col-sm-4">
                <common_form form_param="param" form_init_data="{sort:menus.length+1}" form_url="add_url"
                             form_title="'新增主菜单'" callback="getapi"
                             btn-class="btn btn-primary btn-rounded btn-bordered visible-lg pull-left">Ω
                    <i class="fa fa-plus"></i>
                </common_form>
            </div>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label class="checkbox-inline checkbox1">
                        <input type="checkbox" ng-model="oneAtATime" ng-init="oneAtATime=true"> <span></span>
                        一次只打开一个来编辑</label>
                </div>
            </div>
        </div>

        <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group heading="{{menu.sort+'&nbsp;&nbsp;&nbsp;'+menu.name+'( ID:'+menu.id+')'}}"
                 ng-repeat="menu in menus" class="panel panel-default panel-info">
                <div class="accordion-heading row">
                    <common_form form_param="param" form_init_data="menu" form_url="update_url"
                                 form_title="'更新'" callback="getapi" form_method="PUT" form_param_id="{{menu.id}}"
                                 btn-class="btn btn-info btn-outline btn-rounded pull-right"></common_form>
                    <common_form form_param="param_sub" form_init_data="{pid:menu.id,sort:menu.childs.length+1}"
                                 form_url="add_url" form_method="POST"
                                 form_title="'新增子菜单'" callback="getapi"
                                 btn-class="btn btn-info btn-outline btn-rounded pull-right"></common_form>
                    <div class="pull-right">
                        <a class="btn btn-info btn-outline btn-rounded pull-right"
                           ng-click="swap(menu.id,menus[$index-1].id);"
                           ng-if="!$first">主菜单排序向上一层</a>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <table class="table table-condensed table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="text-center">排序</th>
                            <th class="text-center">菜单名称</th>
                            <th class="text-center">交换</th>
                            <th class="text-center">更新</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr bindonce ng-repeat="item in menu.childs">
                            <td class="text-center"><span bo-text="item.sort"></span></td>
                            <td class="text-center"><span bo-text="item.name"></span></td>
                            <td class="text-center">
                                <a class="btn btn-info btn-outline btn-rounded btn-xs text-center"
                                   ng-click="swap(item.id,menu.childs[$index-1].id);" ng-if="!$first">排序向上一层</a>
                            </td>
                            <td class="text-center">
                                <common_form form_param="param_sub" form_init_data="item" form_url="update_url"
                                             form_extra_data="{pid:menu.id}" class="text-center"
                                             form_title="'更新'" callback="getapi" form_method="PUT"
                                             form_param_id="{{item.id}}"
                                             btn-class="btn btn-info btn-outline btn-rounded btn-xs text-center"></common_form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>