<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }

    .img_a {
        display: inline-block;
        width: 50px;
        max-height: 50px;
        max-width: 30%;
        cursor: pointer;
        margin-right: 3px;
    }

    .img_a > img {
        width: 50px;
        height: 50px;
    }

    .big_pic {
        width: 500px;
        max-width: 100%;
        max-height: 100%;
    }

    .img_a.big_pic > img {
        width: auto;
        height: auto;
    }
</style>
<script type="text/ng-template" id="add_comment.html">
    <div class="modal-header">
        <h3 class="modal-title">回复</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">回复内容<span class="form_label_dangus">*</span></label>

                <div class="col-sm-8">
                    <textarea class="form-control" rows="3" ng-model="content" ng-change="checkLength(200)" placeholder="请输入内容..."></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="comment_list.html">
    <div class="modal-header">
        <h3 class="modal-title">回复</h3>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered">
            <thead>
            <th>ID</th>
            <th>回复者ID</th>
            <th>回复者</th>
            <th>回复对象ID</th>
            <th>回复对象</th>
            <th>内容</th>
            <th>创建时间</th>
            </thead>
            <tbody>
            <tr bindonce ng-repeat="comment in comment_list">
                <td><span class="msg_title" bo-text="comment.fc_id"></span></td>
                <td><span class="msg_title" bo-text="comment.user_id"></span></td>
                <td><span class="msg_title" bo-text="comment.post_name"></span></td>
                <td><span class="msg_title" bo-text="comment.reply_user_id"></span></td>
                <td><span class="msg_title" bo-text="comment.reply_to_name"></span></td>
                <td><span class="msg_title" bo-text="comment.content"></span></td>
                <td><span class="msg_title" bo-text="comment.created_at"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">咨询回顾</div>
        <!--<div class="panel-body">-->
            <!--<form class="form-horizontal">-->
                <!--<div class="form-group">-->
                    <!--<div class="col-sm-2 control-label">-->
                        <!--<select class="form-control" id="account_id"-->
                                <!--ng-options="account.account_id as account.username for account in account_list"-->
                                <!--ng-change="getapi(1,1);"-->
                                <!--ng-model="list_param.account_id">-->
                            <!--<option value="" disabled="false">请选择联系人账户</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <div class="panel-body">
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="{active:list_param.has_replied ==0}">
                    <a class="btn btn-default" ng-click="list_param.has_replied=0;getapi(1,0);">新增问题</a>
                </li>
                <li role="presentation" ng-class="{active:list_param.has_replied ==1}">
                    <a class="btn btn-default" ng-click="list_param.has_replied=1;getapi(1,1);">已回复问题</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                <th style="width: 5%;">ID</th>
                <th style="width: 5%;">用户ID</th>
                <th style="width: 5%;">活动ID</th>
                <th style="width: 10%;">创建时间</th>
                <th style="width: 15%;">问题</th>
                <th style="width: 15%;" ng-if="list_param.has_replied == 1">回复内容</th>
                <th style="width: 25%;">图片</th>
                <th style="width: 20%;">操作</th>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="feed in comments_list">
                    <td><span class="msg_title" bo-text="feed.feed_id"></span></td>
                    <td><span class="msg_title" bo-text="feed.post_user_id"></span></td>
                    <td><span class="msg_title" bo-text="feed.ref_id"></span></td>
                    <td><span class="msg_title" bo-text="feed.created_at"></span></td>
                    <td><span class="msg_title" bo-text="feed.content"></span></td>
                    <td ng-if="list_param.has_replied == 1">
                        <span class="msg_title" bo-text="feed.comment_list[0].content"></span>
                    </td>
                    <td>
                        <div class="img_a" ng-class="{big_pic:feed.toggleclass}" ng-repeat="pic in feed.pics"
                             ng-if="feed.pics[0]">
                            <img class="img-responsive" bo-src="pic.pic_url"
                                 ng-click="feed.toggleclass = !feed.toggleclass">
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-primary" ng-click="add_comment(feed.feed_id);">回复</a>
                        <a class="btn btn-info" ng-click="comment_list(feed);">反馈详情</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" id="pagination">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            max-size="maxSize" class="pagination"
                            boundary-links="true" ng-change="getapi(currentPage)" items-per-page="10"
                            rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>