<script type="text/ng-template" id="offline_no_order_community.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">批量取消，操作不可逆</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">{{activityTitle}}</div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                <th style="width: 50px;">小区数量</th>
                <th style="width: 50px;">已发布时长</th>
                <th style="width: 50px;">状态</th>
                <th style="width: 200px;">操作</th>
                </thead>
                <tbody>
                <tr>
                    <td><span class="msg_title" ng-bind="data.community_count"></span></td>
                    <td><span class="msg_title" ng-bind="data.elasepe_time"></span></td>
                    <td><span class="msg_title" ng-bind="'未开团'"></span></td>
                    <td>
                        <a class="btn btn-danger"
                           ng-click="offline_no_order_community('offline_no_order_community')">批量取消</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>