<script type="text/ng-template" id="update_group_end_time.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">更新成团截止时间</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group ">
                <label class="col-sm-3 control-label">
                    成团截止时间
                    <span class="form_label_dangus">*</span>
                </label>

                <div class="">
                    <hjm_date_time ng-model="group_end_time"></hjm_date_time>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-3 control-label">
                    修改状态
                    <span class="form_label_dangus">*</span>
                </label>

                <div class="col-sm-9">
                    <select class="form-control" ng-model="group_buy_status">
                        <option value="0">未成团</option>
                        <option value="1">已成团</option>
                        <option value="2">已取消</option>
                        <option value="3">未开团</option>
                        <option value="5">已完成</option>
                    </select>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-sm-3">
                    <a class="btn btn-info" ng-click="deliver_time_init()">修改配送时间</a>
                </div>
                <div class="" ng-show="deliver_time_show">
                    <hjm_date_time ng-model="deliver_time"></hjm_date_time>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="user_list.html">
    <order_list ng-model="date" orderoption="orderoption"></order_list>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="edit.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">更新状态</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="add_header.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">添加团长</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" ng-init="ref_activity_id_disable = true;reward_show = true;">
            <div class="form-group">
                <!--<label class="col-sm-3 control-label">团长<span class="form_label_dangus"></span></label>-->

                <div class="col-sm-9">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="user_type" ng-model="user_type"
                                   ng-value="0">
                            普通用户当团长
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="user_type" ng-model="user_type"
                                   ng-value="1">
                            回家么团长
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <th>ID</th>
                        <th>用户姓名</th>
                        <th>手机号码</th>
                        </thead>
                        <tbody>
                        <tr bindonce ng-repeat="item in tuan_applicants">
                            <td>
                                <label>
                                    <input type="radio" name="checked" ng-click="changeTuanoption(item,$index)"
                                           value="1">
                                    <span class="msg_title" bo-text="item.user_id"></span>
                                </label>
                            </td>
                            <td><span class="msg_title" bo-text="item.name"></span></td>
                            <td><span class="msg_title" bo-text="item.mobile"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <!--<label class="col-sm-3 control-label">团长<span class="form_label_dangus">*</span></label>-->

                <div class="col-sm-9">
                    <tuan_zhang ng-model="user_id" tuanoption="tuanoption"></tuan_zhang>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="remove_header.html">
    <div class="modal-header">
        <h3 class="modal-title text-center">删除团长</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">{{activityTitle}}</div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                <th style="width: 50px;">开团小区</th>
                <th style="width: 50px;">成团进度</th>
                <th style="width: 50px;">支付人数</th>
                <th style="width: 50px;">剩余时间</th>
                <th style="width: 50px;">配送时间</th>
                <th style="width: 200px;">团长信息</th>
                <th style="width: 50px;">状态</th>
                <th style="width: 200px;">操作</th>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="item in items">
                    <td><span class="msg_title" bo-text="item.community_name"></span></td>
                    <td><span class="msg_title" bo-text="item.order_count +'/'+ item.group_min_num"></span></td>
                    <td>
                        <a class="btn btn-success"
                           ng-click="user_list(item.activity_id,item.activity_title,item.community_id,$index);">
                            <span class="msg_title" bo-text="item.pay_count"></span>
                        </a>
                    <td>
                        <span class="msg_title" bo-text="item.left_time"></span>
                        <a class="btn btn-success"
                           ng-click="update_group_end_time(item.activity_id,item.community_id,item.group_end_time,item.accompish_status,item.deliver_time);">
                            <span class="msg_title">修改截止时间</span>
                        </a>
                    </td>
                    <td>
                        <span class="msg_title" bo-text="item.deliver_time"></span>
                    </td>
                    <td>
                        <div ng-if="item.is_backup_header">备用团长 (<span bo-text="item.header_name"></span>)</div>
                        <div ng-if="item.header_user_id && item.header_user_id>0 && !item.is_backup_header">
                            <span class="msg_title" bo-text="'名字：'+item.header_name"></span><br>
                            <span class="msg_title" bo-text="'电话：'+item.header_mobile"></span><br>
                            <span class="msg_title" bo-text="'地址：'+item.header_address"></span>
                        </div>
                        <div ng-if="item.header_user_id && item.header_user_id>0 && item.is_backup_header">
                            <a class="btn btn-danger" ng-click="remove_header(item,$index)">
                                删除
                            </a>
                        </div>
                        <!--<div ng-if="!item.header_user_id || item.header_user_id<0">-->
                        <div>
                            <a class="btn btn-primary" ng-click="add_header(item)">
                                添加
                            </a>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-success" ng-if="item.accompish_status != 0 && item.accompish_status != 2">
                            <span class="msg_title" bo-text="item.accompish_status_title"></span>
                        </a>
                        <a class="btn btn-warning" ng-if="item.accompish_status == 2">
                            <span class="msg_title" bo-text="item.accompish_status_title"></span>
                        </a>
                        <a class="btn btn-danger" ng-if="item.accompish_status == 0">
                            <span class="msg_title" bo-text="item.accompish_status_title"></span>
                        </a>
                        <br>
                        <a class="btn btn-success" ng-if="item.is_offline == 0">
                            <span class="msg_title" bo-text="item.is_offline_title"></span>
                        </a>
                        <a class="btn btn-danger" ng-if="item.is_offline == 1">
                            <span class="msg_title" bo-text="item.is_offline_title"></span>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary" ng-if="item.accompish_status == 0"
                           ng-click="edit('force_complete',item)">成团</a>
                        <br ng-if="item.accompish_status == 0">
                        <a class="btn btn-warning" ng-if="item.accompish_status == 0"
                           ng-click="edit('cancel_community',item)">取消</a>
                        <br ng-if="item.accompish_status == 0">
                        <a class="btn btn-danger" ng-if="item.is_offline == 0"
                           ng-click="edit('offline_community',item)">下线</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" id="pagination">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            max-size="maxSize" class="pagination"
                            boundary-links="true" ng-change="getapi(currentPage)"
                            rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>