<style>
    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">分享链接</div>
        <div class="panel-body">
            <div class="span10 tongzhiheight">
                <div class="col-md-9">
                    <form class="form-horizontal" ng-init="catgory=0">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">链接类型<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="catgory"
                                               ng-model="catgory" ng-value="0">
                                        鲜花推广首页
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="catgory"
                                               ng-model="catgory" ng-value="1">
                                        商品详情页面
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="catgory===1">
                            <label class="col-sm-3 control-label">商品ID<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-6">
                                <input class="form-control" ng-model="pid" placeholder="商品ID">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">渠道<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-6">
                                <input class="form-control" ng-model="channel" placeholder="wx201606,wx">
                            </div>
                        </div>
                        <div class="form-group" ng-show="catgory===0">
                            <label class="col-sm-3 control-label">鲜花推广首页地址<span
                                    class="form_label_dangus">&nbsp;</span></label>

                            <div class="col-sm-6">
                                <textarea class="form-control" rows="5" placeholder="生成的鲜花推广首页地址"
                                          ng-bind="'https://www.huijiame.com/h5/views/groupbuy/shop/main.html?channel='+channel+'&hmsr='+channel"></textarea>
                            </div>
                        </div>
                        <div class="form-group" ng-show="catgory===1">
                            <label class="col-sm-3 control-label">商品详情页面地址<span
                                    class="form_label_dangus">&nbsp;</span></label>

                            <div class="col-sm-6">
                                <textarea class="form-control" rows="5" placeholder="生成的商品详情页面地址"
                                          ng-bind="'https://www.huijiame.com/h5/views/groupbuy/detail/main.html?id='+pid+'&channel='+channel+'&hmsr='+channel"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>