<div class="" style="border: 1px #ccc solid;">
    <style type="text/css">
        .upload-image {
            width: 64px;
            height: 100%;
            overflow: hidden;
            background: #eee;
            -webkit-border-radius: 0;
            position: relative;
            border-radius: 5px;
        }

        .upload-image:before {
            content: "+";
            line-height: 50%;
            cursor: pointer;
            color: #000;
            font-size: 45px;
            text-align: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #eee;
            border-radius: 5px;
        }

        .upload-image-bar {
            margin-bottom: 0px;
        }

        .img_min {
            max-height: 100px;
            max-width: 100px;
        }

        .img_max {
            max-height: 400px;
            max-width: 400px;
        }
    </style>
    <style type="text/css">
        .dndsimpleDemo ul[dnd-list],
        .dndsimpleDemo ul[dnd-list] > li {
            position: relative;
        }

        .dndsimpleDemo ul[dnd-list] {
            min-height: 42px;
            padding-left: 0px;
        }

        .dndsimpleDemo ul[dnd-list] .dndDraggingSource {
            display: none;
        }

        .dndsimpleDemo ul[dnd-list] .dndPlaceholder {
            display: block;
            background-color: #ddd;
            min-height: 100px;
        }

        .dndsimpleDemo ul[dnd-list] li {
            background-color: #fff;
            border: 1px solid #ddd;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            display: block;
            padding: 10px 0px;
            margin-bottom: -1px;
            margin-left: 0;
        }

        .dndsimpleDemo ul[dnd-list] li.selected {
            background-color: #dff0d8;
            color: #3c763d;
        }
    </style>
    <div class="row" style="margin: 0">
        <div class="panel panel-info" style="border: 0">
            <!--<div class="panel-heading"></div>-->
            <div class="panel-body dndsimpleDemo" ng-show="images&&images.length>0">
                <!--<pre ng-bind="uploader.queue | json">  这个不能json 这个自定义的对象里面有循环嵌套 </pre>-->
                <!--<pre ng-bind="images | json"></pre>-->
                <ul dnd-list="images" ng-init="img_min = true;"
                    dnd-inserted="getPos(index)"
                    dnd-allowed-types="allowedType"
                    class="list-group">
                    <li ng-repeat="(k,v) in images"
                        class="list-group-item row"
                        dnd-type="dndAllowType"
                        dnd-draggable="v"
                        dnd-moved="images.splice(k, 1);getEle(k);"
                        dnd-effect-allowed="move"
                        ng-required="required">
                        <div dnd-nodrag>
                            <div class="col-md-6" ng-class="{'img_min':img_min,'img_max':!img_min}">
                                <!--<strong class="ng-binding" ng-bind="uploader.queue[k].file.name"-->
                                <!--ng-if="!uploader.queue[k].qiniu_url"></strong>-->
                                <img class="img-responsive" ng-class="{'img_min':img_min,'img_max':!img_min}"
                                     ng-src="{{v.pic_url|| uploader.queue[k].qiniu_url}}"
                                     ng-if="v.pic_url || uploader.queue[k].qiniu_url">
                                <div ng-show="uploader.isHTML5 && !v.pic_url"
                                     ng-thumb="{ file: uploader.queue[k]._file, height: 100 , itemobj : uploader.queue[k]}"></div>
                            </div>
                            <div class="col-md-2 text-center">
                                <div ng-bind="v.pic_id"></div>
                                <div ng-show="!v.updated_at">
                                    <span ng-show="uploader.queue[k].isSuccess">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    <span ng-show="uploader.queue[k].isCancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                    </span>
                                    <span ng-show="uploader.queue[k].isError">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 pull-right">
                                <div class="progress" ng-show="!v.updated_at">
                                    <div class="progress-bar" role="progressbar"
                                         style="width:{{uploader.queue[k].progress}}%;"></div>
                                </div>
                            </div>
                            <div class="handle col-md-2 pull-right">
                                <div ng-class="{'hide':disabled}">
                                    <button type="button" class="btn btn-danger btn-xs btn-rounded"
                                            ng-click="delImage(k,uploader.queue[k])"
                                            show-role="'{{disabledRole}}'">
                                        <span class="glyphicon glyphicon-trash"></span> 移除
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs btn-rounded"
                                            ng-click="uploader.queue[k].upload()"
                                            ng-if="!v.updated_at"
                                            ng-disabled="uploader.queue[k].isReady || uploader.queue[k].isUploading || uploader.queue[k].isSuccess || !!v.pic_url">
                                        <span class="glyphicon glyphicon-upload"></span> 上传
                                    </button>
                                </div>
                            </div>
                            <!--<div dnd-handle class="handle col-md-1 pull-right">:::</div>-->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-class="{'hide':disabled}" style="padding: 10px;">
        <div class="form-group" style="margin-bottom: 5px;">
            <!--上传过程:-->
            <div class="col-sm-12">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:{{uploader.progress}}%"></div>
                </div>
            </div>
        </div>
        <div class="form-group upload-image-bar" style="margin-bottom: 5px;">
            <div class="col-sm-2">
                <input class="form-control upload-image" type="file" nv-file-select uploader="uploader" multiple/>
            </div>
            <div class="col-sm-10">
                <button type="button" class="btn btn-success btn-rounded" ng-click="uploader.uploadAll()"
                        ng-hide="hideBar[0] == 1"
                        ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> 全部上传
                </button>
                <button type="button" class="btn btn-danger btn-rounded" ng-click="removeAll()"
                        ng-hide="hideBar[1] == 1" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> 全部移除
                </button>
                <button type="button" class="btn btn-primary btn-rounded" ng-click="img_min = !img_min"
                        ng-hide="hideBar[2] == 1">
                    <span class="glyphicon"
                          ng-class="{'glyphicon-zoom-in':img_min,'glyphicon-zoom-out':!img_min}"></span>图片缩放
                </button>
                <button type="button" class="btn btn-primary btn-rounded" ng-click="log()" ng-hide="hideBar[3] == 1">
                    <span class="glyphicon glyphicon-paperclip"></span> 拖动排序后点我
                </button>
            </div>
        </div>
    </div>
</div>