<div>
    <style type="text/css">
        .voiceItem {
            background-color: skyblue;
            color: white;
            min-width: 100px;
            width: 100px;
            min-height: 32px;
            border-radius: 3px;
            cursor: pointer;
            line-height: 32px;
            text-indent: 10px;
            position: relative;
        }

        .voiceText {
            position: absolute;
            top: 0;
            left: 45px;
        }
    </style>
    <div class="row">
        <div class="panel panel-info" style="border: 0">
            <div class="panel-body dndsimpleDemo">
                <!--<pre ng-bind="uploader.queue | json">  这个不能json 这个自定义的对象里面有循环嵌套 </pre>-->
                <!--<pre ng-bind="images | json"></pre>-->
                <ul class="list-group">
                    <li ng-repeat="(k,v) in audio" class="list-group-item row">
                        <div class="col-md-6">
                            <div class='voiceItem' ng-click="playRecord(v)">
                                <div id="{{v.id}}" class="voiceObj">{{v.duration}}s</div>
                                <span class="voiceText" ng-show="v.playing">已选中/正在播放..</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span ng-show="v.type!=3" class="text-danger ">未上传</span>
                            <span ng-show="v.type==3" class="text-success">上传成功</span>
                            <a ng-click="audio.splice($index,1)" class="btn btn-danger btn-rounded btn-sm  pull-right">删除</a>
                            <!--<a ng-click="upload_audio(v,$index)" class="btn btn-success btn-rounded btn-sm  pull-right"-->
                               <!--ng-disabled="v.type==3">上传</a>-->
                            <!--<span ng-bind="v|json"></span>-->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-class="{'hide':disabled}">
        <div class="form-group">
            <div class="col-md-12">
                <audio controls autoplay id="main_audio" ng-src="{{sce(audio_url)}}" ng-show="false"></audio>
                <a ng-click="startRecording()" class="btn btn-primary">
                    开始录音
                    <span class="badge" ng-bind="(duration>0?(' '+duration+' s'):'')" ng-show="duration>0">4</span>
                </a>
                <!--<a ng-click="stopRecord()" class="btn btn-success btn-rounded btn-sm">停止录音</a>-->
                <!--<a ng-click="playRecord()" class="btn btn-success btn-rounded btn-sm">播放</a>-->
                <a ng-click="send()" class="btn btn-warning">提交录音</a>
                <!--<a ng-click="play_pause()" class="btn btn-success btn-rounded btn-sm">播放/暂停</a>-->
                <!--<span class="label label-default" ng-bind="(duration>0?('   '+duration+'s'):'')"-->
                      <!--ng-show="duration>0"></span>-->
                <!--<span ng-bind="duration"></span>-->
            </div>
        </div>
    </div>
    <br/>
</div>