<div>
    <div class="row" ng-show="addresses&&addresses.length>0">
        <div class="panel panel-info" style="border: 0">
            <!--<div class="panel-heading"></div>-->
            <div class="panel-body">
                <ul class="list-group">
                    <li ng-repeat="(k,v) in addresses" class="list-group-item row">
                        <div>
                            <div class="col-md-10">
                                <!--<div class="form-group" ng-show="false">-->
                                <!--<label class="col-sm-2 control-label">城市</label>-->
                                <!--<div class="col-sm-10">-->
                                <!--<input class="form-control" type="text" ng-model="v.city_name">-->
                                <!--</div>-->
                                <!--</div>-->
                                <!--<div form-radio type="radio" text="是否为上海市" ng-model="v.isSH" required="true" default="1"-->
                                     <!--source="[{text:'是',value:'1'},{text:'否',value:'2'}]" source-api=""></div>-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">活动地点</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" ng-model="v.address"
                                               placeholder="例如:永达国际大厦">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">地址详情
                                        <span class="form_label_dangus">*</span>
                                    </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" ng-model="v.detail_address"
                                               placeholder="地址详情">
                                    </div>
                                    <div class="col-sm-2">
                                        <a class="btn btn-info btn-rounded" ng-click="getlocation(k)">定位经纬</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">经度</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" ng-model="v.longitude"
                                               placeholder="经度" ng-disabled="true">
                                    </div>
                                    <label class="col-sm-2 control-label">纬度</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" ng-model="v.latitude"
                                               placeholder="纬度" ng-disabled="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">城市</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" type="text" ng-model="v.city_name" placeholder="城市"
                                               ng-disabled="true">
                                    </div>
                                    <label class="col-sm-2 control-label">区县</label>
                                    <div class="col-sm-4">
                                        <!--<select class="form-control inlineBlock" ng-model="item.district"-->
                                        <!--ng-options="district.value as district.text for week in $root.common.district"></select>-->
                                        <input class="form-control" type="text" ng-model="v.district"
                                               placeholder="区域" ng-disabled="true">
                                </div>
                                </div>
                                <div class="form-group" ng-show="show_tip[k]">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <h5 class="text-danger">只允许上海市,若城市、区县显示有疑问,试试把详情地址中包含城市区县</h5>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2">

                                        </div>
                                        <div class="col-sm-3">
                                            <a class="btn btn-info btn-rounded"
                                               ng-click="getlocation(k);mapData.isshowmap=!mapData.isshowmap;"
                                               ng-bind="!mapData.isshowmap?'展开地图':'收起地图'"></a>
                                        </div>
                                        <div class="col-sm-3">
                                            <div ng-class="{'hide':disabled}">
                                                <a type="button" class="btn btn-danger btn-rounded"
                                                   ng-click="delAddress(k)" show-role="'{{disabledRole}}'">
                                                    <span class="glyphicon glyphicon-trash"></span> 移除
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <a class="btn btn-warning btn-rounded"
                                               ng-click="del_info(k)">隐藏微信页面地图</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-class="{'hide':disabled}">
        <div class="form-group upload-image-bar" style="margin-bottom: 5px;">
            <div class="col-sm-12">
                <div class="form-group" ng-show="mapData.isshowmap">
                    <div class="col-sm-8 col-sm-offset-2" style="height: 450px;">
                        <baidumap map-data="mapData" callback="callback(index)"></baidumap>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <button type="button" class="btn btn-success btn-rounded" ng-click="addAddress()">
                    <span class="glyphicon glyphicon-upload"></span> 添加地址
                </button>
                <button type="button" class="btn btn-danger btn-rounded" ng-click="delAddress()"
                        ng-disabled="!addresses.length">
                    <span class="glyphicon glyphicon-trash"></span> 全部移除
                </button>
                <!--<button type="button" class="btn btn-primary btn-rounded" ng-click="log()">-->
                <!--<span class="glyphicon glyphicon-paperclip"></span> console-->
                <!--</button>-->
            </div>
        </div>
    </div>
</div>