<div class="dashboard-page ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">查询CCtalk信息</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="FormBody" novalidate>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">查询<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-8 form-group">
                                <div class="col-sm-2">
                                    <input class="form-control" ng-model="mobile" placeholder="手机号码">
                                </div>
                                <div class="col-sm-3">
                                    <a class="btn btn-primary btn-rounded" ng-click="search()">查询CCtalk账户信息</a>
                                </div>
                                <div class="col-sm-3">
                                    <a class="btn btn-success btn-rounded" ng-click="send()">发送cctalk信息给用户</a>
                                </div>
                            </div>
                        </div>
                        <div form-input ng-model="info.account.mobile" text="手机号码" ng-disabled="true"></div>
                        <div form-input ng-model="info.account.user_id" text="用户ID" ng-disabled="true"></div>
                        <div form-input ng-model="info.account.user_name" text="CCtalk账户" ng-disabled="true"></div>
                        <div form-input ng-model="info.account.user_pass" text="CCtalk密码" ng-disabled="true"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">邀请码<span
                                    class="form_label_dangus"></span></label>
                            <div class="col-sm-8">
                                <p class="form-control"
                                   style="background-color: #eee;min-height: 34px;height: auto;word-break: break-word;"
                                   ng-bind="info.exchangecodes|arraySub2String:'code'"> &nbsp;</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否发送过短信消息<span
                                    class="form_label_dangus"></span></label>
                            <div class="col-sm-8">
                                <p class="form-control"
                                   style="background-color: #eee;min-height: 34px;height: auto;word-break: break-word;"
                                   ng-bind="info.send_message.sms_result_status|keyVal:'1':'已发送':'0':'未发送'|null2empty">
                                    &nbsp;</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否发送过微信消息<span
                                    class="form_label_dangus"></span></label>
                            <div class="col-sm-8">
                                <p class="form-control"
                                   style="background-color: #eee;min-height: 34px;height: auto;word-break: break-word;"
                                   ng-bind="info.send_message.wechat_result_status|keyVal:'1':'已发送':'0':'未发送'|null2empty">
                                    &nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>