<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title inlineBlock">推送消息</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" name="FormBody" novalidate>
      <div class="panel panel-primary">
        <div class="panel-body">
          <div form-input text="标题" ng-model="param.title" required="true" placeholder=""></div>
          <div form-textarea text="描述" ng-model="param.description" required="true" placeholder=""></div>
          <div form-textarea text="body" ng-model="param.body" required="true" placeholder=""></div>
          <div form-input text="跳转" ng-model="param.url" required="true" placeholder=""></div>
        </div>
      </div>
      <a class="btn btn-success btn-rounded pull-right" ng-disabled="FormBody.$invalid" ng-click="submit()">推送</a>
    </form>
  </div>
</div>