<div class="dashboard-page ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title inlineBlock" ng-if="!$stateParams.id">新增测评</h3>
            <h3 class="panel-title inlineBlock" show-role="'admin,op'" ng-if="$stateParams.id">修改测评</h3>
            <h3 class="panel-title inlineBlock" show-role="'!admin,op'" ng-if="$stateParams.id">测评详情</h3>
        </div>
        <div class="panel-body">
            <!--<simditor ng-model="content" config="simditorConfig"></simditor>-->
            <form class="form-horizontal" name="FormBody" novalidate>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div form-input text="测评名称" ng-model="param.name" placeholder="名称" required="true"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">对应商品号
                                <span class="form_label_dangus">*</span></label>
                            <div class="col-sm-2">
                                <input class="form-control" ng-model="param.product_id" required="true">
                            </div>
                            <div class="col-sm-1">
                                <a class="btn btn-primary btn-rounded" ng-click="search_product_id()">查询</a>
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control" ng-model="product_title" ng-disabled="true"
                                       placeholder="点击查询确认商品存在" required>
                            </div>
                        </div>
                        <div class="row"><h3 class="col-sm-offset-2 text-danger">广告位图片要求: 宽 >= 960px, 高 >= 360px</h3></div>
                        <div form-image text="广告位" ng-model="banner" max="1" hide-bar="[1,1,1,1]"></div>

                        <div form-textarea="" text="文字描述" ng-model="param.brief" placeholder="文字描述"
                             required="true"></div>

                        <div form-table text="附加信息" ng-model="param.attachments"
                             columns="[
                             {'name': '文字描述', 'field': 'pivot.question_id',required:'true',select:'true',source:'survey_question_list_attachments'},
                             {'name': '排序', 'field': 'pivot.order_by',required:'true'}]"></div>

                        <div form-radio text="年龄" type="radio" ng-model="age" required="true" default="1"
                             source="[{text:'0-3',value:'1'},{text:'4-6',value:'2'},{text:'7-9',value:'3'},{text:'10岁以上',value:'4'}]"
                             source-api=""></div>

                        <div form-table text="涉及维度" ng-model="param.categories" required="true"
                             columns="[{'name': '设置维度', 'field': 'pivot.category_id',required:'true',select:'true',source:'survey_question_category_list_general'},
                             {'name': '数量', 'field': 'pivot.count',required:'true'}]"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">成长建议<span
                                    class="form_label_dangus">*</span></label>
                            <div class="col-sm-8">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center">得分区间</th>
                                        <th class="text-center">建议内容</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in param.suggestions ">
                                        <td class="text-center">
                                            <span ng-bind="item.score_min"></span>-
                                            <span ng-bind="item.score_max"></span>
                                        </td>
                                        <td>
                                            <textarea class="form-control" required="true" col="5"
                                                      ng-model="item.result"></textarea>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div form-table text="推荐活动" ng-model="param.products"
                             columns="[{'name': 'ID', 'field': 'pivot.id',hide:'true'},
                             {'name': '活动ID', 'field': 'pivot.product_id',required:'true'},
                             {'name': '推荐语', 'field': 'pivot.recommend',textarea:'true',required:'true'}]"></div>

                    </div>
                </div>
                <div form-error-block></div>
                <a class="btn btn-success btn-rounded" ng-disabled="FormBody.$invalid" ng-click="submit()">提交</a>
            </form>
        </div>
    </div>
</div>