<style>
    .big_pic{
        width: 100px;
        display: inline-block;
    }
    .form_dangus{
        border-color: #E21100;
    }
    .form_label_dangus{
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }
    .activitynewupdate_time_div{
        padding-left: 0;
        padding-right: 0;
    }
    .activitynewupdate_time{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .community_name{
        width: 48%!important;
    }
    .search_community_list{
        position: absolute;
        top: 100%;
        left: 100%;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    .search_community_list>li{
        width: 100%;
    }
    .search_community_list>li>a.divider{
        height: 1px;
        margin: 1px 0;
        overflow: hidden;
        background-color: #e5e5e5;
        padding: 0;
    }
    .search_community_list>li>a{
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    .search_community_list>li>a:hover{
        background-color: #13c4a5;
        color: #fff;
    }
    .select_name{
        width: 200px;
        height: 34px;
        margin-right: 15px;
    }
    .community_title{
        height: 20px;
    }
    .add_community{
        padding-right: 18px;
    }
    .community_li_div{
        width:100%;
    }
    .community_li_div>.input-group-btn{
        width:50%;
    }
    .community_li_div>.input-group-btn>input{
        width:100%;
    }
    .tongzhiheight {
        height: 600px;
    }
    .tongzhieditor {
        width: 100%;
        height: 546px;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">1.7新活动</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="tiaozhuan();">活动管理</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="span10 tongzhiheight">
                <div class="col-md-6">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">活动名称<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-9">
                                <input class="form-control" id="title" ng-class="{'form_dangus':activitynewupdate.title}"
                                       ng-change="activitynewupdate.title = 0" ng-model="activitynewupdate_param.title"
                                       placeholder="活动名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">活动类型<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control"  ng-options="activity_type for activity_type in pubdata.activity_type" ng-model="activitynewupdate_param.type"
                                        ng-change="activitynewupdate.type = 0;" ng-class="{'form_dangus':activitynewupdate.type}" placeholder="活动类型">
                                    <option value="">请选择活动类型</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">开始时间<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-4">
                                <p class="input-group">
                                    <input type="date" class="form-control" datepicker-popup ng-model="activeNew.start.dt" is-open="openstart" min-date="minDate"
                                           date-disabled="disabled(date, mode)" ng-required="true"
                                           ng-change="changed();"  close-text="关闭" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open_start($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <timepicker ng-model="activeNew.start.tp" show-meridian="false"
                                            show-spinners='false' mousewheel="false" arrowkeys="true"
                                            ng-change="changed();" >
                                </timepicker>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">结束时间<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-4">
                                <p class="input-group">
                                    <input type="date" class="form-control" datepicker-popup ng-model="activeNew.end.dt" is-open="openend" min-date="minDate"
                                           date-disabled="disabled(date, mode)" ng-required="true"
                                           ng-change="changed();"  close-text="关闭" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open_end($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <timepicker ng-model="activeNew.end.tp" show-meridian="false"
                                            show-spinners="false" mousewheel="false" arrowkeys="true"
                                            ng-change="changed();" >
                                </timepicker>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">截止时间<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-4">
                                <p class="input-group">
                                    <input type="date" class="form-control" datepicker-popup ng-model="activeNew.apply_end.dt" is-open="openapplyend" min-date="minDate"
                                           date-disabled="disabled(date, mode)" ng-required="true"
                                           ng-change="changed();"  close-text="关闭" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open_apply_end($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <timepicker ng-model="activeNew.apply_end.tp" show-meridian="false"
                                            show-spinners="false" mousewheel="false" arrowkeys="true"
                                            ng-change="changed();" >
                                </timepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">报名人数<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-4">
                                <input class="form-control" id="people_min_num"  ng-class="{'form_dangus':activitynewupdate.people_min_num}"
                                       ng-change="activitynewupdate.people_min_num = 0;" ng-model="activitynewupdate_param.people_min_num"
                                       placeholder="最少参团人数">
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control" id="people_num"  ng-class="{'form_dangus':activitynewupdate.people_num}"
                                       ng-change="activitynewupdate.people_num = 0;" ng-model="activitynewupdate_param.people_num"
                                       placeholder="最多参团人数">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">活动地址<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-9">
                                <input class="form-control" id="addr"  ng-class="{'form_dangus':activitynewupdate.addr}"
                                       ng-change="activitynewupdate.addr = 0;" ng-model="activitynewupdate_param.addr"
                                       placeholder="活动地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">产品价格<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" id="orig_price"  ng-class="{'form_dangus':activitynewupdate.orig_price}"
                                       ng-change="activitynewupdate.orig_price = 0;" ng-click="activitynewupdate.orig_price = 0;"
                                       ng-model="activitynewupdate_param.orig_price"
                                       placeholder="产品价格">
                            </div>
                            <label class="col-sm-3 control-label">优惠后价格<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" id="price"  ng-class="{'form_dangus':activitynewupdate.price}"
                                       ng-change="activitynewupdate.price = 0;" ng-click="activitynewupdate.price = 0;"
                                       ng-model="activitynewupdate_param.price"
                                       placeholder="优惠后价格">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">产品类目<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-9">
                                <table class="table table-hover table-bordered" ng-class="{'form_dangus':activitynewupdate.option_info}" >
                                    <thead >
                                    <tr>
                                        <th style="width: 40%; text-align: center;">类目</th>
                                        <th style="width: 40%; text-align: center;">金额</th>
                                        <th style="width: 20%; text-align: center;">
                                            <a class="btn btn-primary"
                                               ng-click="activitynewupdate.option_info = 0;option_info_array.push({option_info_name: '',option_info_price : ''})">添加</a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="obj in activitynewupdate_oldshow.option_info_oldshow track by $index">
                                        <td>
                                            <input type="text" class="form-control" ng-model="obj.name" disabled="true">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="obj.price" disabled="true">
                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                    <tr ng-repeat="obj in option_info_array track by $index" ng-init="obj.index = $index;">
                                        <td>
                                            <input type="text" class="form-control" ng-model="obj.option_info_name">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="obj.option_info_price">
                                        </td>
                                        <td>
                                            <a class="btn btn-danger" ng-click="option_info_array.splice($index,1)">删除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">覆盖小区<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="target_type" disabled="true" ng-model="activitynewupdate_param.target_type" ng-value="2" ng-click="community_names_array=[];">
                                        全部小区
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="target_type" disabled="true" ng-model="activitynewupdate_param.target_type" ng-value="1">
                                        部分小区
                                    </label>
                                </div>
                            </div>
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9" ng-if="activitynewupdate_param.target_type==1" >
                                <ul class="list-group">
                                    <li class="list-group-item active">
                                        <div class="community_title">
                                            <div class="community_name pull-left text-center">搜索小区名称</div>
                                            <div class="community_name pull-left text-center">&nbsp;&nbsp;&nbsp;&nbsp;验证后小区名称</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item" ng-repeat="obj in activitynewupdate_oldshow.community_info_oldshow track by $index">
                                        <div class="input-group community_li_div">
                                            <div class="input-group-btn ">
                                                <input type="text" class="form-control" ng-model="obj.community_name" disabled="true">
                                                <a type="button" class="btn btn-default">
                                                    <span class="caret"></span>
                                                </a>
                                            </div>
                                            <a type="button" class="btn btn-default select_name"
                                               ng-bind="obj.community_name" disabled="true"></a>
                                            <!--<a class="btn btn-danger" ng-click="community_names_array.splice($index,1)">删除</a>-->
                                        </div>
                                    </li>
                                    <li class="list-group-item" ng-repeat="obj in community_names_array track by $index" ng-init="obj.index = $index;">
                                        <div class="input-group community_li_div">
                                            <div class="input-group-btn ">
                                                <input type="text" class="form-control" ng-model="obj.community_name">
                                                <a type="button" class="btn btn-default"
                                                   ng-click="search_community($index, obj.index, obj.community_name);">
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="search_community_list" ng-if="obj.search_community_list">
                                                    <li ng-repeat="searchobj in obj.search_community_list track by $index">
                                                        <a class="btn" ng-click="select_community($index,obj.index,searchobj);"
                                                           ng-bind="searchobj.name"></a>
                                                    </li>
                                                    <li><a class="divider"></a></li>
                                                    <li>
                                                        <a class="btn" ng-click="obj.search_community_list='';">取消</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a type="button" class="btn btn-default select_name"
                                               ng-bind="obj.new_community"></a>
                                            <a class="btn btn-danger" ng-click="community_names_array.splice($index,1)">删除</a>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="text-right add_community">
                                            <a class="btn btn-primary" ng-click="community_names_array.push({community_name: '',new_community : ''})">添加</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">团类型<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="tuan_type" disabled="true" ng-model="activitynewupdate_param.tuan_type" ng-value="1">
                                        独立成团
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="tuan_type" disabled="true" ng-model="activitynewupdate_param.tuan_type" ng-value="2">
                                        一起团
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">联系人号码<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-9">
                                <input class="form-control" id="mobile" type="tel"  ng-class="{'form_dangus':activitynewupdate.mobile}"
                                       ng-change="activitynewupdate.mobile = 0;" ng-model="activitynewupdate_param.mobile"
                                       placeholder="请输入手机号码">
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="home_dangus" ng-repeat="alert in alerts" ng-click="closeAlert($index)">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <strong>{{alert.msg}}</strong>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="col-sm-12 form-group">
                        <label>活动图片</label>
                    </div>
                    <div class="col-sm-12">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th width="50%">图片名称</th>
                                <th width="10%" ng-show="updateuploader.isHTML5">大小</th>
                                <th width="20%" ng-show="updateuploader.isHTML5">上传进度</th>
                                <th width="10%">状态</th>
                                <th width="10%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="picobj in activitynewupdate_oldshow.pics_info_oldshow" class="ng-scope">
                                <td>
                                    <a class="img_a" ng-class="{big_pic:!big_pic}" ng-click="big_pic=!big_pic">
                                        <img class="img-responsive" ng-src="{{picobj.pic_url}}"/>
                                    </a>
                                </td>
                                <td ng-show="uploaderActivity.isHTML5" nowrap="" class="ng-binding"></td>
                                <td ng-show="uploaderActivity.isHTML5">
                                </td>
                                <td class="text-center">
                                </td>
                                <td nowrap="">
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="activitynewupdate_oldshow.pics_info_oldshow.splice($index,1);">
                                        <span class="glyphicon glyphicon-trash"></span> 移除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr ng-repeat="item in updateuploader.queue" class="ng-scope">
                                <td>
                                    <strong class="ng-binding" ng-bind="item.file.name"></strong>
                                    <div ng-show="updateuploader.isHTML5" ng-thumb="{ file: item._file, height: 100 , itemobj : item}"></div>
                                </td>
                                <td ng-show="updateuploader.isHTML5" nowrap="" class="ng-binding">{{item.file.size/1024/1024|number:2}}MB</td>
                                <td ng-show="updateuploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }" style="width: 0%;"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess" ><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel" ><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError" ><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap="">
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> 上传
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading" disabled="disabled">
                                        <span class="glyphicon glyphicon-ban-circle"></span> 取消
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> 移除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <div>
                                上传过程:
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': updateuploader.progress + '%' }"></div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-s" ng-click="updateuploader.uploadAll()" ng-disabled="!updateuploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> 全部上传
                            </button>
                            <button type="button" class="btn btn-warning btn-s" ng-click="updateuploader.cancelAll()" ng-disabled="!updateuploader.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> 全部取消
                            </button>
                            <button type="button" class="btn btn-danger btn-s" ng-click="updateuploader.clearQueue()" ng-disabled="!updateuploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> 全部移除
                            </button>
                        </div>
                        <br/>
                        <div class="col-sm-12 form-group">
                            <input class="form-control" type="file" nv-file-select="" uploader="updateuploader"  multiple />
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <a class="btn btn-success" ng-click="ue_catchRemoteImage()">替换富文本中外部图片</a>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="span6">
                            <div class="ueditor tongzhieditor" ready="ready" ng-model="content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-success" ng-click="update()">更新</a>
        </div>
    </div>
</div>