<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">小区列表</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('communityadd');">新增小区</a>
                </div>
            </div>
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="{active:list_param.account_id ==null}">
                    <a class="btn btn-default" ng-click="list_param.account_id=null;getapi(1);">全部小区</a>
                </li>
                <li role="presentation" ng-class="{active:list_param.account_id ==hjm.account_id}">
                    <a class="btn btn-default" ng-click="list_param.account_id=hjm.account_id;getapi(1);">我的小区</a>
                </li>
            </ul>
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="{active:list_param.poi_type ==null}">
                    <a class="btn btn-default" ng-click="list_param.poi_type=null;getapi(1);">全部</a>
                </li>
                <li role="presentation" ng-class="{active:list_param.poi_type[0] ==1}">
                    <a class="btn btn-default" ng-click="list_param.poi_type=[1];getapi(1);">小区</a>
                </li>
                <li role="presentation" ng-class="{active:list_param.poi_type[0] ==2}">
                    <a class="btn btn-default" ng-click="list_param.poi_type=[2];getapi(1);">办公室</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                <th>小区ID</th>
                <th>小区名称</th>
                <th>别名</th>
                <th>城市</th>
                <th>行政区</th>
                <th>板块</th>
                <th>街道</th>
                <th>建筑时间</th>
                <th>住宅类型</th>
                <!--<th>房价</th>-->
                <!--<th>上次更新时间</th>-->
                <th>创建时间</th>
                <th ng-if="$stateParams.mycommunity==0 || $stateParams.mycommunity==1&&list_param.account_id">
                    操作
                </th>
                <th>搜房ID</th>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="comm in community_list">
                    <td><span class="msg_title" bo-text="comm.community_id"></span></td>
                    <td><span class="msg_title" bo-text="comm.name"></span></td>
                    <td><span class="msg_title" bo-text="comm.alias"></span></td>
                    <td><span class="msg_title" bo-text="comm.city_name"></span></td>
                    <td><span class="msg_title" bo-text="comm.district"></span></td>
                    <td><span class="msg_title" bo-text="comm.area"></span></td>
                    <td><span class="msg_title" bo-text="comm.street"></span></td>
                    <td><span class="msg_title" bo-text="comm.completed_time | null2empty"></span></td>
                    <td><span class="msg_title" bo-text="comm.property_type"></span></td>
                    <!--<td><span class="msg_title" bo-text="comm.price"></span></td>-->
                    <!--<td><span class="msg_title" bo-text="comm.updated_at"></span></td>-->
                    <td><span class="msg_title" bo-text="comm.created_at"></span></td>
                    <td ng-if="$stateParams.mycommunity==0 || $stateParams.mycommunity==1&&list_param.account_id">
                        <a class="btn btn-primary"
                           ng-click="$state.go('communityupdate', {communityId:comm.community_id});">编辑</a>
                    </td>
                    <td><span class="msg_title" bo-text="comm.cell_biz_id"></span></td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" id="pagination">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            max-size="maxSize" class="pagination"
                            boundary-links="true" ng-change="getapi(currentPage)" items-per-page="10"
                            rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>