<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">新增优惠劵</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('coupon');">优惠劵管理</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="span10 tongzhiheight">
                <div class="col-md-8">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">优惠劵名称<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" id="title" ng-class="{'form_dangus':couponadd.title}"
                                       ng-change="couponadd.title = 0" ng-model="couponadd_param.title"
                                       placeholder="优惠劵名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">适用范围<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="category"
                                               ng-model="couponadd_param.category" ng-value="0">
                                        不限
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="category"
                                               ng-model="couponadd_param.category" ng-value="1">
                                        活动
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="category"
                                               ng-model="couponadd_param.category" ng-value="2">
                                        直接买
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="category"
                                               ng-model="couponadd_param.category" ng-value="3">
                                        拼团
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品品类<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="sku"
                                               ng-model="couponadd_param.sku" ng-value="1">
                                        鲜花
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="sku"
                                               ng-model="couponadd_param.sku" ng-value="0">
                                        不限
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品类型(频率)<span
                                    class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="commodity_type"
                                               ng-model="couponadd_param.commodity_type" ng-value="0">
                                        不限
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="commodity_type"
                                               ng-model="couponadd_param.commodity_type" ng-value="1">
                                        单次
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="commodity_type"
                                               ng-model="couponadd_param.commodity_type" ng-value="2">
                                        包月
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">优惠劵金额<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9" ng-init="default_price = true;">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="price" ng-model="couponadd.price"
                                               ng-value="3"
                                               ng-click="default_price = true;price='';couponadd_param.price=3;"
                                               ng-checked="true">3元</label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="price" ng-model="couponadd.price"
                                               ng-value="5"
                                               ng-click="default_price = true;price='';couponadd_param.price=5;">5元</label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="price" ng-model="couponadd.price"
                                               ng-value="10"
                                               ng-click="default_price = true;price='';couponadd_param.price=10;">10元</label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="price" ng-model="couponadd.price"
                                               ng-value="15"
                                               ng-click="default_price = true;price='';couponadd_param.price=15;">15元</label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="price" ng-click="default_price = false;price=20;">其他金额</label>
                                </div>
                                <div class="radio-inline">
                                    <input class="form-control" type="number" ng-disabled="default_price"
                                           ng-model="couponadd_param.price">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">发送用户<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <!-- 禁止删除   后续要用-->
                                <!-- 禁止删除   后续要用-->
                                <!-- 禁止删除   后续要用-->
                                <!-- 禁止删除   后续要用-->
                                <!-- 禁止删除   后续要用-->
                                <!--<div class="radio-inline">-->
                                <!--<label>-->
                                <!--<input type="radio" name="scope_type" ng-model="couponadd_param.scope_type"-->
                                <!--ng-value="1">注册用户</label>-->
                                <!--</div>-->
                                <!--<div class="radio-inline">-->
                                <!--<label>-->
                                <!--<input type="radio" name="scope_type" ng-model="couponadd_param.scope_type"-->
                                <!--ng-value="2">认证用户</label>-->
                                <!--</div>-->
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" ng-model="couponadd_param.scope_type"
                                               ng-value="3" ng-checked="true">
                                        自定义（手机号码，逗号隔开）
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-9 col-sm-offset-3">
                                <textarea class="form-control" ng-model="couponadd_param.mobile_list" rows="5"
                                          ng-class="{'form_dangus':couponadd.mobile_list}">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">优惠劵开始时间<span
                                    class="form_label_dangus">*</span></label>

                            <div class="col-sm-4">
                                <p class="input-group">
                                    <input type="date" class="form-control" datepicker-popup
                                           ng-model="couponadd.start_time" is-open="openstart_a" min-date="minDate"
                                           date-disabled="disabled(date, mode)" ng-required="true" ng-change="changed()"
                                           close-text="关闭"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openstart($event);">
                                            <i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">优惠劵结束时间<span
                                    class="form_label_dangus">*</span></label>

                            <div class="col-sm-4">
                                <p class="input-group">
                                    <input type="date" class="form-control" datepicker-popup
                                           ng-model="couponadd.expire_time" is-open="openend_a" min-date="minDate"
                                           date-disabled="disabled(date, mode)" ng-required="true" ng-change="changed()"
                                           close-text="关闭"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openend($event);">
                                            <i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="checkbox-inline">
                                    <label>
                                        <input type="checkbox" ng-model="couponadd_param.is_nofity"
                                               ng-true-value="'1'" ng-false-value="'0'">通知用户
                                    </label>
                                </div>
                                <input class="form-control" ng-class="{'form_dangus':couponadd.notify_content}"
                                       ng-disabled="couponadd_param.is_nofity != 1"
                                       ng-change="couponadd.notify_content = 0"
                                       ng-model="couponadd_param.notify_content"
                                       placeholder="请输入通知内容，写点有诱惑力的！！！">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-success" ng-click="save()">发布</a>
        </div>
    </div>
</div>