<script type="text/ng-template" id="user_list.html">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="activityTitle"></h3>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered">
            <thead>
            <th>用户ID</th>
            <th>用户姓名</th>
            <th>手机号码</th>
            <th>所在小区</th>
            <th>详细地址</th>
            </thead>
            <tbody>
            <tr bindonce ng-repeat="user in user_list">
                <td><span class="msg_title" bo-text="user.user_id"></span></td>
                <td><span class="msg_title" bo-text="user.name"></span></td>
                <td><span class="msg_title" bo-text="user.mobile"></span></td>
                <td><span class="msg_title" bo-text="user.community_name"></span></td>
                <td><span class="msg_title" bo-text="user.family_address"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">优惠劵列表</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('couponAdd');">新增优惠劵</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                <th>ID</th>
                <th>适用范围</th>
                <th>商品品类</th>
                <th>商品类型(频率)</th>
                <th>额度</th>
                <th>优惠劵名称</th>
                <th>发送用户</th>
                <th>下发时间</th>
                <th>有效期</th>
                <th>状态</th>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="item in coupon_list">
                    <td><span class="msg_title" bo-text="item.id"></span></td>
                    <td><span class="msg_title" bo-text="item.category | coupon_category"></span></td>
                    <td><span class="msg_title" bo-text="item.sku |coupon_sku"></span></td>
                    <td><span class="msg_title" bo-text="item.commodity_type | coupon_commodity_type"></span></td>
                    <td><span class="msg_title" bo-text="item.price"></span></td>
                    <td><span class="msg_title" bo-text="item.title"></span></td>
                    <td>
                        <a class="btn btn-info" ng-click="user_list(item.id,$index);">
                            <span class="msg_title" bo-text="item.send_count"></span>
                            <a>
                    </td>
                    <td><span class="msg_title" bo-text="item.start_time"></span></td>
                    <td><span class="msg_title" bo-text="item.expire_time"></span></td>
                    <td><span class="msg_title" bo-text="item.status | coupon_status"></span></td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" id="pagination">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            max-size="maxSize" class="pagination"
                            boundary-links="true" ng-change="getapi(currentPage)"
                            rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>