<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }

    .tongzhiheight {
        height: 600px;
    }

    .tongzhieditor {
        width: 100%;
        height: 546px;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">新增积分商品</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="tiaozhuan();">积分商品管理</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="span10 tongzhiheight">
                <div class="col-md-6">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品类型<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="good_type" ng-model="creditAdd_param.good_type"
                                               ng-value="1">
                                        抽奖
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="good_type" ng-model="creditAdd_param.good_type"
                                               ng-value="2">
                                        优惠劵
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="good_type" ng-model="creditAdd_param.good_type"
                                               ng-value="3">
                                        实物
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序数值<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" type='number' id="title"
                                       ng-class="{'form_dangus':creditAdd.sort_num}"
                                       ng-change="creditAdd.sort_num = 0" ng-model="creditAdd_param.sort_num"
                                       placeholder="排序数值">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品城市<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <select class="form-control" ng-class="{'form_dangus':creditAdd.city}"
                                        ng-options="city_name for city_name in city_names"
                                        ng-model="creditAdd_param.city"
                                        ng-disabled="{{current_city_name && current_city_name != '未登录'}}">
                                    <option value="" disabled="true">请选择一个城市</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品名称<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9"><input class="form-control" id="title"
                                                         ng-class="{'form_dangus':creditAdd.title}"
                                                         ng-change="creditAdd.title = 0"
                                                         ng-model="creditAdd_param.title"
                                                         placeholder="商品名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">消耗积分<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" type="number" id="credit"
                                       ng-class="{'form_dangus':creditAdd.credit}"
                                       ng-change="creditAdd.credit = 0" ng-model="creditAdd_param.credit"
                                       placeholder="消耗积分">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">开始时间<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-4">
                                <p class="input-group">
                                    <input type="date" class="form-control" datepicker-popup
                                           ng-model="creditAdd.start.dt" is-open="openedstart" min-date="minDate"
                                           date-disabled="disabled(date, mode)" ng-required="true"
                                           ng-change="changed();" close-text="关闭"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openstart($event)"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <timepicker ng-model="creditAdd.start.tp" show-meridian="false"
                                            show-spinners='false' mousewheel="false" arrowkeys="true"
                                            ng-change="changed();">
                                </timepicker>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">结束时间<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-4">
                                <p class="input-group">
                                    <input type="date" class="form-control" datepicker-popup ng-model="creditAdd.end.dt"
                                           is-open="openedend" min-date="minDate"
                                           date-disabled="disabled(date, mode)" ng-required="true"
                                           ng-change="changed();" close-text="关闭"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openend($event)"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <timepicker ng-model="creditAdd.end.tp" show-meridian="false"
                                            show-spinners="false" mousewheel="false" arrowkeys="true"
                                            ng-change="changed();">
                                </timepicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">库存总数<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-3">
                                <input class="form-control" type="number" id="stock"
                                       ng-class="{'form_dangus':creditAdd.stock}"
                                       ng-change="creditAdd.stock = 0;" ng-model="creditAdd_param.stock"
                                       placeholder="库存总数">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">兑换说明<span class="form_label_dangus">*</span></label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="intro" rows="5" ng-class="{'form_dangus':creditAdd.intro}"
                                          ng-change="creditAdd.intro = 0" ng-model="creditAdd_param.intro"
                                          placeholder="兑换说明"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="home_dangus" ng-repeat="alert in alerts" ng-click="closeAlert($index)">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <strong>{{alert.msg}}</strong>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="col-sm-12 form-group">
                        <label>商品图片</label>
                    </div>
                    <div class="col-sm-12">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th width="50%">图片名称</th>
                                <th width="10%" ng-show="uploader.isHTML5">大小</th>
                                <th width="20%" ng-show="uploader.isHTML5">上传进度</th>
                                <th width="10%">状态</th>
                                <th width="10%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue" class="ng-scope">
                                <td>
                                    <strong class="ng-binding" ng-bind="item.file.name"></strong>

                                    <div ng-show="uploader.isHTML5"
                                         ng-thumb="{ file: item._file, height: 100 , itemobj : item}"></div>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap="" class="ng-binding">
                                    {{item.file.size/1024/1024|number:2}}MB
                                </td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar"
                                             ng-style="{ 'width': item.progress + '%' }" style="width: 0%;"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap="">
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                            ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> 上传
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                                            ng-disabled="!item.isUploading" disabled="disabled">
                                        <span class="glyphicon glyphicon-ban-circle"></span> 取消
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> 移除
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--<div>-->
                        <!--<div>-->
                        <!--上传过程:-->
                        <!--<div class="progress" style="">-->
                        <!--<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">-->
                        <!--<span class="glyphicon glyphicon-upload"></span> 全部上传-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">-->
                        <!--<span class="glyphicon glyphicon-ban-circle"></span> 全部取消-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">-->
                        <!--<span class="glyphicon glyphicon-trash"></span> 全部移除-->
                        <!--</button>-->
                        <!--</div>-->
                        <br/>

                        <div class="col-sm-12 form-group">
                            <input class="form-control" type="file" nv-file-select="" uploader="uploader" multiple/>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label>商品说明</label>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="span6">
                            <div class="ueditor tongzhieditor" ready="ready" ng-model="content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-success" ng-click="save()">保存</a>
        </div>
    </div>
</div>