<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }
</style>
<script type="text/ng-template" id="user_list.html">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="activityTitle"></h3>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-bordered">
            <thead>
            <th>用户ID</th>
            <th>用户姓名</th>
            <th>手机号码</th>
            <th>所在小区</th>
            <th>注册时间</th>
            <th>使用邀请码时间</th>
            </thead>
            <tbody>
            <tr bindonce ng-repeat="user in user_list">
                <td><span class="msg_title" bo-text="user.user_id"></span></td>
                <td><span class="msg_title" bo-text="user.name"></span></td>
                <td><span class="msg_title" bo-text="user.mobile"></span></td>
                <td><span class="msg_title" bo-text="user.community_name"></span></td>
                <td><span class="msg_title" bo-text="user.created_at"></span></td>
                <td><span class="msg_title" bo-text="user.verify_et"></span></td>
            </tr>
            </tbody>
        </table>
        <div class="text-center" id="pagination">
            <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                        max-size="maxSize" class="pagination"
                        boundary-links="true" ng-change="getapi(currentPage)" items-per-page="10"
                        rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                        first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<script type="text/ng-template" id="addinvite.html">
    <div class="modal-header">
        <h3 class="modal-title">创建开门密码</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">用途，渠道描述<span class="form_label_dangus">*</span></label>

                <div class="col-sm-9">
                                <textarea class="form-control" rows="3" id="channel"
                                          ng-class="{'form_dangus':addinvite.channel}"
                                          ng-change="addinvite.channel = 0;"
                                          ng-model="addinvite_param.channel"
                                          placeholder="用途，渠道描述"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">邀请码<span class="form_label_dangus">&nbsp;</span></label>

                <div class="col-sm-9">
                    <input class="form-control" id="title" ng-class="{'form_dangus':addinvite.invite_code}"
                           ng-change="addinvite.invite_code = 0" ng-model="addinvite_param.invite_code"
                           placeholder="可选 可后台自动时生成">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8 home_dangus" ng-repeat="alert in alerts"
                     ng-click="closeAlert($index)">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <strong>{{alert.msg}}</strong>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">邀请码列表</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-primary" ng-click="addinvite();">创建开门密码</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                <th>序号</th>
                <th>用途，渠道描述</th>
                <th>开门密码</th>
                <th>创建时间</th>
                <th>已使用次数</th>
                <th>下载页面链接</th>
                <!--<th>页面访问次数/用户</th>-->
                <th>创建者</th>
                <th>状态</th>
                <th>操作</th>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="invite in invite_list">
                    <td><span class="msg_title" bo-text="invite.invitation_id"></span></td>
                    <td><span class="msg_title" bo-text="invite.channel"></span></td>
                    <td><span class="msg_title" bo-text="invite.invite_code"></span></td>
                    <td><span class="msg_title" bo-text="invite.created_at | null2empty"></span></td>
                    <td>
                        <a class="btn btn-success" ng-click="user_list(invite.invite_code,$index);">
                            <span class="msg_title" bo-text="invite.use_count"></span>
                        <a>
                    </td>
                    <td><span class="msg_title" bo-text="invite.invitation_id | id_invite_url"></span></td>
                    <td><span class="msg_title" bo-text="invite.creator"></span></td>
                    <td><span class="msg_title" ng-bind="invite.status | invite_status"></span></td>
                    <td>
                        <a class="btn btn-danger" ng-if="invite.status == '1'"
                           ng-click="update(invite, '2', $index);">停用</a>
                        <a class="btn btn-success" ng-if="invite.status == '2'"
                           ng-click="update(invite, '1', $index);">使用</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" id="pagination">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            max-size="maxSize" class="pagination"
                            boundary-links="true" ng-change="getapi(currentPage)" items-per-page="10"
                            rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>