<style>
    #list>thead>tr>th{
        border-bottom: 0;
        text-align: center;
    }
    .img_a{
        display: inline-block;
        width: 50px;
        max-height: 50px;
        max-width: 30%;
        cursor:pointer;
        margin-right: 3px;
    }
    .img_a>img{
        width: 50px;
        height: 50px;
    }
    .big_pic{
        width: 500px;
        max-width: 100%;
        max-height: 100%;
    }
    .img_a.big_pic>img{
        width: auto;
        height: auto;
    }
    #pagination{
        position: fixed;
        bottom: 20px;
        right: 50px;
        background: #999;
        padding: 0 25px;
        opacity: 0.8;
        border-radius: 5px;
    }
    .address{
        color: #999;
        font-size: 12px;
    }
    .panel{
        box-shadow:0 1px 1px rgba(0, 0, 0, 0);
    }
</style>
<script type="text/ng-template" id="add_tmp.html">
    <div class="modal-header">
        <h3 class="modal-title">小区图书馆</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">图书名称<span class="form_label_dangus">*</span></label>
                <div class="col-sm-9">
                    <input class="form-control" id="title" ng-class="{'form_dangus':lib_detail.title}"
                           ng-change="lib_detail.title = 0" ng-model="tmp_param.title"
                           placeholder="标题">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">图书内容<span class="form_label_dangus">*</span></label>
                <div class="col-sm-9">
                    <input class="form-control" id="note "  ng-class="{'form_dangus':lib_detail.note }"
                           ng-change="lib_detail.note  = 0;" ng-model="tmp_param.note "
                           placeholder="活动人数">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">封面图<span class="form_label_dangus">*</span></label>
                <div class="col-sm-9">
                    <input class="form-control" type="file" nv-file-select="" uploader="uploader" accept="image/*"  />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3 ">
                    <a class="btn btn-success" ng-click="uploader.uploadAll();closeAlert();">上传</a>
                    <a class="btn btn-danger"
                       ng-click="uploader.clearQueue();tmp_param.pics_info='';">删除</a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <img class="img-responsive" ng-src="{{imgtmp.image}}" ng-if="tmp_param.pics_info">
                </div>
            </div>
            <div class="form-group">
                <div class="home_dangus" ng-repeat="alert in alerts" ng-click="closeAlert($index)">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <strong>{{alert.msg}}</strong>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">更新</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">图书馆</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('library');">小区图书馆</a>
                </div>
            </div>
            <div class="panel">
                <div class="col-sm-6">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <a class="btn btn-primary" ng-click="add_tmp();">添加图书目录</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table id="list" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th style="width: 5%;">编号</th>
                <th style="width: 15%;">图书名称</th>
                <th style="width: 40%;">介绍</th>
                <th style="width: 45%;">图片</th>
            </tr>
            </thead>
            <tbody>
            <tr bindonce ng-repeat="libTmp in libTmp_list track by libTmp.share_id"  ng-if="libTmp">
                <td class="text-center"><span bo-text="libTmp.share_id"></span></td>
                <td class="text-center"><span bo-text="libTmp.share_title"></span></td>
                <td class="text-center"><span bo-text="libTmp.share_note"></span></td>
                <td class="text-center">
                    <div class="img_a" ng-class="{big_pic:libTmp.toggleclass}" ng-if="libTmp.pics" >
                        <img class="img-responsive" bo-src="libTmp.pics[0].pic_url" ng-click="libTmp.toggleclass = !libTmp.toggleclass"/>
                    </div>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" id="pagination">
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination" boundary-links="true" ng-change="getapi(currentPage)"
                    rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
</div>