<div class="row" ng-keypress="login_keypress($event);">
    <div class="col-md-offset-3 col-md-6">
        <div class="modal-header">
            <h3 class="modal-title">登录</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">用户名<span class="form_label_dangus">*</span></label>
                    <div class="col-sm-6">
                        <input class="form-control" ng-model="uname" placeholder="用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">密码<span class="form_label_dangus">*</span></label>
                    <div class="col-sm-6">
                        <input class="form-control" type="password" ng-model="pwd" placeholder="密码">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">验证码<span class="form_label_dangus">*</span></label>
                    <div class="col-sm-3">
                        <input class="form-control" ng-model="usercode" placeholder="验证码">
                    </div>
                    <div class="col-sm-3">
                        <a class="btn btn-info" ng-click="get_verify_code()" ng-disabled="disabled_get_verify_code">获取验证码
                            <span ng-if="remain_time<time_count" ng-bind="remain_time"></span></a>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="login()">登录</button>
        </div>
    </div>
</div>