<style>
    .community_name{
        width: 300px!important;
    }
    .search_community_list{
        position: absolute;
        top: 100%;
        left: 100%;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
    .search_community_list>li{
        width: 100%;
    }
    .search_community_list>li>a.divider{
        height: 1px;
        margin: 1px 0;
        overflow: hidden;
        background-color: #e5e5e5;
        padding: 0;
    }
    .search_community_list>li>a{
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    .search_community_list>li>a:hover{
        background-color: #13c4a5;
        color: #fff;
    }
    .select_name{
        width: 300px;
        height: 34px;
        margin-right: 15px;
    }
    .community_title{
        height: 20px;
    }
    .add_community{
        padding-right: 18px;
    }
</style>
<script type="text/ng-template" id="verify_community.html">
    <div class="modal-header">
        <h3 class="modal-title">验证小区</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1" ng-if="community_names_array.length>0">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <div class="community_title">
                                <div class="community_name pull-left text-center">申请的小区名称</div>
                                <div class="community_name pull-left text-center">&nbsp;&nbsp;&nbsp;&nbsp;验证后小区名称</div>
                            </div>
                        </li>
                        <li class="list-group-item" ng-repeat="obj in community_names_array track by $index" ng-init="obj.index = $index;">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <input type="text" class="form-control community_name" ng-model="obj.community_name">
                                    <!--<a type="button" class="btn btn-default community_name"-->
                                       <!--ng-bind="obj.community_name"></a>-->
                                    <a type="button" class="btn btn-default"
                                       ng-click="search_community($index, obj.index, obj.community_name);">
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="search_community_list" ng-if="obj.search_community_list">
                                        <li ng-repeat="searchobj in obj.search_community_list track by $index">
                                            <a class="btn" ng-click="select_community($index,obj.index,searchobj.name);"
                                               ng-bind="searchobj.name"></a>
                                        </li>
                                        <li><a class="divider"></a></li>
                                        <li>
                                            <a class="btn" ng-click="obj.search_community_list='';">取消</a>
                                        </li>
                                    </ul>
                                </div>
                                <a type="button" class="btn btn-default select_name"
                                ng-bind="obj.new_community"></a>
                                <a class="btn btn-danger" ng-click="community_names_array.splice($index,1)">删除</a>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="text-right add_community">
                                <a class="btn btn-primary" ng-click="community_names_array.push({community_name: '',new_community : ''})">添加</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="OK()">更新小区数据</button>
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills">
                <li ng-class="{active:tab ==0}"><a class="btn" ng-click="tab=0;getapi(1,0);">全部</a></li>
                <!--<li ng-class="{active:tab ==1}"><a class="btn" ng-click="tab=1;getapi(1,1);">已填写</a></li>-->
                <li ng-class="{active:tab ==2}"><a class="btn" ng-click="tab=2;getapi(1,2);">审核中</a></li>
                <li ng-class="{active:tab ==3}"><a class="btn" ng-click="tab=3;getapi(1,3);">已通过</a></li>
                <li ng-class="{active:tab ==4}"><a class="btn" ng-click="tab=4;getapi(1,4);">不通过</a></li>
            </ul>
        </div>
        <table id="list" class="table table-hover table-bordered">
            <thead>
            <tr>
                <th style="width: 5%;">ID</th>
                <th style="width: 10%;">机构名称</th>
                <th style="width: 5%;">机构类别</th>
                <th style="width: 25%;">运营者（姓名，电话，邮箱）</th>
                <th style="width: 20%;">负责小区</th>
                <th style="width: 10%;">注册时间</th>
                <th style="width: 10%;">状态</th>
                <th style="width: 15%;" >操作</th>
            </tr>
            </thead>
            <tbody>
            <tr bindonce ng-repeat="org in org_list track by org.org_id"  ng-if="org" ng-init="org.index = $index">
                <td><span bo-text="org.org_id"></span></td>
                <td><span bo-text="org.org_name"></span></td>
                <td><span bo-text="org.org_type"></span></td>
                <td><span bo-text="org.applicant+' | '+org.mobile+' | '+org.email"></span></td>
                <td>
                    <span ng-bind="org.community_names"></span><a class="btn btn-success" ng-click="verify_community(org,org.index);">验证小区</a>
                </td>
                <td><span bo-text="org.created_at|limitTo:10"></span></td>
                <td><span bo-text="org.verify_status|verify_status"></span></td>
                <td>
                    <div ng-if="tab==0">
                        <a class="btn btn-primary" ng-click="orgstatus(org.org_id, 2, org.index);">申请中</a>
                        <a class="btn btn-success" ng-click="orgstatus(org.org_id, 3, org.index);">通过</a>
                        <a class="btn btn-danger" ng-click="orgstatus(org.org_id, 4, org.index);">不通过</a>
                    </div>
                    <div ng-if="tab==2">
                        <a class="btn btn-success" ng-click="orgstatus(org.org_id, 3, org.index);">通过</a>
                        <a class="btn btn-danger" ng-click="orgstatus(org.org_id, 4, org.index);">不通过</a>
                    </div>
                    <div ng-if="tab==3">
                        <a class="btn btn-danger" ng-click="orgstatus(org.org_id, 4, org.index);">不通过</a>
                    </div>
                    <div ng-if="tab==4">
                        <a class="btn btn-primary" ng-click="orgstatus(org.org_id, 2, org.index);">恢复申请</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" id="pagination">
        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination" boundary-links="true" ng-change="getapi(currentPage)"
                    rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
</div>
