<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">话题列表</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('topicAdd');">新增话题</a>
                </div>
            </div>
            <ul class="nav nav-pills">
                <!--<li role="presentation" ng-class="{active:list_param.category ==0}">-->
                <!--<a class="btn btn-default" ng-click="list_param.category=0;getapi(1,0);">全部</a>-->
                <!--</li>-->
                <li role="presentation" ng-class="{active:list_param.category ==1}">
                    <a class="btn btn-default" ng-click="list_param.category=1;getapi(1,1);">普通话题</a>
                </li>
                <li role="presentation" ng-class="{active:list_param.category ==2}">
                    <a class="btn btn-default" ng-click="list_param.category=2;getapi(1,2);">活动话题</a>
                </li>
                <!--<li role="presentation" >-->
                <!--<a class="btn btn-default" ng-click="$state.go('hotTopic');">热门话题</a>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                <th style="width:5%">话题ID</th>
                <th style="width:15%">话题名称</th>
                <th style="width:10%">话题上线时间</th>
                <th ng-if="list_param.category==2">话题相关活动</th>
                <!--<th style="width:10%">话题页面</th>-->
                <th style="width:10%">覆盖小区</th>
                <th style="width:5%">参与热度</th>
                <th style="width:5%">管理员</th>
                <th style="width:10%">标题图片</th>
                <th style="width:5%">当前状态</th>
                <th style="width:10%">操作</th>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="topic in topic_list">
                    <td><span class="msg_title" bo-text="topic.topic_id"></span></td>
                    <td><span class="msg_title" bo-text="topic.title"></span></td>
                    <td><span class="msg_title" bo-text="topic.start_time +' ~ ' + topic.end_time"></span></td>
                    <td ng-if="list_param.category==2"><span class="msg_title"
                                                             bo-text="'【'+topic.activity_id+'】'+topic.title"></span>
                    </td>
                    <!--<td><span class="msg_title" style="max-width: 200px;display: inline-block;overflow: hidden; text-overflow:ellipsis" bo-text="topic.url"></span></td>-->
                    <td><span class="msg_title" bo-text="topic.target_type | target_type"></span></td>
                    <td><span class="msg_title" bo-text="topic.feed_total"></span></td>
                    <td><span class="msg_title" bo-text="topic.account_id"></span></td>
                    <td>
                        <div ng-repeat="item in topic.pics">
                            <show_image url="item.pic_url"></show_image>
                            <hr ng-if="!$last">
                        </div>
                    </td>
                    <td><span class="msg_title" ng-bind="topic.status | topic_status"></span></td>
                    <td>
                        <a class="btn btn-info"
                           ng-click="$state.go('topicUpdate', {topicId:topic.topic_id});">编辑</a>
                        <a class="btn btn-danger" ng-if="topic.status == '1'"
                           ng-click="update(topic,'2',$index);">下线</a>
                        <a class="btn btn-success" ng-if="topic.status != '1'"
                           ng-click="update(topic,'1',$index);">上线</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" id="pagination">
                <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                            max-size="maxSize" class="pagination"
                            boundary-links="true" ng-change="getapi(currentPage)" items-per-page="10"
                            rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>
</div>