<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">新增话题</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('topic');">话题管理</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="span10 tongzhiheight">
                <div class="col-md-8">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">话题名称<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" id="title" ng-class="{'form_dangus':topicAdd.title}"
                                       ng-change="topicAdd.title = 0" ng-model="topicAdd_param.title"
                                       placeholder="话题名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">话题标签(##)<span
                                    class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-class="{'form_dangus':topicAdd.tag}"
                                       ng-change="topicAdd.tag = 0" ng-model="topicAdd_param.tag"
                                       placeholder="话题标签">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">相关活动ID<span
                                    class="form_label_dangus">&nbsp;</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-class="{'form_dangus':topicAdd.activity_id}"
                                       ng-change="topicAdd.activity_id = 0" ng-model="topicAdd_param.activity_id"
                                       placeholder="如果为活动话题，请关联活动ID">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">开始时间<span class="form_label_dangus">*</span></label>
                            <hjm_date_time ng-model="topicAdd.start_time"></hjm_date_time>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">结束时间<span class="form_label_dangus">*</span></label>
                            <hjm_date_time ng-model="topicAdd.end_time"></hjm_date_time>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">话题图片</label>

                            <div class="col-sm-9">
                                <show-upload images="topicAdd.pics_list" max="9"></show-upload>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">跳转类型<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <select class="form-control" id="topic_type"
                                        ng-class="{'form_dangus':topicAdd.topic_type}"
                                        ng-options="topic_type.id as topic_type.name for topic_type in topic_types"
                                        ng-change="topicAdd.topic_type = 0;"
                                        ng-model="topicAdd_param.topic_type">
                                    <option value="" disabled="true">话题跳转类型</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-if="topicAdd_param.topic_type==2">
                            <label class="col-sm-3 control-label">H5的URL<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-class="{'form_dangus':topicAdd.url}"
                                       ng-change="topicAdd.url = 0" ng-model="topicAdd_param.url"
                                       placeholder="H5的URL"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">话题介绍<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                            <textarea class="form-control" rows="5" ng-class="{'form_dangus':topicAdd.content}"
                                      ng-change="topicAdd.content = 0" ng-model="topicAdd_param.content"
                                      placeholder="话题介绍"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">覆盖小区<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="target_type"
                                               ng-model="topicAdd.target_type" ng-value="0"
                                               ng-click="init_ids();">
                                        全部小区
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="target_type"
                                               ng-model="topicAdd.target_type" ng-value="1">
                                        部分小区可见
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="target_type"
                                               ng-model="topicAdd.target_type" ng-value="2">
                                        部分小区不可见
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-9" ng-if="topicAdd.target_type!=0">
                                <select-community ng-model="topicAdd.ids"></select-community>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-success" ng-click="save()">保存</a>
        </div>
    </div>
</div>