<style>
    .form_dangus {
        border-color: #E21100;
    }

    .form_label_dangus {
        color: #E21100;
        vertical-align: middle;
        font-size: 24px;
    }

    .tongzhiheight {
        height: 600px;
    }

    .tongzhieditor {
        width: 100%;
        height: 546px;
    }

    .search_community_list {
        position: absolute;
        top: 100%;
        z-index: 1000;
        float: left;
        min-width: 160px;
        pUpdateing: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: pUpdateing-box;
        background-clip: pUpdateing-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        -webkit-padding-start: 0px;
    }

    .search_community_list > li {
        width: 100%;
    }

    .search_community_list > li > a.divider {
        height: 1px;
        margin: 1px 0;
        overflow: hidden;
        background-color: #e5e5e5;
        pUpdateing: 0;
    }

    .search_community_list > li > a {
        display: block;
        pUpdateing: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }

    .search_community_list > li > a:hover {
        background-color: #13c4a5;
        color: #fff;
    }

    .select_name {
        width: 100%;
        line-height: 26px;
        height: 34px;
        margin-right: 15px;
    }

    .community_title {
        height: 20px;
    }

    .Update_community {
        pUpdateing-right: 18px;
    }

    .community_li_div {
        width: 100%;
    }

    .community_li_div > .input-group-btn {
        width: 50%;
    }

    .community_li_div > .input-group-btn > input {
        width: 100%;
    }

    .community_name {
        position: relative;
        width: 100% !important;
    }

    .contents {
        border: 1px #ccc solid;
        pUpdateing-top: 10px;
        margin-bottom: 15px;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">编辑话题</div>
        <div class="panel-body">
            <div class="panel">
                <div class="panel-heading">
                    <a class="btn btn-info" ng-click="$state.go('topic');">话题管理</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="span10 tongzhiheight">
                <div class="col-md-8">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">话题名称<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" id="title" ng-class="{'form_dangus':topicUpdate.title}"
                                       ng-change="topicUpdate.title = 0" ng-model="topicUpdate_param.title"
                                       placeholder="话题名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">主题(##)<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-class="{'form_dangus':topicUpdate.tag}"
                                       ng-change="topicUpdate.tag = 0" ng-model="topicUpdate_param.tag"
                                       placeholder="主题">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">相关活动ID<span
                                    class="form_label_dangus">&nbsp;</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-class="{'form_dangus':topicUpdate.activity_id}"
                                       ng-change="topicUpdate.activity_id = 0" ng-model="topicUpdate_param.activity_id"
                                       placeholder="活动ID">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">开始时间<span class="form_label_dangus">*</span></label>

                            <div class="">
                                <hjm_date_time ng-model="topicUpdate_param.start_time" showtip="1"></hjm_date_time>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">结束时间<span class="form_label_dangus">*</span></label>

                            <div class="">
                                <hjm_date_time ng-model="topicUpdate_param.end_time"></hjm_date_time>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">话题图片</label>

                            <div class="col-sm-9">
                                <show-upload images="topicUpdate_oldshow.pics_info" max="9"
                                             hasimages="!iscompleted"></show-upload>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">跳转类型<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <select class="form-control" id="topic_type"
                                        ng-class="{'form_dangus':topicUpdate.topic_type}"
                                        ng-options="topic_type.id as topic_type.name for topic_type in topic_types"
                                        ng-change="topicUpdate.topic_type = 0;"
                                        ng-model="topicUpdate_param.topic_type">
                                    <option value="" disabled="true">话题跳转类型</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-if="topicUpdate_param.topic_type==2">
                            <label class="col-sm-3 control-label">H5的URL<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <input class="form-control" ng-class="{'form_dangus':topicUpdate.url}"
                                       ng-change="topicUpdate.url = 0" ng-model="topicUpdate_param.url"
                                       placeholder="H5的URL"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">规则<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                            <textarea class="form-control" rows="5" ng-class="{'form_dangus':topicUpdate.content}"
                                      ng-change="topicUpdate.content = 0" ng-model="topicUpdate_param.content"
                                      placeholder="规则"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">覆盖小区<span class="form_label_dangus">*</span></label>

                            <div class="col-sm-9">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="target_type"
                                               ng-model="topicUpdate_oldshow.target_type" ng-value="0"
                                               ng-click="init_ids()">
                                        全部小区
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="target_type"
                                               ng-model="topicUpdate_oldshow.target_type" ng-value="1">
                                        包括小区
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="target_type"
                                               ng-model="topicUpdate_oldshow.target_type" ng-value="2">
                                        不包括小区
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-9" ng-if="topicUpdate_oldshow.target_type!=0">
                                <select-community ng-model="topicUpdate_oldshow.ids"></select-community>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-success" ng-click="save()">保存</a>
        </div>
    </div>
</div>